force-app/main/default/flows/actualStandardSoftwareVersionAction.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>redirectRequest</name>
        <label>redirectRequest</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <actionName>c:OPP_RedirectFlow</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>requestItems</name>
        <dataType>String</dataType>
        <displayField>Software_Other__c</displayField>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <object>OPP_Case_Line_Items__c</object>
        <outputAssignments>
            <assignToReference>itemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>softwareVersionValue</name>
        <dataType>String</dataType>
        <displayField>CHILDSOFTWAREVERSION__c</displayField>
        <filters>
            <field>Parent_Software__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopActualVersion.OPP_Software_Asset__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Parent_Software__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OPP_Software_Asset__c</object>
        <outputAssignments>
            <assignToReference>softwareId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CHILDSOFTWAREVERSION__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CHILDSOFTWAREVERSION__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>actualStandardSoftwareVersionAction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>actualStandardSoftwareVersionAction</label>
    <loops>
        <name>loopActualVersion</name>
        <label>loopActualVersion</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>getItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>itemScreen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>redirectRequest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getItems</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>getItems</name>
        <label>getItems</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopActualVersion</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <object>OPP_Case_Line_Items__c</object>
    </recordLookups>
    <recordUpdates>
        <name>updateActualVersion</name>
        <label>updateActualVersion</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>loopActualVersion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopActualVersion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Software_Version__c</field>
            <value>
                <elementReference>softwareId</elementReference>
            </value>
        </inputAssignments>
        <object>OPP_Case_Line_Items__c</object>
    </recordUpdates>
    <screens>
        <name>itemScreen</name>
        <label>Request Item</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateActualVersion</targetReference>
        </connector>
        <fields>
            <name>itemScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>itemScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>itemScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getCase</startElementReference>
    <status>Active</status>
    <variables>
        <name>itemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>itemIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OPP_Case_Line_Items__c</objectType>
    </variables>
    <variables>
        <name>itemLists</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>softwareId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
