force-app/main/default/flows/ButtonCloseOpportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assignBidding</name>
        <label>assignBidding</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>pickedStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickBiddingStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtBiddingDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtNextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtBiddingNextStep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignJointBidding</name>
        <label>assignJointBidding</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>pickedStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickJointStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtJointDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtNextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtJointNextStep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickedLostReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickJointLostReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtLostReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtJointOtherLostReasons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickedSalesContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickSalesContractRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickedApprovalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickCustomerApprovalStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewProduct</name>
        <label>assignNewProduct</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>pickedStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickNewStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtNewDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtNextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtNewNextStep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickedLostReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickNewLostReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtLostReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtNewOtherLostReasons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpty</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>varBiddingClosed</name>
        <choiceText>Bidding Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bidding Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>varLost</name>
        <choiceText>Closed Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>varWon</name>
        <choiceText>Closed Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <decisions>
        <name>checkRecordType</name>
        <label>checkRecordType</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>updateOpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Master</defaultConnectorLabel>
        <rules>
            <name>typeCustomerBidding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpty.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Bidding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenBidClosing</targetReference>
            </connector>
            <label>Customer Bidding</label>
        </rules>
        <rules>
            <name>typeNewProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpty.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Product/HVP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenNewProductClosing</targetReference>
            </connector>
            <label>New Product</label>
        </rules>
        <rules>
            <name>typeJointBidding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpty.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Joint Bidding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenJointClosing</targetReference>
            </connector>
            <label>Joint Bidding</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varApprovalStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CustomerApprovalStatus__c</picklistField>
        <picklistObject>C360_Opportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varLostReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LostReason__c</picklistField>
        <picklistObject>C360_Opportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varSalesContract</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SalesContractRequired__c</picklistField>
        <picklistObject>C360_Opportunity__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Button: Close Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Button: Close Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getOpty</name>
        <label>getOpty</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>C360_Opportunity__c</object>
    </recordLookups>
    <recordUpdates>
        <name>updateOpty</name>
        <label>updateOpty</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>screenFinish</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpty.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CustomerApprovalStatus__c</field>
            <value>
                <elementReference>pickedApprovalStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>txtDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LostReason__c</field>
            <value>
                <elementReference>pickedLostReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>txtNextStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Lost_Reasons__c</field>
            <value>
                <elementReference>txtLostReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesContractRequired__c</field>
            <value>
                <elementReference>pickedSalesContract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>pickedStage</elementReference>
            </value>
        </inputAssignments>
        <object>C360_Opportunity__c</object>
    </recordUpdates>
    <screens>
        <name>screenBidClosing</name>
        <label>screenBidClosing</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignBidding</targetReference>
        </connector>
        <fields>
            <name>pickBiddingStage</name>
            <choiceReferences>varBiddingClosed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>varBiddingClosed</defaultSelectedChoiceReference>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtBiddingDescription</name>
            <defaultValue>
                <stringValue>{!getOpty.Description__c}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtBiddingNextStep</name>
            <defaultValue>
                <stringValue>{!getOpty.Next_Step__c}</stringValue>
            </defaultValue>
            <fieldText>Next Step</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFinish</name>
        <label>screenFinish</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFinish</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your opportunity has been updated successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenJointClosing</name>
        <label>screenJointClosing</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignJointBidding</targetReference>
        </connector>
        <fields>
            <name>pickJointStage</name>
            <choiceReferences>varWon</choiceReferences>
            <choiceReferences>varLost</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varBiddingClosed</elementReference>
            </defaultValue>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pickJointLostReason</name>
            <choiceReferences>varLostReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lost Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtJointOtherLostReasons</name>
            <dataType>String</dataType>
            <fieldText>Other Lost Reasons</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pickSalesContractRequired</name>
            <choiceReferences>varSalesContract</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Contract Required?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pickCustomerApprovalStatus</name>
            <choiceReferences>varApprovalStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Approval Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtJointDescription</name>
            <defaultValue>
                <stringValue>{!getOpty.Description__c}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtJointNextStep</name>
            <defaultValue>
                <stringValue>{!getOpty.Next_Step__c}</stringValue>
            </defaultValue>
            <fieldText>Next Step</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNewProductClosing</name>
        <label>screenNewProductClosing</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignNewProduct</targetReference>
        </connector>
        <fields>
            <name>pickNewStage</name>
            <choiceReferences>varWon</choiceReferences>
            <choiceReferences>varLost</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varBiddingClosed</elementReference>
            </defaultValue>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pickNewLostReason</name>
            <choiceReferences>varLostReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lost Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtNewOtherLostReasons</name>
            <dataType>String</dataType>
            <fieldText>Other Lost Reasons</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtNewDescription</name>
            <defaultValue>
                <stringValue>{!getOpty.Description__c}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtNewNextStep</name>
            <defaultValue>
                <stringValue>{!getOpty.Next_Step__c}</stringValue>
            </defaultValue>
            <fieldText>Next Step</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>getOpty</startElementReference>
    <status>Active</status>
    <variables>
        <name>pickedApprovalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pickedLostReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pickedSalesContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pickedStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtLostReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtNextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
