force-app/main/default/flows/ButtonNewContractLineItem.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>checkSalesOrg</name>
        <label>checkSalesOrg</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>screenDone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>orgLabix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContract.SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1700</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenLabix</targetReference>
            </connector>
            <label>Sales Org = LABIX</label>
        </rules>
        <rules>
            <name>orgTS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getContract.SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContract.SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContract.SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContract.SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9300</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContract.SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9400</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSolvent</targetReference>
            </connector>
            <label>Sales Org = TS</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>contractVolumeUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ContractVolumeUOM__c</picklistField>
        <picklistObject>C360_ContractLineItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>freeVolumeUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FreeVolumeUOM__c</picklistField>
        <picklistObject>C360_ContractLineItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>minimumVolumeUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MinimumVolumeUOM__c</picklistField>
        <picklistObject>C360_ContractLineItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>orderQuantityUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SalesUnit__c</picklistField>
        <picklistObject>C360_ContractLineItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pricingUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PricingUnit__c</picklistField>
        <picklistObject>C360_ContractLineItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>valCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>C360_ContractLineItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>volumeRangeUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VolumeRangeUOM__c</picklistField>
        <picklistObject>C360_ContractLineItem__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Button: New Contract Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Button: New Contract Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>newLabix</name>
        <label>newLabix</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>screenLabixFinish</targetReference>
        </connector>
        <inputAssignments>
            <field>ContractVolumeUOM__c</field>
            <value>
                <elementReference>labixContractVolumeUOM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractVolume__c</field>
            <value>
                <elementReference>labixContractVolume</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>contractLabixId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FreeVolumeUOM__c</field>
            <value>
                <elementReference>labixFreeVolumeUOM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FreeVolume__c</field>
            <value>
                <elementReference>labixFreeVolume</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoadingEndDate__c</field>
            <value>
                <elementReference>labixLoadingEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoadingStartDate__c</field>
            <value>
                <elementReference>labixLoadingStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MinimumPrice__c</field>
            <value>
                <elementReference>labixMinimumPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MinimumVolumeUOM__c</field>
            <value>
                <elementReference>labixMinimumVolumeUOM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MinimumVolume__c</field>
            <value>
                <elementReference>labixMinimumVolume</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderQuantity__c</field>
            <value>
                <elementReference>labixOrderQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>labixPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricingUnit__c</field>
            <value>
                <elementReference>labixPricingUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>productLabixId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesUnit__c</field>
            <value>
                <elementReference>labixSalesUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipTo__c</field>
            <value>
                <elementReference>labixShipTo.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VolumeRangeTo__c</field>
            <value>
                <elementReference>VolumeRange_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VolumeRangeUOM__c</field>
            <value>
                <elementReference>labixVolumeRangeUOM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VolumeRange__c</field>
            <value>
                <elementReference>labixVolumeRange</elementReference>
            </value>
        </inputAssignments>
        <object>C360_ContractLineItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>newSolvent</name>
        <label>newSolvent</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>screenSolventFinish</targetReference>
        </connector>
        <inputAssignments>
            <field>ContractVolumeUOM__c</field>
            <value>
                <elementReference>solventContractVolumeUOM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractVolume__c</field>
            <value>
                <elementReference>solventContractVolume</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>contractSolventId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>solventPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricingUnit__c</field>
            <value>
                <elementReference>solventPricingUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>productSolventId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipTo__c</field>
            <value>
                <elementReference>tsShipTo.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>C360_ContractLineItem__c</object>
    </recordCreates>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSalesOrg</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>C360_Contract__c</object>
    </recordLookups>
    <screens>
        <name>screenDone</name>
        <label>screenDone</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtDone</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please recheck your sales organization before adding a new contract line item.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenLabix</name>
        <label>screenLabix</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>newLabix</targetReference>
        </connector>
        <fields>
            <name>contractLabixId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contract__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>C360_ContractLineItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getContract.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>labixShipTo</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ShipTo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ship-To Party</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>C360_ContractLineItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>productLabixId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>C360_ContractLineItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spotVolumeInformation</name>
            <fieldText>Volume Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>spotPriceInformation</name>
            <fieldText>Price Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>labixLoadingInformation</name>
            <fieldText>Loading Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenLabixFinish</name>
        <label>screenLabixFinish</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtSpotFinish</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your contract line item has been saved.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSolvent</name>
        <label>screenSolvent</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>newSolvent</targetReference>
        </connector>
        <fields>
            <name>contractSolventId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contract__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>C360_ContractLineItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getContract.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>tsShipTo</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ShipTo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ship-To Party</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>C360_ContractLineItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>productSolventId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>C360_ContractLineItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spotVolumeInformation_0</name>
            <fieldText>Volume Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>spotPriceInformation_0</name>
            <fieldText>Price Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSolventFinish</name>
        <label>screenSolventFinish</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtTermFinish</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your contract line item has been saved.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>getContract</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
