force-app/main/default/flows/ButtonContractActionTaken.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>checkActionTaken</name>
        <label>checkActionTaken</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>screenConfirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Action Taken = FALSE</defaultConnectorLabel>
        <rules>
            <name>ActionTaken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContract.ActionTaken__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenDone</targetReference>
            </connector>
            <label>Action Taken = TRUE</label>
        </rules>
    </decisions>
    <interviewLabel>Button: Contract Action Taken {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Button: Contract Action Taken</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkActionTaken</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>C360_Contract__c</object>
    </recordLookups>
    <recordUpdates>
        <name>updateContract</name>
        <label>updateContract</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>screenFinish</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActionTaken__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>C360_Contract__c</object>
    </recordUpdates>
    <screens>
        <name>screenConfirm</name>
        <label>screenConfirm</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateContract</targetReference>
        </connector>
        <fields>
            <name>txtConfirm</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Have you already taken action for Contract Number:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!getContract.ContractNumber__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; ?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;Note: You can click the cross sign (X) on the top-right to cancel&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenDone</name>
        <label>screenDone</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtDone</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Contract Number: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!getContract.ContractNumber__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;It is already taken any actions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFinish</name>
        <label>screenFinish</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFinish</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Contract Number: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!getContract.ContractNumber__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; has been updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>getContract</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
