force-app/main/default/flows/Convert_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_lead_by_apex</name>
        <label>Convert lead by apex</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <actionName>CTRLeadConvert</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_is_convert</targetReference>
        </connector>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ConvertedAccountId</assignToReference>
            <name>convertedAccountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isExsitingAccount</assignToReference>
            <name>existingAccount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isNewReqHeader</assignToReference>
            <name>isNewReqHeader</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>newRequestHeaderId</assignToReference>
            <name>newRequestHeaderId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>RedirectToAccount</name>
        <label>Redirect to Account</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ConvertedAccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Copy_1_of_InputSeller</name>
        <label>Copy 1 of InputSeller</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>InputSeller</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_ChooseSeller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputBuyer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_ChooseBuyer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InputSeller1</name>
        <label>InputSeller</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>InputSeller</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChooseSeller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputBuyer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChooseBuyer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRec</name>
        <label>Update Rec</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputSeller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Buyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputBuyer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecOrg</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_is_convert</name>
        <label>Check is convert</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Account_New_Header</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExsitingAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewReqHeader</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Converted_With_New_Header</targetReference>
            </connector>
            <label>Existing Account &amp; New Header</label>
        </rules>
        <rules>
            <name>Existing_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExsitingAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewReqHeader</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Converted_No_New_Header</targetReference>
            </connector>
            <label>Existing Account</label>
        </rules>
        <rules>
            <name>New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExsitingAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Converted_success</targetReference>
            </connector>
            <label>New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCountry</name>
        <label>Check Country</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Converted_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_TH_VN_IDN_SGP_IND_HKG_ARE_KOR_MYS_CHN_JPN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SGP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HKG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KOR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MYS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JPN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConvertedLead3</targetReference>
            </connector>
            <label>Copy 1 of TH VN IDN SGP IND HKG ARE KOR MYS CHN JPN</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCurrentUser</name>
        <label>checkCurrentUser</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerIdEqualsToCurrentUserId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId15Digits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCountry</targetReference>
            </connector>
            <label>OwnerId = CurrentUserId</label>
        </rules>
        <rules>
            <name>OwnerIdNotEqualToCurrentUserId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId15Digits</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDoNotAllowToConvert_NotOwner</targetReference>
            </connector>
            <label>OwnerId != CurrentUserId</label>
        </rules>
        <rules>
            <name>UnqualifiedLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDoNotAllowToConvert_Unqualified</targetReference>
            </connector>
            <label>UnqualifiedLead</label>
        </rules>
    </decisions>
    <description>21/03/2024 Change check condition with data from get element in &quot;checkCurrentUser&quot;.</description>
    <dynamicChoiceSets>
        <name>BuyerPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Buyer__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SellerPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Seller__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fmlLeadType</name>
        <dataType>String</dataType>
        <expression>if({!recordId.RecordType.Name} = &quot;TxCustomer&quot;, &quot;customer&quot;, if({!recordId.RecordType.Name} = &quot;TxSupplier&quot;,&quot;supplier&quot;, &quot;customer/supplier&quot;))</expression>
    </formulas>
    <formulas>
        <name>OwnerId15Digits</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId.Owner:User.Id},15)</expression>
    </formulas>
    <formulas>
        <name>recNewAccountLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!ConvertedAccountId}</expression>
    </formulas>
    <formulas>
        <name>recNewReqLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!newRequestHeaderId}</expression>
    </formulas>
    <interviewLabel>Convert Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Acc</name>
        <label>Get Acc</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_lead_by_apex</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaxCode1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.TAXNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FormerNameofCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.FormerNameofCompany__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>CreatedById</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkCurrentUser</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecOrg</name>
        <label>Update Rec</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Acc</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>ConvertedLead3</name>
        <label>Converted Lead</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>InputSeller1</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_ConfirmConvert</name>
            <fieldText>&lt;p&gt;Are you sure you want to convert this lead ?&lt;/p&gt;&lt;p&gt;Company Name: {!Get_Lead.Company}&lt;/p&gt;&lt;p&gt;TAX Number: {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p&gt;Country: {!Get_Lead.Country__r.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChooseSeller</name>
            <choiceReferences>SellerPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Seller__c</elementReference>
            </defaultValue>
            <fieldText>Seller</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ChooseBuyer</name>
            <choiceReferences>BuyerPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Buyer__c</elementReference>
            </defaultValue>
            <fieldText>Buyer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Converted_Lead</name>
        <label>Copy 1 of Converted Lead</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_InputSeller</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_2_of_ConfirmConvert</name>
            <fieldText>&lt;p&gt;Are you sure you want to convert this lead ?&lt;/p&gt;&lt;p&gt;Company Name: {!Get_Lead.Company}&lt;/p&gt;&lt;p&gt;TAX Number: {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p&gt;Country: {!Get_Lead.Country__r.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_ChooseSeller</name>
            <choiceReferences>SellerPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Seller__c</elementReference>
            </defaultValue>
            <fieldText>Seller</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_ChooseBuyer</name>
            <choiceReferences>BuyerPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Buyer__c</elementReference>
            </defaultValue>
            <fieldText>Buyer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Converted_No_New_Header</name>
        <label>Lead Converted No New Header</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectToAccount</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Display_Text_Converted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This company information is already in use with the existing {!fmlLeadType}.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Company Name : {!Get_Lead.Company}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;TAX Number : {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Country : {!Get_Lead.Country__r.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_DisplayExistingSeller</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Seller: {!Get_Lead.Seller__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_DisplayExistingBuyer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Buyer: {!Get_Lead.Buyer__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_DisplayExistingSalesOrg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Sales Organization: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Lead.Seller__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_DisplayExistingTxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This company have no new product extension&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Converted_success</name>
        <label>Lead Converted successfully</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectToAccount</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Converted_Successfully</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Your lead has been converted successfully.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Company Name: {!Get_Lead.Company}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;TAX Number: {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Country: {!Get_Lead.Country__r.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplaySeller</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Seller: {!Get_Lead.Seller__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayBuyer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Buyer: {!recordId.Buyer__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayLink</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You  can process the counterparty registration by clicking the&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(18, 47, 231);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!recNewAccountLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(18, 47, 231);&quot;&gt;link&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; to navigate to customer record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Converted_With_New_Header</name>
        <label>Lead Converted With New Header</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectToAccount</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Converted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This company information is already in use with the existing {!fmlLeadType}.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Company Name : {!Get_Lead.Company}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;TAX Number : {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Country : {!Get_Lead.Country__r.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayExistingSeller</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Seller: {!Get_Lead.Seller__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayExistingBuyer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Buyer: {!Get_Lead.Buyer__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayExistingSalesOrg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Sales Organization: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Lead.Seller__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayExistingTxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;You can process the customer product extension by clicking the&lt;/span&gt;&lt;span style=&quot;color: rgb(42, 10, 253); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!recNewReqLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(42, 10, 253); background-color: rgb(255, 255, 255);&quot;&gt;link&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; to navigate to extension request process&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenDoNotAllowToConvert_NotOwner</name>
        <label>ScreenDoNotAllowToConvert</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoNotConvertLeadText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;You don&apos;t have authorization to convert this lead. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;This lead belongs to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Lead.Owner:User.FirstName}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Lead.Owner:User.LastName}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Please contact the administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenDoNotAllowToConvert_Unqualified</name>
        <label>ScreenDoNotAllowToConvert</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DoNotConvertLeadText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;You don&apos;t have authorization to convert this lead. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;This lead&apos;s status is unqualified&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Please contact the administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Lead</startElementReference>
    <status>Active</status>
    <variables>
        <name>AddSeller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConvertedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputBuyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputSeller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isExsitingAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isNewReqHeader</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadCustomerProductListVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newRequestHeaderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>RequestFormItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CTRRequestFormItem__c</objectType>
    </variables>
    <variables>
        <name>TaxVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
