force-app/main/default/flows/CTRButtonItemApprovalSubmitCounterParty.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_inform_submit</name>
        <label>Send Email to inform submit</label>
        <locationX>1015</locationX>
        <locationY>1518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Assign_Validate_Message_Error_Send_email</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varRecipientEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubjectEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varBodyEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Approval_Record</name>
        <label>Assign Approval Record</label>
        <locationX>653</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>varApprovalItemRecordSubmited.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalItemRecordSubmited.SubmittedUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalItemRecordSubmited.CTRRequestFormItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalItemRecordSubmited.Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalItemRecordSubmited.ApproverUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalItemRecordSubmited.ApprovalType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Counter Party</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalItemRecordSubmited.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit Request Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Submit_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Submitted</name>
        <label>Assign Item Submitted</label>
        <locationX>651</locationX>
        <locationY>1413</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemRecordUpdate.SubmittedCounterParty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemRecordUpdate.ChangedCounterParty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateItemRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient</name>
        <label>Assign Recipient</label>
        <locationX>835</locationX>
        <locationY>1628</locationY>
        <assignmentItems>
            <assignToReference>varRecipientEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_inform_submit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Validate_Message_Error_Create_approval</name>
        <label>Assign Validate Message Error Create approval</label>
        <locationX>887</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>varValidateMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error During Create Approval record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidatePage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Validate_Message_Error_Send_email</name>
        <label>Assign Validate Message Error Send email</label>
        <locationX>1244</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>varValidateMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error during Sending email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidatePage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Validate_Message_Error_update_item</name>
        <label>Assign Validate Message Error update item</label>
        <locationX>1045</locationX>
        <locationY>1244</locationY>
        <assignmentItems>
            <assignToReference>varValidateMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error During update Item record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidatePage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Validate_Message_Not_Allow_Submit</name>
        <label>Assign Validate Message Not Allow Submit</label>
        <locationX>1053</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>varValidateMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This record already Approved or Submitted. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidatePage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Latest_Status</name>
        <label>Check Latest Status</label>
        <locationX>812</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>Assign_Validate_Message_Not_Allow_Submit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allow_Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.SubmittedCounterParty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestItem.ApprovedCounterParty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmittedPage</targetReference>
            </connector>
            <label>Allow Submit</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlLinktoRecord</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!recordId}</expression>
    </formulas>
    <interviewLabel>CTRButtonItemApprovalSubmitCounterParty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRButtonItemApprovalSubmitCounterParty</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Submit_Approval</name>
        <label>Create Submit Approval</label>
        <locationX>652</locationX>
        <locationY>1226</locationY>
        <connector>
            <targetReference>Assign_Item_Submitted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Validate_Message_Error_Create_approval</targetReference>
        </faultConnector>
        <inputReference>varApprovalItemRecordSubmited</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getRequestItem</name>
        <label>getRequestItem</label>
        <locationX>821</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Latest_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordUpdates>
        <name>updateItemRecord</name>
        <label>updateItemRecord</label>
        <locationX>652</locationX>
        <locationY>1529</locationY>
        <connector>
            <targetReference>Assign_Recipient</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Validate_Message_Error_update_item</targetReference>
        </faultConnector>
        <inputReference>varRequestItemRecordUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>SubmittedPage</name>
        <label>Submitted Page</label>
        <locationX>652</locationX>
        <locationY>805</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Approval_Record</targetReference>
        </connector>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ValidatePage</name>
        <label>ValidatePage</label>
        <locationX>1053</locationX>
        <locationY>941</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!varValidateMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getRequestItem</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>varBodyEmailTemplate</name>
        <text>&lt;p&gt;Dear TRCR Section Head,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please kindly approve to edit information of {!getRequestItem.Customer__r.Name}&lt;/p&gt;&lt;p&gt;Please see the details and proceed via &lt;a href=&quot;{!fmlLinktoRecord}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;This is an automatic generated email, please do not reply to this address.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApprovalItemRecordSubmited</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormItemApproval__c</objectType>
    </variables>
    <variables>
        <name>varRecipientEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestItemRecordUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormItem__c</objectType>
    </variables>
    <variables>
        <name>varSubjectEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>[FYA] Intial: {!getRequestItem.Customer__r.Name} request to edit information</stringValue>
        </value>
    </variables>
    <variables>
        <name>varValidateMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
