force-app/main/default/flows/CTRLeadCreation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendCounterpartyEmail</name>
        <label>sendCounterpartyEmail</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>CounterpartyEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ctrEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ctrEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Assign who will receive email</description>
        <name>assignCounterpartyEmail</name>
        <label>assignCounterpartyEmail</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CounterpartyEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendCounterpartyEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkCounterpartyEmail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCounterpartyEmail</name>
        <label>checkCounterpartyEmail</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Email = Null</defaultConnectorLabel>
        <rules>
            <name>notNullCounterEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCounterpartyEmail</targetReference>
            </connector>
            <label>Email != Null</label>
        </rules>
    </decisions>
    <description>13/03/2024 Update email html</description>
    <formulas>
        <name>ctrEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI] Initial: Thank You for Registration with Thai Oil Group&apos;</expression>
    </formulas>
    <formulas>
        <name>fmlType</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!varMySupplier}, &quot;Crude&quot;), &quot;Crude&quot;,
IF({!$Record.Country__r.Code__c} = &quot;TH&quot;, &quot;Domestic&quot;, &quot;International&quot;))</expression>
    </formulas>
    <formulas>
        <name>fxCustomerProduct</name>
        <dataType>String</dataType>
        <expression>IF({!varMyCustomer} = NULL, &apos;-&apos;, {!varMyCustomer})</expression>
    </formulas>
    <formulas>
        <name>fxSupplierProduct</name>
        <dataType>String</dataType>
        <expression>IF(AND({!varMySupplier} = NULL,{!varMySupplierString} = NULL), &apos;-&apos;, IF({!varMySupplier} = NULL, {!varMySupplierString}, IF({!varMySupplierString} = NULL, {!varMySupplier}, {!varMySupplier}&amp;&quot;, &quot;&amp;{!varMySupplierString})))</expression>
    </formulas>
    <formulas>
        <name>getLeftCustomer</name>
        <dataType>String</dataType>
        <expression>LEFT({!varMyCustomerString},FIND(&quot;;&quot;,{!varMyCustomerString})-1)</expression>
    </formulas>
    <formulas>
        <name>getLeftSupplier</name>
        <dataType>String</dataType>
        <expression>LEFT({!varMySupplierString},FIND(&quot;;&quot;,{!varMySupplierString})-1)</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <formulas>
        <name>removeParsedCustomerValue</name>
        <dataType>String</dataType>
        <expression>TRIM((RIGHT({!varMyCustomerString},LEN({!varMyCustomerString})-FIND(&quot;;&quot;,{!varMyCustomerString}))))</expression>
    </formulas>
    <formulas>
        <name>removeParsedSupplierValue</name>
        <dataType>String</dataType>
        <expression>TRIM((RIGHT({!varMySupplierString},LEN({!varMySupplierString})-FIND(&quot;;&quot;,{!varMySupplierString}))))</expression>
    </formulas>
    <formulas>
        <description>Subject email for TOP</description>
        <name>TOPEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA] Initial: &apos; + {!$Record.Company} + &apos; New Registration Request&apos;</expression>
    </formulas>
    <interviewLabel>CTRLeadCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRLeadCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
    </recordLookups>
    <startElementReference>getCustomNotification</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ctrEmailBody</name>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear {!$Record.FirstName} {!$Record.LastName},&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Thank you for your registration of interested in Thai Oil Group.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Registration of Interested Automated System&lt;/span&gt;&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <description>Email Body for TOP Trader</description>
        <name>TOPEmailBody</name>
        <text>&lt;span style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;Dear Commercial Team,&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;New counterparty wishes to register with the following details,&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;please review and perform next action by visiting&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;Company Name: &lt;/span&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;{!$Record.CustomerNameEnglish__c}&lt;/strong&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;Interested in registration to be:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;Customer: {!fxCustomerProduct}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;Supplier: {!fxSupplierProduct}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;Registration of Interested Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <variables>
        <name>countCustomer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterpartyEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countSupplier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerTOP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMyCustomer</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMyCustomerString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Record.InterestedProductTypeasCustomer__c};</stringValue>
        </value>
    </variables>
    <variables>
        <name>varMySupplier</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMySupplierString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Record.InterestedProductTypeasSupplier__c};</stringValue>
        </value>
    </variables>
    <variables>
        <name>varPetrochemical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Petrochemical Products</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSupplierTOP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
