force-app/main/default/flows/CTRLeadConvertNotifyAndEmail.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sending email to recipient(s) for TOP</description>
        <name>TOPSendEmailAction</name>
        <label>TOPSendEmailAction</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TOPSendNotification</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TOPEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TOPEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to customer for TOP</description>
        <name>TOPSendEmailToCustomerAction</name>
        <label>TOPSendEmailToCustomerAction</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientCustomerEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TOPCustomerEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TOPCustomerEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s) for TOP</description>
        <name>TOPSendNotification</name>
        <label>TOPSendNotification</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TOPNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TOPNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s) for TxCustomer</description>
        <name>TxCustomerSendEmailAction</name>
        <label>TxCustomerSendEmailAction</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TxCustomerSendNotification</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TxCusEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TXEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s) for FALB</description>
        <name>TxCustomerSendNotification</name>
        <label>TxCustomerSendNotification</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TXCusNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TXCusNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s) for TxSupplier</description>
        <name>TxSupplierSendEmailAction</name>
        <label>TxSupplierSendEmailAction</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TXSupplierSendNotification</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TXSupplierEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TXEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s) for FA</description>
        <name>TXSupplierSendNotification</name>
        <label>TXSupplierSendNotification</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TXSupNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TXSupNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignRecipientEmails</name>
        <label>assignRecipientEmails</label>
        <locationX>776</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientCustomerEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_recipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign who will receive email</description>
        <name>assignRecipientIds</name>
        <label>assignRecipientIds</label>
        <locationX>776</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignRecipientEmails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignRecipientIds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_recipient</name>
        <label>Check recipient</label>
        <locationX>776</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Email_and_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientCustomerEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectUserBUbySales_Org</targetReference>
            </connector>
            <label>Check Email and ID</label>
        </rules>
    </decisions>
    <decisions>
        <description>To select user BU by Sales org</description>
        <name>SelectUserBUbySales_Org</name>
        <label>Select User BU by Sales Org</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>TOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TOPSendEmailAction</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>TxCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TxCustomer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TxCustomerSendEmailAction</targetReference>
            </connector>
            <label>TxCustomer</label>
        </rules>
        <rules>
            <name>TxSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TxSupplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TxSupplierSendEmailAction</targetReference>
            </connector>
            <label>TxSupplier</label>
        </rules>
    </decisions>
    <description>10/04/2024: email subject, notify subject update</description>
    <formulas>
        <name>fmlAccountType</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.RegisteredAs__c}, &quot;Customer&quot;, &quot;Sale&quot;, &quot;Supplier&quot;, &quot;Purchasing&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>herokuLink</name>
        <dataType>String</dataType>
        <expression>{!getAccount.CTRUser__r.TemporaryLoginURL__c} &amp; &quot;/&quot; &amp; {!$Record.ConvertedAccountId}</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <formulas>
        <name>TOPCustomerEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA]: Complete Registration Form&quot;</expression>
    </formulas>
    <formulas>
        <description>Subject email for TOP</description>
        <name>TOPEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI] Customer Conversion from Lead for&apos;+&quot; &quot;+ {!$Record.Company}</expression>
    </formulas>
    <formulas>
        <description>Notify Body for TOP tarder</description>
        <name>TOPNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please see details&quot;</expression>
    </formulas>
    <formulas>
        <description>Notify Title for TOP trader</description>
        <name>TOPNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Company}+ &apos; &apos;+ &apos;has been converted to Customer&apos;</expression>
    </formulas>
    <formulas>
        <description>Email Subject for TX Customer</description>
        <name>TxCusEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA] Initial: Lead has been convert to Customer registration Process&apos;</expression>
    </formulas>
    <formulas>
        <description>Notify Body for LABIX trader</description>
        <name>TXCusNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please see details&quot;</expression>
    </formulas>
    <formulas>
        <description>Notify Title for TXCus</description>
        <name>TXCusNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Company}+ &apos; &apos;+ &apos;has been converted to Customer&apos;</expression>
    </formulas>
    <formulas>
        <description>Notify Body for TX</description>
        <name>TXSupNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please see details&quot;</expression>
    </formulas>
    <formulas>
        <description>Notify Title for TX trader</description>
        <name>TXSupNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Company}+ &apos; &apos;+ &apos;has been converted to Supplier&apos;</expression>
    </formulas>
    <formulas>
        <description>Email Subject for TX Suppler</description>
        <name>TXSupplierEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA] Initial: Lead has been convert to Supplier registration Process&apos;</expression>
    </formulas>
    <interviewLabel>CTRLeadConvertNotify {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRLeadConvertNotifyAndEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TOPSendEmailToCustomerAction</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
    </recordLookups>
    <startElementReference>getCustomNotification</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>Email Body for LABIX</description>
        <name>LABIXEmailBody</name>
        <text>Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;br&gt;&lt;br&gt;{!$Record.Company} has been converted to Customer.&lt;br&gt;Please find details via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Company}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>TOPCustomerEmailBody</name>
        <text>Dear {!$Record.FirstName} {!$Record.LastName},&lt;br&gt;&lt;br&gt;Please click &lt;a href=&quot;https://ctr-front-dev-3ee5b7960f48.herokuapp.com/one-time-access/{!$Record.ConvertedAccountId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt; to complete the registration form.&lt;br&gt;
Should you have any questions, please contact the Commercial Team&lt;/span&gt;&lt;br&gt;at &lt;a href=&quot;mailto://commercial@thaioilgroup.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;commercial@thaioilgroup.com&lt;/a&gt; or call +66 2 299 0000&lt;br&gt;&lt;br&gt;&lt;img src=&quot;https://thaioil--devm41.sandbox.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Jpg&amp;amp;versionId=0681m000003TBZq&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T1m00000KDpoZ&amp;amp;page=0&amp;amp;d=/a/1m0000000bZN/AiRnhohLVKmL7o7hia55pC3PinYAW0sXCtAziEsGi_Q&amp;amp;oid=00D1m0000002NH5&amp;amp;dpt=null&amp;amp;viewId=&quot; alt=&quot;renditionDownload&quot;&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email, please do not reply to this email address.</text>
    </textTemplates>
    <textTemplates>
        <description>Email Body for TOP Trader</description>
        <name>TOPEmailBody</name>
        <text>Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;br&gt;&lt;br&gt;{!$Record.Company} has been converted to Customer.&lt;br&gt;Please find details via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Company}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <description>Email Body for TX trader</description>
        <name>TXEmailBody</name>
        <text>Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;br&gt;&lt;br&gt;We are pleased to inform you that {!$Record.Company} has been successfully converted to a customer registration process in our system.&lt;br&gt;To complete the conversion process, please get in touch with customer and provide the following documents and sign the disclaimer that is attached to this email: &lt;span style=&quot;color: rgb(0, 0, 0); font-size: 9pt; font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;To see the details of your company&apos;s conversion, please click on &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;: &lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Lead Owner Name: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Company}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!fmlAccountType} Organization: {!$Record.Seller__c}{!$Record.Buyer__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Link: &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt; &lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <variables>
        <name>recipientCustomerEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
