force-app/main/default/flows/CTRReqItemNamedProduct.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignProductName_AromaticTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Aromatic_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLAB_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_AromaticTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Aromatic_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLAB_TXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_B100EthanolTOPOrLABIXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1194</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>B100Ethanol_TOPOrLABIXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPetroleumAndComponents_TOPOrLABIXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_CrudeTOPOrLABIXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Crude_TOPOrLABIXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPetroleumProduct_TOPOrLABIXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_CrudeTOPOrLABIXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Crude_TOPOrLABIXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckB100Ethanol_TOPOrLABIXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_FuelTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fuel_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLube_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_FuelTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fuel_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLube_TXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LABIXProductTOPOrLABIXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LABIXProducts_TOPOrLABIXFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOtherProduct_TOPOrLABIXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LABTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LAB_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSolventsChemical_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LABTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LAB_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSolventsAndChemical_TXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LubeBaseProductTOPOrLABIXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LubeBaseProducts_TOPOrLABIXFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLABIXProduct_TOPOrLABIXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LubeTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lube_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAromatic_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LubeTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lube_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAromatic_TXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_NormalParaffinTOPOrLABIXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1194</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NormalParaffin_TOPOrLABIXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOtherProducts_TOPOrLABIXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OlefinsTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Olefins_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOthers_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OlefinsTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Olefins_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOthers_TXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OtherProductsTOPOrLABIXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1194</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherProducts_TOPOrLABIXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRequestForm_SupplierTOPOrLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OtherProductTOPOrLABIXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherProducts_TOPOrLABIXFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRequestForm_CustomerTOPOrLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OthersTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Others_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRequestForm_SupplierTX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OtherTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Others_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRequestForm_CustomerTX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_PetrochemicalProductTOPOrLABIXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PetrochemicalProducts_TOPOrLABIXFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLubeBaseProduct_TOPOrLABIXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_PetroleumAndComponentsTOPOrLABIXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1194</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PetroleumAndComponents_TOPOrLABIXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckNormalParaffin_TOPOrLABIXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_PetroleumProductTOPOrLABIXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PetroleumProducts_TOPOrLABIXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPetrochemicalProduct_TOPOrLABIXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_SolventAndChemicalTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SolventsAndChemical_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOlefins_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_SolventAndChemicalTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SolventAndChemical_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOlefins_TXSupplier</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckAromatic_TXCustomer</name>
        <label>Check Aromatic</label>
        <locationX>622</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>CheckLAB_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aromatic_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aromatic_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_AromaticTXCustomer</targetReference>
            </connector>
            <label>Aromatic != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAromatic_TXSupplier</name>
        <label>Check Aromatic</label>
        <locationX>1766</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>CheckLAB_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aromatic_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aromatic_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_AromaticTXSupplier</targetReference>
            </connector>
            <label>Aromatic != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckB100Ethanol_TOPOrLABIXSupplier</name>
        <label>Check B100/Ethanol</label>
        <locationX>1326</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>CheckPetroleumAndComponents_TOPOrLABIXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>B100Ethanol_TOPOrLABIXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B100Ethanol_TOPOrLABIXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_B100EthanolTOPOrLABIXSupplier</targetReference>
            </connector>
            <label>B100/Ethanol != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBusinessUnit_Customer</name>
        <label>Check Business Unit</label>
        <locationX>556</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOPOrLABIX_Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCrudeProduct_TOPOrLABIXCustomer</targetReference>
            </connector>
            <label>TOP Or LABIX</label>
        </rules>
        <rules>
            <name>TX_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckFuel_TXCustomer</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBusinessUnit_Supplier</name>
        <label>Check Business Unit</label>
        <locationX>1700</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOPOrLABIX_Supplier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCrude_TOPOrLABIXSupplier</targetReference>
            </connector>
            <label>TOP Or LABIX</label>
        </rules>
        <rules>
            <name>TX_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckFuel_TXSupplier</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCrude_TOPOrLABIXSupplier</name>
        <label>Check Crude</label>
        <locationX>1326</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckB100Ethanol_TOPOrLABIXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crude_TOPOrLABIXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crude_TOPOrLABIXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_CrudeTOPOrLABIXSupplier</targetReference>
            </connector>
            <label>Crude != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCrudeProduct_TOPOrLABIXCustomer</name>
        <label>Check Crude Product</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckPetroleumProduct_TOPOrLABIXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crude_TOPOrLABIXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crude_TOPOrLABIXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_CrudeTOPOrLABIXCustomer</targetReference>
            </connector>
            <label>Crude =! Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCustomerType</name>
        <label>Check Customer Type</label>
        <locationX>1447</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.fmlAccountTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBusinessUnit_Customer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.fmlAccountTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBusinessUnit_Supplier</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFuel_TXCustomer</name>
        <label>Check Fuel</label>
        <locationX>622</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckLube_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fuel_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fuel_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_FuelTXCustomer</targetReference>
            </connector>
            <label>Fuel != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFuel_TXSupplier</name>
        <label>Check Fuel</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckLube_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fuel_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fuel_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_FuelTXSupplier</targetReference>
            </connector>
            <label>Fuel != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLAB_TXCustomer</name>
        <label>Check LAB</label>
        <locationX>622</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>CheckSolventsChemical_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LAB_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LAB_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LABTXCustomer</targetReference>
            </connector>
            <label>LAB != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLAB_TXSupplier</name>
        <label>Check LAB</label>
        <locationX>1766</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>CheckSolventsAndChemical_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LAB_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LAB_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LABTXSupplier</targetReference>
            </connector>
            <label>LAB != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLABIXProduct_TOPOrLABIXCustomer</name>
        <label>Check LABIX Product</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>CheckOtherProduct_TOPOrLABIXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LABIXProduct_TOPOrLABIXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LABIXProducts_TOPOrLABIXFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LABIXProductTOPOrLABIXCustomer</targetReference>
            </connector>
            <label>LABIX Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLube_TXCustomer</name>
        <label>Check Lube</label>
        <locationX>622</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>CheckAromatic_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lube_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lube_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LubeTXCustomer</targetReference>
            </connector>
            <label>Lube != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLube_TXSupplier</name>
        <label>Check Lube</label>
        <locationX>1766</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>CheckAromatic_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lube_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lube_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LubeTXSupplier</targetReference>
            </connector>
            <label>Lube != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLubeBaseProduct_TOPOrLABIXCustomer</name>
        <label>Check Lube Base Product</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>CheckLABIXProduct_TOPOrLABIXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LubeBaseProduct_TOPOrLABIXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LubeBaseProducts_TOPOrLABIXFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LubeBaseProductTOPOrLABIXCustomer</targetReference>
            </connector>
            <label>Lube Base Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNormalParaffin_TOPOrLABIXSupplier</name>
        <label>Check Normal Paraffin</label>
        <locationX>1326</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>CheckOtherProducts_TOPOrLABIXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NormaParaffin_TOPOrLABIXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NormalParaffin_TOPOrLABIXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_NormalParaffinTOPOrLABIXSupplier</targetReference>
            </connector>
            <label>Normal Paraffin != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOlefins_TXCustomer</name>
        <label>Check Olefins</label>
        <locationX>622</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>CheckOthers_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Olefins_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Olefins_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OlefinsTXCustomer</targetReference>
            </connector>
            <label>Olefins != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOlefins_TXSupplier</name>
        <label>Check Olefins</label>
        <locationX>1766</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>CheckOthers_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Olefins_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Olefins_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OlefinsTXSupplier</targetReference>
            </connector>
            <label>Olefins != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOtherProduct_TOPOrLABIXCustomer</name>
        <label>Check Other Product</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>UpdateRequestForm_CustomerTOPOrLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OtherProduct_TOPOrLABIXNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherProducts_TOPOrLABIXFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OtherProductTOPOrLABIXCustomer</targetReference>
            </connector>
            <label>Other Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOtherProducts_TOPOrLABIXSupplier</name>
        <label>Check Other Products</label>
        <locationX>1326</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>UpdateRequestForm_SupplierTOPOrLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OtherProducts_TOPOrLABIXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherProducts_TOPOrLABIXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OtherProductsTOPOrLABIXSupplier</targetReference>
            </connector>
            <label>Other Products != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOthers_TXCustomer</name>
        <label>Check Others</label>
        <locationX>622</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>UpdateRequestForm_CustomerTX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Others_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Others_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OtherTXCustomer</targetReference>
            </connector>
            <label>Others != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOthers_TXSupplier</name>
        <label>Check Others</label>
        <locationX>1766</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>UpdateRequestForm_SupplierTX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Others_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Others_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OthersTXSupplier</targetReference>
            </connector>
            <label>Others != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPetrochemicalProduct_TOPOrLABIXCustomer</name>
        <label>Check Petrochemical Product</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>CheckLubeBaseProduct_TOPOrLABIXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PetrochemicalProduct_TOPOrLABIXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PetrochemicalProducts_TOPOrLABIXFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_PetrochemicalProductTOPOrLABIXCustomer</targetReference>
            </connector>
            <label>Petrochemical Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPetroleumAndComponents_TOPOrLABIXSupplier</name>
        <label>Check Petroleum and Components</label>
        <locationX>1326</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>CheckNormalParaffin_TOPOrLABIXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PetroleumAndComponents_TOPOrLABIXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PetroleumAndComponents_TOPOrLABIXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_PetroleumAndComponentsTOPOrLABIXSupplier</targetReference>
            </connector>
            <label>Petroleum and Components != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPetroleumProduct_TOPOrLABIXCustomer</name>
        <label>Check Petroleum Product</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>CheckPetrochemicalProduct_TOPOrLABIXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PetroleumProduct_TOPOrLABIXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PetroleumProducts_TOPOrLABIXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_PetroleumProductTOPOrLABIXCustomer</targetReference>
            </connector>
            <label>Petroleum Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSolventsAndChemical_TXSupplier</name>
        <label>Check Solvents &amp; Chemical</label>
        <locationX>1766</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>CheckOlefins_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SolventAndChemical_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolventAndChemical_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_SolventAndChemicalTXSupplier</targetReference>
            </connector>
            <label>Solvent &amp; Chemical != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSolventsChemical_TXCustomer</name>
        <label>Check Solvents &amp; Chemical</label>
        <locationX>622</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>CheckOlefins_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SolventsChemical_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolventsAndChemical_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_SolventAndChemicalTXCustomer</targetReference>
            </connector>
            <label>Solvents &amp; Chemical != Null</label>
        </rules>
    </decisions>
    <description>04/02/2024 Add semicolon separate the individual product name.</description>
    <formulas>
        <name>Aromatic_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTX__c} , &apos;Aromatic&apos; ), &apos;Aromatic&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Aromatic_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTX__c} , &apos;Aromatic&apos; ), &apos;Aromatic&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>B100Ethanol_TOPOrLABIXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsSupplierTOP__c} , &apos;B100/Ethanol&apos; ), &apos;B100/Ethanol&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Crude_TOPOrLABIXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTOP__c}  , &apos;Crude&apos; ), &apos;Crude&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Crude_TOPOrLABIXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsSupplierTOP__c} , &apos;Crude&apos; ), &apos;Crude&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Fuel_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsCustomerTX__c} , &apos;Fuel&apos; ), &apos;Fuel&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Fuel_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsSupplierTX__c} , &apos;Fuel&apos; ), &apos;Fuel&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>LAB_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTX__c} , &apos;LAB&apos; ), &apos;LAB&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>LAB_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTX__c}  , &apos;LAB&apos; ), &apos;LAB &apos;,null )</expression>
    </formulas>
    <formulas>
        <name>LABIXProducts_TOPOrLABIXFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTOP__c}  , &apos;LABIX Products&apos; ), &apos;LABIX Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Lube_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsCustomerTX__c} , &apos;Lube&apos; ), &apos;Lube&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Lube_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsSupplierTX__c}  , &apos;Lube&apos; ), &apos;Lube&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>LubeBaseProducts_TOPOrLABIXFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTOP__c} , &apos;Lube Base Products&apos; ), &apos;Lube Base Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>NormalParaffin_TOPOrLABIXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTOP__c}  , &apos;Normal Paraffin&apos; ), &apos;Normal Paraffin&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Olefins_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTX__c}  , &apos;Olefins&apos; ), &apos;Olefins&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Olefins_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTX__c}  , &apos;Olefins&apos; ), &apos;Olefins&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>OtherProducts_TOPOrLABIXFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTOP__c} , &apos;Other Products&apos; ), &apos;Other Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>OtherProducts_TOPOrLABIXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTOP__c} , &apos;Other Products&apos; ), &apos;Other Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Others_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTX__c}  , &apos;Others&apos; ), &apos;Others&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Others_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTX__c}  , &apos;Others&apos; ), &apos;Others&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>PetrochemicalProducts_TOPOrLABIXFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsCustomerTOP__c} , &apos;Petrochemical Products&apos; ), &apos;Petrochemical Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>PetroleumAndComponents_TOPOrLABIXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTOP__c} , &apos;Petroleum and Components&apos; ), &apos;Petroleum and Components&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>PetroleumProducts_TOPOrLABIXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsCustomerTOP__c} , &apos;Petroleum Products&apos; ), &apos;Petroleum Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>ProductName</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!TempProductName},LEN({!TempProductName})-1))</expression>
    </formulas>
    <formulas>
        <name>SolventAndChemical_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTX__c} , &apos;Solvents &amp; Chemical&apos; ), &apos;Solvents &amp; Chemical&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>SolventsAndChemical_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTX__c} , &apos;Solvents &amp; Chemical&apos; ), &apos;Solvents &amp; Chemical&apos;,null )</expression>
    </formulas>
    <interviewLabel>CTRReqItemNamedProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRReqItemNamedProduct</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateRequestForm_CustomerTOPOrLABIX</name>
        <label>Update Request Form</label>
        <locationX>182</locationX>
        <locationY>2339</locationY>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestForm_CustomerTX</name>
        <label>Update Request Form</label>
        <locationX>622</locationX>
        <locationY>2639</locationY>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestForm_SupplierTOPOrLABIX</name>
        <label>Update Request Form</label>
        <locationX>1326</locationX>
        <locationY>2039</locationY>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestForm_SupplierTX</name>
        <label>Update Request Form</label>
        <locationX>1766</locationX>
        <locationY>2639</locationY>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>CheckCustomerType</startElementReference>
    <status>Active</status>
    <variables>
        <name>TempProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
