force-app/main/default/flows/CTRReqItemUpdateAccountChkBox.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>checkBU</name>
        <label>checkBU</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>rejectedTOP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRejectedTOP</targetReference>
            </connector>
            <label>rejectedTOP</label>
        </rules>
        <rules>
            <name>rejectedTPX</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1300</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1300</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRejectedTPX</targetReference>
            </connector>
            <label>rejectedTPX</label>
        </rules>
        <rules>
            <name>rejectedTLB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1400</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1400</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRejectedTLB</targetReference>
            </connector>
            <label>rejectedTLB</label>
        </rules>
        <rules>
            <name>rejectedLABIX</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1700</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1700</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRejectedLABIX</targetReference>
            </connector>
            <label>rejectedLABIX</label>
        </rules>
        <rules>
            <name>rejectedTXTH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRejectedTXTH</targetReference>
            </connector>
            <label>rejectedTXTH</label>
        </rules>
        <rules>
            <name>rejectedTSV</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRejectedTSV</targetReference>
            </connector>
            <label>rejectedTSV</label>
        </rules>
        <rules>
            <name>rejectedTSR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRejectedTSR</targetReference>
            </connector>
            <label>rejectedTSR</label>
        </rules>
        <rules>
            <name>rejectedJSKem</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9300</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9300</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRejectedJSKem</targetReference>
            </connector>
            <label>rejectedJSKem</label>
        </rules>
        <rules>
            <name>rejectedTXIN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9400</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9400</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRejectedTXIN</targetReference>
            </connector>
            <label>rejectedTXIN</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCondition</name>
        <label>checkCondition</label>
        <locationX>3152</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>reqRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkBU</targetReference>
            </connector>
            <label>reqRejected</label>
        </rules>
        <rules>
            <name>buTOP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateNewTOP</targetReference>
            </connector>
            <label>buTOP</label>
        </rules>
        <rules>
            <name>buTPX</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1300</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1300</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateNewTPX</targetReference>
            </connector>
            <label>buTPX</label>
        </rules>
        <rules>
            <name>buTLB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1400</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1400</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateNewTLB</targetReference>
            </connector>
            <label>buTLB</label>
        </rules>
        <rules>
            <name>buLABIX</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1700</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1700</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateNewLABIX</targetReference>
            </connector>
            <label>buLABIX</label>
        </rules>
        <rules>
            <name>buTXTH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateNewTXTH</targetReference>
            </connector>
            <label>buTXTH</label>
        </rules>
        <rules>
            <name>buTSV</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateNewTSV</targetReference>
            </connector>
            <label>buTSV</label>
        </rules>
        <rules>
            <name>buTSR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateNewTSR</targetReference>
            </connector>
            <label>buTSR</label>
        </rules>
        <rules>
            <name>buJSKem</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9300</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9300</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateNewJSKem</targetReference>
            </connector>
            <label>buJSKem</label>
        </rules>
        <rules>
            <name>buTXIN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9400</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9400</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateNewTXIN</targetReference>
            </connector>
            <label>buTXIN</label>
        </rules>
    </decisions>
    <description>[01 Apr 2024] Revise condition</description>
    <interviewLabel>CTRReqItemUpdateAccountChkBox {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRReqItemUpdateAccountChkBox</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateNewJSKem</name>
        <label>updateNewJSKem</label>
        <locationX>4538</locationX>
        <locationY>431</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TOPSOLVENTJSKem__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNewLABIX</name>
        <label>updateNewLABIX</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LABIX__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNewTLB</name>
        <label>updateNewTLB</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ThaiLubeBase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNewTOP</name>
        <label>updateNewTOP</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ThaiOil__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNewTPX</name>
        <label>updateNewTPX</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ThaiParaxylene__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNewTSR</name>
        <label>updateNewTSR</label>
        <locationX>4274</locationX>
        <locationY>431</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TOPSOLVENTTSR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNewTSV</name>
        <label>updateNewTSV</label>
        <locationX>4010</locationX>
        <locationY>431</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TOPSOLVENTVN__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNewTXIN</name>
        <label>updateNewTXIN</label>
        <locationX>4802</locationX>
        <locationY>431</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TOPSOLVENTTSChem__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNewTXTH</name>
        <label>updateNewTXTH</label>
        <locationX>3746</locationX>
        <locationY>431</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TOPSOLVENTTH__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRejectedJSKem</name>
        <label>updateRejectedJSKem</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TOPSOLVENTJSKem__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRejectedLABIX</name>
        <label>updateRejectedLABIX</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LABIX__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRejectedTLB</name>
        <label>updateRejectedTLB</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ThaiLubeBase__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRejectedTOP</name>
        <label>updateRejectedTOP</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ThaiOil__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRejectedTPX</name>
        <label>updateRejectedTPX</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ThaiParaxylene__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRejectedTSR</name>
        <label>updateRejectedTSR</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TOPSOLVENTTSR__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRejectedTSV</name>
        <label>updateRejectedTSV</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TOPSOLVENTVN__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRejectedTXIN</name>
        <label>updateRejectedTXIN</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TOPSOLVENTTSChem__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRejectedTXTH</name>
        <label>updateRejectedTXTH</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TOPSOLVENTTH__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>checkCondition</startElementReference>
    <status>Active</status>
</Flow>
