force-app/main/default/flows/CTRRequestHeaderReplaceContactForExtend.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ReplaceContact</name>
        <label>ReplaceContact</label>
        <locationX>1256</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactSalutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.ContactSalutation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Nickname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.Nickname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PhoneExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.PhoneExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PhoneCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.PhoneCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MobileCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.MobileCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FaxCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.FaxCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FaxExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.FaxExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.Position__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updateheader</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Create_Update</name>
        <label>is Create/Update?</label>
        <locationX>829</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>isReplaceContactForExtend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is update</defaultConnectorLabel>
        <rules>
            <name>is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>is Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>isReplaceContactForExtend</name>
        <label>isReplaceContactForExtend</label>
        <locationX>1063</locationX>
        <locationY>490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_extend_from_heroku</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ExtendHeroku__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExtendHeroku__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReplaceContact</targetReference>
            </connector>
            <label>is extend from heroku</label>
        </rules>
    </decisions>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>CTRRequestHeaderReplaceContactForExtend {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRRequestHeaderReplaceContactForExtend</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Updateheader</name>
        <label>Updateheader</label>
        <locationX>1436</locationX>
        <locationY>467</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>is_Create_Update</startElementReference>
    <status>Active</status>
</Flow>
