force-app/main/default/flows/CTRRequestItem_Committee_Reminder_Schedule.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApexReminder</name>
        <label>ApexReminder</label>
        <locationX>635</locationX>
        <locationY>429</locationY>
        <actionName>CTRFlowEmailReminder</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>newCommApprs</name>
            <value>
                <elementReference>ListCTRCommitteeApproval</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>profile</name>
            <value>
                <elementReference>GetItem.BusinessUnit__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetItem.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reqFormObj</name>
            <value>
                <elementReference>GetItem</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateType</name>
            <value>
                <elementReference>EmailTemplateTypeFormula</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddCommittee</name>
        <label>AddCommittee</label>
        <locationX>788</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>ListCTRCommitteeApproval</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApexReminder</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>EmailTemplateTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!GetBuProfile.BusinessUnit__c}) = &apos;TOP&apos;, &apos;Committee TOP&apos;, IF(TEXT({!GetBuProfile.BusinessUnit__c})  = &apos;TX&apos;, &apos;Committee TX&apos;, &apos;Committee LABIX&apos;))</expression>
    </formulas>
    <interviewLabel>CTRRequestItem - Committee Reminder Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRRequestItem - Committee Reminder Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBuProfile</name>
        <label>GetBuProfile</label>
        <locationX>988</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddCommittee</targetReference>
        </connector>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetItem.BusinessUnit__c</elementReference>
            </value>
        </filters>
        <object>CTRBuProfile__mdt</object>
    </recordLookups>
    <recordLookups>
        <name>GetItem</name>
        <label>GetItem</label>
        <locationX>1221</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBuProfile</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__c</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <status>Active</status>
    <variables>
        <name>ListCTRCommitteeApproval</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRCommitteeApproval__c</objectType>
    </variables>
</Flow>
