force-app/main/default/flows/CTRScheduledRequestFormItemSetTimeoutIntegration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Reporcess_Application_log</name>
        <label>Assign Reporcess Application log</label>
        <locationX>963</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>varApplicationLog.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplicationLog.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicationLog.CTRReProcessLogToItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Application_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_update_Item</name>
        <label>Assign update Item</label>
        <locationX>709</locationX>
        <locationY>1152</locationY>
        <assignmentItems>
            <assignToReference>varItemUpdate.IntegrationStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varItemUpdate.IntegrationMessage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Timeout from SAP or IRPA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varItemUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CurrentSAP_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_update_Item_0</name>
        <label>Assign update Item</label>
        <locationX>580</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>varItemUpdate.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsuccessful Send General view to SAP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_record_to_failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_update_Item_0_0</name>
        <label>Assign update Item</label>
        <locationX>840</locationX>
        <locationY>1471</locationY>
        <assignmentItems>
            <assignToReference>varItemUpdate.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsuccessful Send Sales/Purchasing view to SAP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_record_to_failed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Applicationlog</name>
        <label>check Applicationlog</label>
        <locationX>828</locationX>
        <locationY>686</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_Applicationlog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getApplicationLog</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Status_application_log</targetReference>
            </connector>
            <label>found Applicationlog</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CurrentSAP_Status</name>
        <label>Check CurrentSAP Status</label>
        <locationX>701</locationX>
        <locationY>1308</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_send_General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SAPStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send General View To SAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_update_Item_0</targetReference>
            </connector>
            <label>is send General</label>
        </rules>
        <rules>
            <name>is_send_sales_purchasing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SAPStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Sales/Purchasing View To SAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_update_Item_0_0</targetReference>
            </connector>
            <label>is send sales/purchasing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Status_application_log</name>
        <label>Which Status application log</label>
        <locationX>832</locationX>
        <locationY>903</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>in_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getApplicationLog.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_update_Item</targetReference>
            </connector>
            <label>in progress</label>
        </rules>
        <rules>
            <name>Success_failed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getApplicationLog.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getApplicationLog.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reporcess_Application_log</targetReference>
            </connector>
            <label>Success/failed</label>
        </rules>
    </decisions>
    <interviewLabel>CTRScheduledRequestFormItemSetTimeOutIntegration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRScheduledRequestFormItemSetTimeoutIntegration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getApplicationLog</name>
        <label>getApplicationLog</label>
        <locationX>836</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Applicationlog</targetReference>
        </connector>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GatewayId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>External_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Application_Log__c</object>
    </recordLookups>
    <recordUpdates>
        <name>update_Application_log</name>
        <label>update Application log</label>
        <locationX>963</locationX>
        <locationY>1327</locationY>
        <inputReference>varApplicationLog</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_to_failed</name>
        <label>update record to failed</label>
        <locationX>712</locationX>
        <locationY>1717</locationY>
        <inputReference>varItemUpdate</inputReference>
    </recordUpdates>
    <status>Active</status>
    <variables>
        <name>varApplicationLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Log__c</objectType>
    </variables>
    <variables>
        <name>varItemUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormItem__c</objectType>
    </variables>
</Flow>
