force-app/main/default/flows/CTRSentEmailToApprove.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CMVP_Approval_Email</name>
        <label>CMVP Approval Email</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CMVPTeamEmail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sweettie.piglet@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>CMVPApproveEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CMVPApproveEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CustomerEmailTemplatetwo</name>
        <label>CustomerEmailTemplate</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TRCRApprovedEmail</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Email__c},{!$Record.TraderTeamEmail__c},{!$Record.ResponsibleTraderEmail__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sweettie.piglet@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[FYA] Initial: Additional Information Required for Your Registration</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CustomerEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SH_Send_Email</name>
        <label>SH Send Email</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.SHTeamEmail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sweettie.piglet@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TraderPrescreenSubject2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TRCRApprovedEmail</name>
        <label>TRCRApprovedEmail</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.TraderTeamEmail__c},{!$Record.TRCRTeamEmail__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sweettie.piglet@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TRCRApprovedEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TRCREmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_level_of_decision</name>
        <label>Check level of decision</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMVP_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMVPPreScreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TraderTeamEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TraderPreScreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SHPrescreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerEmailTemplatetwo</targetReference>
            </connector>
            <label>CMVP Pass</label>
        </rules>
        <rules>
            <name>SH_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SHPrescreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMVPTeamEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TraderPreScreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMVP_Approval_Email</targetReference>
            </connector>
            <label>S/H Pass</label>
        </rules>
        <rules>
            <name>Trader_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TraderPreScreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SHTeamEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SH_Send_Email</targetReference>
            </connector>
            <label>Trader Pass</label>
        </rules>
    </decisions>
    <interviewLabel>CTRSent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRSentEmailToApprove</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Check_level_of_decision</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>CMVPApproveEmailTemplate</name>
        <text>&lt;p&gt;Dear CMVP Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CompanyName__c}&lt;/span&gt; has done pre-screen by S/H trader. Please review and approve by proceed via &lt;a href=&quot;https://thaioil--devm41.sandbox.lightning.force.com/lightning/r/CTRRequestFormItem__c/{!$Record.Id}/view?0.source=alohaHeader&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Company Name: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CompanyName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Interested to be Customer: {!$Record.InterestedRegistrationToCustomer__c}&lt;/p&gt;&lt;p&gt;Responsible Trader Name: {!$Record.ResponsibleTraderName__c}&lt;/p&gt;&lt;p&gt;Responsible S/H Name: {!$Record.ResponsibleSHName__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is an automatic generated email, please do not reply to this address.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CustomerEmailTemplate</name>
        <text>&lt;p&gt;Dear {!$Record.Contact_Person__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;With regards to complete registration process interest to be Customer. Petrochemical Products for {!$Record.CompanyName__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Request Number: &lt;/p&gt;&lt;p&gt;Registered Number: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &lt;a href=&quot;https://thaioil--devm41.sandbox.lightning.force.com/lightning/r/CTRRequestFormItem__c/{!$Record.Id}/view?0.source=alohaHeader&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt; to complete the Registration Form.&lt;/p&gt;&lt;p&gt;Should you have any questions, please do not hesitate to contact {!$Record.ResponsibleTraderName__c}, at &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.TraderTeamEmail__c} &lt;/span&gt;or call+66 2299 0000 Ext123&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;This is an automatic generated email, please do not reply to this address.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SHEmailTemplate</name>
        <text>&lt;p&gt;Dear S/H Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CompanyName__c}&lt;/span&gt; has done pre-screen by S/H trader. Please review and approve by proceed via &lt;a href=&quot;https://thaioil--devm41.sandbox.lightning.force.com/lightning/r/CTRRequestFormItem__c/{!$Record.Id}/view?0.source=alohaHeader&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Company Name: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CompanyName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Interested to be Customer: {!$Record.InterestedRegistrationToCustomer__c}&lt;/p&gt;&lt;p&gt;Responsible Trader Name: {!$Record.ResponsibleTraderName__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is an automatic generated email, please do not reply to this address.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TRCREmailTemplate</name>
        <text>&lt;p&gt;Dear TRCR Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CompanyName__c}&lt;/span&gt; has uploaded detailed documents, and the CMVP has verified the trader sheet for your consideration.&lt;/p&gt;&lt;p&gt;Please proceed via &lt;a href=&quot;https://thaioil--devm41.sandbox.lightning.force.com/lightning/r/CTRRequestFormItem__c/{!$Record.Id}/view?0.source=alohaHeader&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Company Name: {!$Record.CompanyName__c}&lt;/p&gt;&lt;p&gt;Interested to be Customer: {!$Record.InterestedRegistrationToCustomer__c}&lt;/p&gt;&lt;p&gt;Responsible Trader Name:&amp;nbsp; {!$Record.ResponsibleTraderName__c}&lt;/p&gt;&lt;p&gt;Responsible Trader Decision: {!$Record.CMVPPreScreenDecision__c}&lt;/p&gt;&lt;p&gt;Responsible Trader Comment:&amp;nbsp;&amp;nbsp;{!$Record.CMVPPreScreenComment__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is an automatic generated email, please do not reply to this address.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CMVPApproveEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[FYA] Initial: Additional Information Required for Your Registration</stringValue>
        </value>
    </variables>
    <variables>
        <name>TraderPrescreenSubject2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[FYA] Initial: {!$Record.CompanyName__c} Pre-Screen Requires Your Review</stringValue>
        </value>
    </variables>
    <variables>
        <name>TRCRApprovedEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[FYA] Initial: {!$Record.CompanyName__c} New Registration Requires Your Review</stringValue>
        </value>
    </variables>
</Flow>
