force-app/main/default/flows/CTRSubmitMasterdatacontrollerforApproval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CTRCustomerSupplierApprovalNonSensitive</name>
        <label>CTR Customer/Supplier Approval Non Sensitive</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!GetRequestItemRecord.Name} is submitted to approval process.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>TXInitialExtendMDCMApproveNonSens</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CTRCustomerSupplierApprovalSensitive</name>
        <label>CTR Customer/Supplier Approval Sensitive</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!GetRequestItemRecord.Name} is submitted to approval process.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>TXInitialExtendMDCMApproveSensitive</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CTRCustomerSupplierInfoApprovalNonSensitive</name>
        <label>CTR Customer/Supplier Info Approval Non Sensitive</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!GetRequestItemRecord.Name} is submitted to approval process.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>TXEditInfoMDCMApproveNonSens</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CTRCustomerSupplierInfoApprovalSensitive</name>
        <label>CTR Customer/Supplier Info Approval Sensitive</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!GetRequestItemRecord.Name} is submitted to approval process.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>TXEditInfoMDCMApproveSensitive</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CTRShipto_Approval_Non_Sensitive</name>
        <label>CTR Ship-to Approval Non-Sensitive</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!GetRequestItemRecord.Name} is submitted to approval process.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>TXCreatEdtShipToMDCMApprovalNonSen</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CTRShipto_Approval_Sensitive</name>
        <label>CTR Ship-to Approval Sensitive</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!GetRequestItemRecord.Name} is submitted to approval process.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>TXCreateEditShipToMDCMApprovalSens</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>CheckRecordType</name>
        <label>CheckRecordType</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ShipToSensitive</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShipToCreate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShipToEdit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.SensitiveData__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestStatus_ShipTo_Sensitive</targetReference>
            </connector>
            <label>Ship-To Sensitive</label>
        </rules>
        <rules>
            <name>ShipToNonSensitive</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShipToEdit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShipToCreate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.SensitiveData__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestStatus_ShipTo_NonSensitive</targetReference>
            </connector>
            <label>Ship-To Non-Sensitive</label>
        </rules>
        <rules>
            <name>CustomerSupplierSensitive</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.SensitiveData__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestStatus_CustomerSupplier_Sensitive</targetReference>
            </connector>
            <label>Customer/Supplier Sensitive</label>
        </rules>
        <rules>
            <name>CustomerSupplierNonSensitive</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.SensitiveData__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestStatus_CustomerSupplier_NonSensitive</targetReference>
            </connector>
            <label>Customer/Supplier Non-Sensitive</label>
        </rules>
        <rules>
            <name>CustomerSupplierInfoSensitive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.SensitiveData__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestStatus_CustomerSupplierInfo_Sensitive</targetReference>
            </connector>
            <label>Customer/Supplier Info Sensitive</label>
        </rules>
        <rules>
            <name>CustomerSupplierInfoNonSensitive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.SensitiveData__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestStatus_CustomerSupplierInfo_NonSensitive</targetReference>
            </connector>
            <label>Customer/Supplier Info Non-Sensitive</label>
        </rules>
    </decisions>
    <interviewLabel>CTR Submit Master data controller for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTR Submit Master data controller for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRequestItemRecord</name>
        <label>Get Request Item Record</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConfirmationforSubmitforApproval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequestStatus_CustomerSupplier_NonSensitive</name>
        <label>Update Request Status</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CTRCustomerSupplierApprovalNonSensitive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestStatus_CustomerSupplier_Sensitive</name>
        <label>Update Request Status</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CTRCustomerSupplierApprovalSensitive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestStatus_CustomerSupplierInfo_NonSensitive</name>
        <label>Update Request Status</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CTRCustomerSupplierInfoApprovalNonSensitive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Summary Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestStatus_CustomerSupplierInfo_Sensitive</name>
        <label>Update Request Status</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CTRCustomerSupplierInfoApprovalSensitive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Summary Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestStatus_ShipTo_NonSensitive</name>
        <label>Update Request Status</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CTRShipto_Approval_Non_Sensitive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestStatus_ShipTo_Sensitive</name>
        <label>Update Request Status</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CTRShipto_Approval_Sensitive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <screens>
        <description>Confirmation to Submit</description>
        <name>ConfirmationforSubmitforApproval</name>
        <label>Confirmation for Submit for Approval</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckRecordType</targetReference>
        </connector>
        <fields>
            <name>ConfirmtoSubmit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Confirm to Submit&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmtoSubmitBodyText</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;Are you sure you want to submit this request for approval process?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetRequestItemRecord</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>CTRTXCreateShiptoSHApproval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
