force-app/main/default/flows/CTRSubFlowGetPISUsers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignEmpId</name>
        <label>assignEmpId</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varEmpIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopMetaUsers.EmployeeId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopMetaUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTargets</name>
        <label>assignTargets</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varTargetEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTargetUsers.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTargetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTargetUsers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTargetUsers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkUser</name>
        <label>checkUser</label>
        <locationX>396</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>loopTargetUsers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User = Null</defaultConnectorLabel>
        <rules>
            <name>userNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopTargetUsers.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopTargetUsers.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTargets</targetReference>
            </connector>
            <label>User != Null</label>
        </rules>
    </decisions>
    <description>[25 Mar 2024] Runs flow as System</description>
    <interviewLabel>CTRSubFlowGetPISUsers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRSubFlowGetPISUsers</label>
    <loops>
        <name>loopMetaUsers</name>
        <label>loopMetaUsers</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>varMetaUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignEmpId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getUsers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTargetUsers</name>
        <label>loopTargetUsers</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <collectionReference>targetUserRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkUser</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getUsers</name>
        <label>getUsers</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopTargetUsers</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employee_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varEmpIds</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>targetUserRecs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <startElementReference>loopMetaUsers</startElementReference>
    <status>Active</status>
    <variables>
        <name>targetUserRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varEmpIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMetaUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRActorInProcess__mdt</objectType>
    </variables>
    <variables>
        <name>varTargetEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTargetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
