force-app/main/default/flows/CTRTriggerRequestFormItemReviewEDDByCEOV3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckBusinessUnit</name>
        <label>CheckBusinessUnit</label>
        <locationX>1399</locationX>
        <locationY>371</locationY>
        <actionName>CTRFlowBUProfileCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getTrader</targetReference>
        </connector>
        <inputParameters>
            <name>mSalesOrg</name>
            <value>
                <elementReference>fmlOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varBusinessUnit</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>1267</locationX>
        <locationY>5927</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotification</name>
        <label>SendNotification</label>
        <locationX>1267</locationX>
        <locationY>5819</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignAMM</name>
        <label>assignAMM</label>
        <locationX>1379</locationX>
        <locationY>2651</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAMM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAMM.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAMM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCEO</name>
        <label>assignCEO</label>
        <locationX>1355</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getCEO.varUserIdCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getCEO.varUserEmailCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCEO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCPCE</name>
        <label>assignCPCE</label>
        <locationX>1379</locationX>
        <locationY>3251</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCPCE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCPCE.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCPCE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEDDWorkingTeam</name>
        <label>assignEDDWorkingTeam</label>
        <locationX>1379</locationX>
        <locationY>4451</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getEDDWorkingTeam.varUserIdCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getEDDWorkingTeam.varUserEmailCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopEDDWorkingTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFALB</name>
        <label>assignFALB</label>
        <locationX>1098</locationX>
        <locationY>5267</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopFALB.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopFALB.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopFALB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignGLGC</name>
        <label>assignGLGC</label>
        <locationX>1379</locationX>
        <locationY>3851</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopGLGC.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopGLGC.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopGLGC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipient</name>
        <label>assignRecipient</label>
        <locationX>1710</locationX>
        <locationY>4835</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCustomerIsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientEmails_0</name>
        <label>assignRecipientEmails</label>
        <locationX>1578</locationX>
        <locationY>5051</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSectionHead</name>
        <label>assignSectionHead</label>
        <locationX>1267</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getTrader.ReportToUser__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getTrader.ReportToUser__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSectionHead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>1383</locationX>
        <locationY>1638</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignVP_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCR</name>
        <label>assignTRCR</label>
        <locationX>618</locationX>
        <locationY>5267</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTRCR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTRCR.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTRCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTXFA</name>
        <label>assignTXFA</label>
        <locationX>138</locationX>
        <locationY>5267</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTXFA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTXFA.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTXFA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVP</name>
        <label>assignVP</label>
        <locationX>1267</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getSectionHead.ReportToUser__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getSectionHead.ReportToUser__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRequestItemRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVP_0</name>
        <label>assignVP</label>
        <locationX>1475</locationX>
        <locationY>1746</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCEO_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approved_or_Rejected</name>
        <label>Approved or Rejected</label>
        <locationX>1399</locationX>
        <locationY>4727</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApproveDueDiligenceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhichBU</targetReference>
            </connector>
            <label>IsApproved</label>
        </rules>
        <rules>
            <name>IsRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApproveDueDiligenceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecipient</targetReference>
            </connector>
            <label>IsRejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>FinalDecision</name>
        <label>FinalDecision</label>
        <locationX>1399</locationX>
        <locationY>5711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecipientIdOrRecipientEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotification</targetReference>
            </connector>
            <label>RecipientIdOrRecipientEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAMMIsNull</name>
        <label>IsAMMIsNull</label>
        <locationX>1399</locationX>
        <locationY>2435</locationY>
        <defaultConnector>
            <targetReference>getCPCE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAMM.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopAMM</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCEOIsNull</name>
        <label>IsCEOIsNull</label>
        <locationX>1399</locationX>
        <locationY>1835</locationY>
        <defaultConnector>
            <targetReference>IsAMMIsNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCEO.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopCEO</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCPCEIsNull</name>
        <label>IsCPCEIsNull</label>
        <locationX>1399</locationX>
        <locationY>3035</locationY>
        <defaultConnector>
            <targetReference>getGLGC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCPCE.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopCPCE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCustomerIsNull</name>
        <label>IsCustomerIsNull</label>
        <locationX>1710</locationX>
        <locationY>4943</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCustomerEmailIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecipientEmails_0</targetReference>
            </connector>
            <label>IsCustomerEmailIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEDDWorkingTeamIsNull</name>
        <label>IsEDDWorkingTeamIsNull</label>
        <locationX>1399</locationX>
        <locationY>4235</locationY>
        <defaultConnector>
            <targetReference>Approved_or_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEDDWorkingTeam.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopEDDWorkingTeam</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFALBIsNull</name>
        <label>IsFALBIsNull</label>
        <locationX>1118</locationX>
        <locationY>5051</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFALB.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopFALB</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGetSectionHeadIsNull</name>
        <label>IsGetSectionHeadIsNull</label>
        <locationX>1399</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>getRequestItemRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCMVPIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSectionHead.ReportToUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignVP</targetReference>
            </connector>
            <label>IsCMVPIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGetTraderIsNull</name>
        <label>IsGetTraderIsNull</label>
        <locationX>1399</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>getSectionHead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSectionHeadIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTrader.ReportToUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSectionHead</targetReference>
            </connector>
            <label>IsSectionHeadIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGLGCIsNull</name>
        <label>IsGLGCIsNull</label>
        <locationX>1399</locationX>
        <locationY>3635</locationY>
        <defaultConnector>
            <targetReference>getEDDWorkingTeam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getGLGC.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopGLGC</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTRCRIsNull</name>
        <label>IsTRCRIsNull</label>
        <locationX>638</locationX>
        <locationY>5051</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCR.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopTRCR</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTXFAIsNull</name>
        <label>IsTXFAIsNull</label>
        <locationX>158</locationX>
        <locationY>5051</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTXFA.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopTXFA</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichBU</name>
        <label>Which BU</label>
        <locationX>780</locationX>
        <locationY>4835</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsTX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTXFA</targetReference>
            </connector>
            <label>IsTX</label>
        </rules>
        <rules>
            <name>IsTOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTRCR</targetReference>
            </connector>
            <label>IsTOP</label>
        </rules>
        <rules>
            <name>IsLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFALB</targetReference>
            </connector>
            <label>IsLABIX</label>
        </rules>
    </decisions>
    <formulas>
        <description>Subject email</description>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial:&quot;+ $Record.Customer__c+ &quot;Enhance Due Diligence Required for New Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!getRequestItemRecord.SalesOrganization__c}), IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!getRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>NotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review due diligence result&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Enhance Due Diligence Required for New Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <interviewLabel>CTRTriggerRequestFormItemReviewEDDByCEOV3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerRequestFormItemReviewEDDByCEOV3</label>
    <loops>
        <name>loopAMM</name>
        <label>loopAMM</label>
        <locationX>1291</locationX>
        <locationY>2543</locationY>
        <collectionReference>getAMM.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignAMM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getCPCE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopCEO</name>
        <label>loopCEO</label>
        <locationX>1267</locationX>
        <locationY>1943</locationY>
        <collectionReference>getCEO.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCEO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getAMM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopCPCE</name>
        <label>loopCPCE</label>
        <locationX>1291</locationX>
        <locationY>3143</locationY>
        <collectionReference>getCPCE.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCPCE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getGLGC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopEDDWorkingTeam</name>
        <label>loopEDDWorkingTeam</label>
        <locationX>1291</locationX>
        <locationY>4343</locationY>
        <collectionReference>getEDDWorkingTeam.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignEDDWorkingTeam</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Approved_or_Rejected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopFALB</name>
        <label>loopFALB</label>
        <locationX>1010</locationX>
        <locationY>5159</locationY>
        <collectionReference>getFALB.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignFALB</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopGLGC</name>
        <label>loopGLGC</label>
        <locationX>1291</locationX>
        <locationY>3743</locationY>
        <collectionReference>getGLGC.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignGLGC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getEDDWorkingTeam</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTRCR</name>
        <label>loopTRCR</label>
        <locationX>530</locationX>
        <locationY>5159</locationY>
        <collectionReference>getTRCR.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignTRCR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTXFA</name>
        <label>loopTXFA</label>
        <locationX>50</locationX>
        <locationY>5159</locationY>
        <collectionReference>getTXFA.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignTXFA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>1399</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEmailTemplate</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate</name>
        <label>getEmailTemplate</label>
        <locationX>1399</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRDueDiligenceResult</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>1399</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordLookups>
        <name>getSectionHead</name>
        <label>getSectionHead</label>
        <locationX>1399</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsGetSectionHeadIsNull</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTrader.ReportToUser__c</elementReference>
            </value>
        </filters>
        <object>PISUsers__c</object>
    </recordLookups>
    <recordLookups>
        <name>getTrader</name>
        <label>getTrader</label>
        <locationX>1399</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsGetTraderIsNull</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>PISUsers__c</object>
    </recordLookups>
    <startElementReference>CheckBusinessUnit</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>get_ids_ceo</name>
        <label>get ids ceo</label>
        <locationX>1670</locationX>
        <locationY>1849</locationY>
        <flowName>Subflow_Additional_Recipient</flowName>
        <inputAssignments>
            <name>varIdCollection</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserRecordCollection</name>
            <value>
                <elementReference>getCEO.varUserRecordCollection</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recipientIds</assignToReference>
            <name>varIdCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>get_ids_ceo_0</name>
        <label>get ids ceo</label>
        <locationX>1536</locationX>
        <locationY>1735</locationY>
        <connector>
            <targetReference>getCEO</targetReference>
        </connector>
        <flowName>Subflow_Additional_Recipient</flowName>
        <inputAssignments>
            <name>varIdCollection</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserRecordCollection</name>
            <value>
                <elementReference>getCEO_0.varUserRecordCollection</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recipientIds</assignToReference>
            <name>varIdCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>getAMM</name>
        <label>getAMM</label>
        <locationX>1267</locationX>
        <locationY>2243</locationY>
        <connector>
            <targetReference>IsAMMIsNull</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial AMM</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getCEO</name>
        <label>getCEO</label>
        <locationX>1648</locationX>
        <locationY>1725</locationY>
        <connector>
            <targetReference>get_ids_ceo</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial CEO</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getCEO_0</name>
        <label>getCEO</label>
        <locationX>1514</locationX>
        <locationY>1611</locationY>
        <connector>
            <targetReference>get_ids_ceo_0</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>AMM</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getCPCE</name>
        <label>getCPCE</label>
        <locationX>1399</locationX>
        <locationY>2927</locationY>
        <connector>
            <targetReference>IsCPCEIsNull</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial CPCE</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getEDDWorkingTeam</name>
        <label>getEDDWorkingTeam</label>
        <locationX>1399</locationX>
        <locationY>4127</locationY>
        <connector>
            <targetReference>IsEDDWorkingTeamIsNull</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial EDD Working Team</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getFALB</name>
        <label>getFALB</label>
        <locationX>1118</locationX>
        <locationY>4943</locationY>
        <connector>
            <targetReference>IsFALBIsNull</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial LABIX FALB</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getGLGC</name>
        <label>getGLGC</label>
        <locationX>1399</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>IsGLGCIsNull</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial GLGC</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getTRCR</name>
        <label>getTRCR</label>
        <locationX>638</locationX>
        <locationY>4943</locationY>
        <connector>
            <targetReference>IsTRCRIsNull</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial TRCR</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getTXFA</name>
        <label>getTXFA</label>
        <locationX>158</locationX>
        <locationY>4943</locationY>
        <connector>
            <targetReference>IsTXFAIsNull</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial TX TXFA</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <text>&lt;p&gt;Dear ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Record.Customer__c} has a high risk level of Compliance Risk.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;CM Review Result: {!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment: {!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Compliance Advice: {!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CPXX: {!$Record.CPXXReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Please review the due diligence result by proceeding via this link.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
