force-app/main/default/flows/CTRTriggerRequestFormItemReviewEDDByTrader.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckBusinessUnit</name>
        <label>CheckBusinessUnit</label>
        <locationX>1096</locationX>
        <locationY>371</locationY>
        <actionName>CTRFlowBUProfileCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getRequestItemRecord</targetReference>
        </connector>
        <inputParameters>
            <name>mSalesOrg</name>
            <value>
                <elementReference>fmlOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varBusinessUnit</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotification</name>
        <label>SendNotification</label>
        <locationX>964</locationX>
        <locationY>2351</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SentEmail</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SentEmail</name>
        <label>SentEmail</label>
        <locationX>964</locationX>
        <locationY>2459</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignEDDWorkingTeamCollection</name>
        <label>assignEDDWorkingTeamCollection</label>
        <locationX>714</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopEDDWorkingTeam.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopEDDWorkingTeam.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopEDDWorkingTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign who will receive email</description>
        <name>assignRecipient</name>
        <label>assignRecipient</label>
        <locationX>1150</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSectionHead</name>
        <label>assignSectionHead</label>
        <locationX>1018</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getTrader.ReportToUser__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getTrader.ReportToUser__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSectionHead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>1096</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Proceed_or_Not_Proceed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVP</name>
        <label>assignVP</label>
        <locationX>1018</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getSectionHead.ReportToUser__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getSectionHead.ReportToUser__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignRecipient</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckSectionHead</name>
        <label>CheckSectionHead</label>
        <locationX>1150</locationX>
        <locationY>1235</locationY>
        <defaultConnector>
            <targetReference>getSectionHead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveSectionHead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTrader.ReportToUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSectionHead</targetReference>
            </connector>
            <label>HaveSectionHead</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVP</name>
        <label>CheckVP</label>
        <locationX>1150</locationX>
        <locationY>1643</locationY>
        <defaultConnector>
            <targetReference>assignRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveVP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSectionHead.ReportToUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignVP</targetReference>
            </connector>
            <label>HaveVP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Decision</name>
        <label>Final Decision</label>
        <locationX>1096</locationX>
        <locationY>2243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FinalDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotification</targetReference>
            </connector>
            <label>FinalDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEDDWorkingTeamIsNull</name>
        <label>IsEDDWorkingTeamIsNull</label>
        <locationX>734</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Final_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetEDDWorkingTeam.varUserEmailCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEDDWorkingTeam.varUserIdCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopEDDWorkingTeam</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_or_Not_Proceed</name>
        <label>Proceed or Not Proceed</label>
        <locationX>1096</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Final_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceProceedByTrader__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEDDWorkingTeam</targetReference>
            </connector>
            <label>IsProceed</label>
        </rules>
        <rules>
            <name>IsNotProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceProceedByTrader__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestItem</targetReference>
            </connector>
            <label>IsNotProceed</label>
        </rules>
    </decisions>
    <formulas>
        <description>Subject email</description>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial:&quot; + {!$Record.Customer__c} + &quot;Enhance Due Diligence Required for New Supplier Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!getRequestItemRecord.SalesOrganization__c}), IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!getRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>NotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review due diligence result&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Enhance Due Diligence Required for New Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <interviewLabel>CTRTriggerRequestFormItemReviewEDDByTrader {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerRequestFormItemReviewEDDByTrader</label>
    <loops>
        <name>loopEDDWorkingTeam</name>
        <label>loopEDDWorkingTeam</label>
        <locationX>626</locationX>
        <locationY>1235</locationY>
        <collectionReference>GetEDDWorkingTeam.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignEDDWorkingTeamCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>1096</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEmailTemplate</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate</name>
        <label>getEmailTemplate</label>
        <locationX>1096</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRDueDiligenceResult</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>1096</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItemRecord.Customer__r.Name</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordLookups>
        <name>getSectionHead</name>
        <label>getSectionHead</label>
        <locationX>1150</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckVP</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTrader.ReportToUser__c</elementReference>
            </value>
        </filters>
        <object>PISUsers__c</object>
    </recordLookups>
    <recordLookups>
        <name>getTrader</name>
        <label>getTrader</label>
        <locationX>1150</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSectionHead</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PISUsers__c</object>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequestItem</name>
        <label>UpdateRequestItem</label>
        <locationX>1150</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>getTrader</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>CheckBusinessUnit</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>GetEDDWorkingTeam</name>
        <label>GetEDDWorkingTeam</label>
        <locationX>734</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>IsEDDWorkingTeamIsNull</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial EDD Working Team</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <text>&lt;p&gt;Dear {!$Record.TraderEnhanceDueDiligenceBy__r.FirstName} {!$Record.TraderEnhanceDueDiligenceBy__r.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Record.Customer__r.Name} has a high risk level of Compliance Risk.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;CM Review Result: {!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment: {!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Compliance Advice: {!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CPCE: {!$Record.CPXXReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorse Due Diligence: {!$Record.EndorseDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Approve Due Diligence: {!$Record.ApproveDueDiligenceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Please review the due diligence result by proceeding via this link.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
