force-app/main/default/flows/CTRTriggerReqItemPreScreen.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FATXSendEmail</name>
        <label>FATXSendEmail</label>
        <locationX>4494</locationX>
        <locationY>3791</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FATXSendNoti</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>FARecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>FATXEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FATXEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FATXSendNoti</name>
        <label>FATXSendNoti</label>
        <locationX>4494</locationX>
        <locationY>3899</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>FARecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>FATXNotiTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>FATXNotiBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToCustomer</name>
        <label>SendEmailToCustomer</label>
        <locationX>3218</locationX>
        <locationY>2135</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubjectToCustomer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenPassCustoCustomerEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToSupplier</name>
        <label>SendEmailToSupplier</label>
        <locationX>4186</locationX>
        <locationY>2135</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubjectToSupplier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenPassSuptoCustomerEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailTXToCustomer</name>
        <label>SendEmailTXToCustomer</label>
        <locationX>3482</locationX>
        <locationY>2135</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>getMDC</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TXVPPreScreenEmailSubjectToExternal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenPassCusTXtoCustomerEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailTXToSupplier</name>
        <label>SendEmailTXToSupplier</label>
        <locationX>4450</locationX>
        <locationY>2135</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>getMDC</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TXVPPreScreenEmailSubjectToExternal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenPassSupTXtoSupplierEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenCusNoti</name>
        <label>SHPreScreenCusNoti</label>
        <locationX>1106</locationX>
        <locationY>1835</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SHPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SHPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenCusNoti_0</name>
        <label>SHPreScreenCusNoti</label>
        <locationX>2162</locationX>
        <locationY>1619</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SHPreScreentoTraderNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SHPreScreentoTraderNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenCusSendEmail</name>
        <label>SHPreScreenCusSendEmail</label>
        <locationX>1106</locationX>
        <locationY>1619</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreentoTraderSendEmail_CustomerPassed</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreenCusEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenSupNoti</name>
        <label>SHPreScreenSupNoti</label>
        <locationX>1370</locationX>
        <locationY>1835</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SHPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SHPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenSupNoti_0</name>
        <label>SHPreScreenSupNoti</label>
        <locationX>2426</locationX>
        <locationY>1619</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SHPreScreentoTraderNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SHPreScreentoTraderNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenSupSendEmail</name>
        <label>SHPreScreenSupSendEmail</label>
        <locationX>1370</locationX>
        <locationY>1619</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreentoTraderSendEmail_SupplierPassed</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreenSupEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreentoTraderSendEmail_CustomerNotPassed</name>
        <label>SHPreScreentoTraderSendEmail</label>
        <locationX>2162</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreenCusNoti_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailSubject_NotPassed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailBody_NotPassed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreentoTraderSendEmail_CustomerPassed</name>
        <label>SHPreScreentoTraderSendEmail</label>
        <locationX>1106</locationX>
        <locationY>1727</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreenCusNoti</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>TraderRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailSubject_Passed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailBody_Passed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreentoTraderSendEmail_SupplierNotPassed</name>
        <label>SHPreScreentoTraderSendEmail</label>
        <locationX>2426</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreenSupNoti_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailSubject_NotPassed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailBody_NotPassed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreentoTraderSendEmail_SupplierPassed</name>
        <label>SHPreScreentoTraderSendEmail</label>
        <locationX>1370</locationX>
        <locationY>1727</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreenSupNoti</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>TraderRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailSubject_Passed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailBody_Passed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TraderPreScreenCusNoti</name>
        <label>TraderPreScreenCusNoti</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SHRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TraderPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TraderPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TraderPreScreenCusSendEmail</name>
        <label>TraderPreScreenCusSendEmail</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TraderPreScreenCusNoti</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SHRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TraderPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TraderPreScreenCusEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TraderPreScreenSupNoti</name>
        <label>TraderPreScreenSupNoti</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SHRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TraderPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TraderPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TraderPreScreenSupSendEmail</name>
        <label>TraderPreScreenSupSendEmail</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TraderPreScreenSupNoti</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SHRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TraderPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TraderPreScreenSupEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>VPPreScreenNotPassCusSendEmail</name>
        <label>VPPreScreenNotPassCusSendEmail</label>
        <locationX>5682</locationX>
        <locationY>1811</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>VPPreScreenNotPassCusSendNotification</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenCusEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>VPPreScreenNotPassCusSendNotification</name>
        <label>VPPreScreenNotPassCusSendNotification</label>
        <locationX>5682</locationX>
        <locationY>1919</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>VPPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VPPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>VPPreScreenNotPassSupSendEmail</name>
        <label>VPPreScreenNotPassSupSendEmail</label>
        <locationX>5946</locationX>
        <locationY>1811</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>VPPreScreenNotPassSupSendNotification</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenSupEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>VPPreScreenNotPassSupSendNotification</name>
        <label>VPPreScreenNotPassSupSendNotification</label>
        <locationX>5946</locationX>
        <locationY>1919</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>VPPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VPPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>VPPreScreenPassCusSendEmail</name>
        <label>VPPreScreenPassCusSendEmail</label>
        <locationX>3702</locationX>
        <locationY>1811</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CheckCustomerEmail</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenCusEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>VPPreScreenPassSupSendEmail</name>
        <label>VPPreScreenPassSupSendEmail</label>
        <locationX>4670</locationX>
        <locationY>1811</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CheckSupplierEmail</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenSupEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>addFATX</name>
        <label>addFATX</label>
        <locationX>4494</locationX>
        <locationY>3683</locationY>
        <assignmentItems>
            <assignToReference>FARecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFATX.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FARecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFATX.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FATXSendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEmailRecipients</name>
        <label>assignEmailRecipients</label>
        <locationX>5698</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSH_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSectionHead</name>
        <label>assignSectionHead</label>
        <locationX>5566</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVPPreScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSectionHead_0</name>
        <label>assignSectionHead</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>SHRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SHRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>3790</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignTrader</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTrader</name>
        <label>assignTrader</label>
        <locationX>3790</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>TraderRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TraderRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckTraderPreScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTrader_1</name>
        <label>assignTrader</label>
        <locationX>2426</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecordType_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SHPreScreenAssignment</name>
        <label>SHPreScreenAssignment</label>
        <locationX>1370</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecordType_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckBU</name>
        <label>CheckBU</label>
        <locationX>3482</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>getMDC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToCustomer</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>TXNotEditCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailTXToCustomer</targetReference>
            </connector>
            <label>TXNotEditCustomer</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU_0</name>
        <label>CheckBU</label>
        <locationX>4450</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>getMDC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToSupplier</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>TXNotEditSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailTXToSupplier</targetReference>
            </connector>
            <label>TXNotEditSupplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCMVP</name>
        <label>CheckCMVP</label>
        <locationX>1634</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveCMVP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnersCMVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreenAssignment</targetReference>
            </connector>
            <label>HaveCMVP</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCustomerEmail</name>
        <label>CheckCustomerEmail</label>
        <locationX>3702</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveCustomerEmil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBU</targetReference>
            </connector>
            <label>HaveCustomerEmil</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEditRecordType</name>
        <label>checkEditRecordType</label>
        <locationX>4428</locationX>
        <locationY>3143</locationY>
        <defaultConnector>
            <targetReference>VPPassUpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Type != Edit</defaultConnectorLabel>
        <rules>
            <name>typeEdit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <label>Type = Edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipient</name>
        <label>CheckRecipient</label>
        <locationX>4923</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>HaveRecipient</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecipient_1</name>
        <label>checkRecipient</label>
        <locationX>4626</locationX>
        <locationY>3575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveFATX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findFATX.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findFATX.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFATX</targetReference>
            </connector>
            <label>HaveFATX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType</name>
        <label>CheckRecordType</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TraderPreScreenCusSendEmail</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TraderPreScreenSupSendEmail</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType_0</name>
        <label>CheckRecordType</label>
        <locationX>1370</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreenCusSendEmail</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreenSupSendEmail</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType_0_0</name>
        <label>CheckRecordType</label>
        <locationX>2426</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreentoTraderSendEmail_CustomerNotPassed</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreentoTraderSendEmail_SupplierNotPassed</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSH</name>
        <label>CheckSH</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveSH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnersSectionHead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSectionHead_0</targetReference>
            </connector>
            <label>HaveSH</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSH_0</name>
        <label>CheckSH</label>
        <locationX>5698</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>CheckVPPreScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveSH_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnersSectionHead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSectionHead</targetReference>
            </connector>
            <label>HaveSH</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSHPreScreen</name>
        <label>CheckSHPreScreen</label>
        <locationX>4516</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SHJustPreScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SHPreScreenBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TraderRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SHPrescreenDecision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreenResult</targetReference>
            </connector>
            <label>SHJustPreScreen</label>
        </rules>
        <rules>
            <name>SHAlreadyPreScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SHPreScreenBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TraderRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SHPrescreenDecision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignEmailRecipients</targetReference>
            </connector>
            <label>SHAlreadyPreScreen</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSupplierEmail</name>
        <label>CheckSupplierEmail</label>
        <locationX>4670</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveSupplierEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBU_0</targetReference>
            </connector>
            <label>HaveSupplierEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTraderPreScreen</name>
        <label>CheckTraderPreScreen</label>
        <locationX>3790</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TraderJustPreScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TraderPreScreenBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TraderRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TraderPreScreenDecision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTraderRecord</targetReference>
            </connector>
            <label>TraderJustPreScreen</label>
        </rules>
        <rules>
            <name>TraderAlreadyPreScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TraderPreScreenBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TraderRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TraderPreScreenDecision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckSHPreScreen</targetReference>
            </connector>
            <label>TraderAlreadyPreScreen</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVPPreScreen</name>
        <label>CheckVPPreScreen</label>
        <locationX>5698</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveVPPreScreenandPass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMVPPreScreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecipient</targetReference>
            </connector>
            <label>HaveVPPreScreenandPass</label>
        </rules>
        <rules>
            <name>HaveVPPreScreenandNotPass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMVPPreScreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPNotPassUpdateRecord</targetReference>
            </connector>
            <label>HaveVPPreScreenandNotPass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>4428</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPPreScreenPassCusSendEmail</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPPreScreenPassSupSendEmail</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_0</name>
        <label>Record Type</label>
        <locationX>5946</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPPreScreenNotPassCusSendEmail</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier_1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPPreScreenNotPassSupSendEmail</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>SHPreScreenResult</name>
        <label>SHPreScreenResult</label>
        <locationX>2294</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SHPrescreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SHPrescreenDecision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePassRecord</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
        <rules>
            <name>NotPass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SHPrescreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SHPrescreenDecision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNotPassRecord</targetReference>
            </connector>
            <label>NotPass</label>
        </rules>
    </decisions>
    <description>[04 Apr 2024] Move update status and approval step after TXMD approved and update criteria</description>
    <formulas>
        <name>FAEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI] :&apos;+&apos; &apos;+ {!$Record.CompanyName__c}+&apos; &apos;+ &apos;Already to Verify Document&apos;</expression>
    </formulas>
    <formulas>
        <name>FANotiBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review pre-screened by CMVP/TXMD. &quot;</expression>
    </formulas>
    <formulas>
        <name>FANotiTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyName__c}+&apos;  Pre-Screen Result from CMVP/TXMD&apos;</expression>
    </formulas>
    <formulas>
        <name>FATXEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Initial: &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; Ready to Verify Document&quot;</expression>
    </formulas>
    <formulas>
        <name>FATXNotiBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review pre-screened by &quot; &amp; {!$Record.fmlPositionNameOfVP__c} &amp; &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>FATXNotiTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; Pre-Screen Result from&quot; &amp; {!$Record.fmlPositionNameOfVP__c}</expression>
    </formulas>
    <formulas>
        <name>fmlCMVPEndorseorRejectSentence</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.CMVPPreScreenDecision__c})=&quot;Not Pass&quot;, &quot;Please inform the customer.&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlCountry</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c}=&quot;TH&quot;, &quot;Domestic&quot;, &quot;International&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!getRequestItemRecord.SalesOrganization__c}), IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!getRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fmlPositionNameOfVP</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c}=&quot;TH&quot;, &quot;CMVP&quot;, &quot;SA09&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlVPEndorseorReject</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.CMVPPreScreenDecision__c})=&quot;Pass&quot;, &quot;endorsed&quot;, &quot;rejected&quot;)</expression>
    </formulas>
    <formulas>
        <name>HerokuLinkFormula</name>
        <dataType>String</dataType>
        <expression>{!getRequestItemRecord.CTRRequestFormHeader__r.CTRUser__r.TemporaryLoginURL__c} &amp; &quot;/&quot; &amp; {!getRequestItemRecord.Customer__c}</expression>
    </formulas>
    <formulas>
        <name>HerokuLinkFormular</name>
        <dataType>String</dataType>
        <expression>{!getRequestItemRecord.CTRRequestFormHeader__r.CTRUser__r.TemporaryLoginURL__c} &amp; &quot;/&quot; &amp; {!getRequestItemRecord.Customer__c}</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <formulas>
        <name>SHPreScreenEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!getRequestItemRecord.SubBU__c} &amp; &quot;]: Endorse of Customer Registarion Pre-Screen for &quot; &amp;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>SHPreScreenNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review and approve/reject&quot;</expression>
    </formulas>
    <formulas>
        <name>SHPreScreenNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Pre-Screen Requires Your Review&quot;</expression>
    </formulas>
    <formulas>
        <name>SHPreScreentoTraderEmailSubject_NotPassed</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI][&quot; &amp; {!getRequestItemRecord.SubBU__c} &amp; &quot;]: Customer Registration Pre-Screen Result for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>SHPreScreentoTraderEmailSubject_Passed</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI][&quot; &amp; {!getRequestItemRecord.SubBU__c} &amp; &quot;]: Customer Registration Pre-Screen Result for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>SHPreScreentoTraderNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review pre-screened by Section Head.&quot;</expression>
    </formulas>
    <formulas>
        <name>SHPreScreentoTraderNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&amp; &quot; Pre-Screen Result from Section Head&quot;</expression>
    </formulas>
    <formulas>
        <name>TraderPreScreenEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; + {!getRequestItemRecord.SubBU__c} + &quot;]: Approval of Customer Registration Pre-Screen for &quot; + {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>TraderPreScreenNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review and approve/reject&quot;</expression>
    </formulas>
    <formulas>
        <name>TraderPreScreenNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Pre-Screen Requires Your Review&quot;</expression>
    </formulas>
    <formulas>
        <name>TXVPPreScreenEmailSubjectToExternal</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI]: Your Registration is in Progress&quot;</expression>
    </formulas>
    <formulas>
        <description>Subject email</description>
        <name>VPPreScreenEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI][&quot; &amp; {!getRequestItemRecord.SubBU__c} &amp; &quot;]: Customer Registration Pre-Screen Result for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>VPPreScreenEmailSubjectToCustomer</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA]: Additional Information Required for Your Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>VPPreScreenEmailSubjectToSupplier</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA]: Additional Information Required for Your Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>VPPreScreenNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review pre-screened by &quot; &amp; {!$Record.fmlPositionNameOfVP__c}</expression>
    </formulas>
    <formulas>
        <name>VPPreScreenNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Pre-Screen Result from &quot; &amp; {!$Record.fmlPositionNameOfVP__c}</expression>
    </formulas>
    <interviewLabel>CTRTriggerReqItemPreScreen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemPreScreen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCreditTeam</name>
        <label>getCreditTeam</label>
        <locationX>4626</locationX>
        <locationY>3359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFATX</targetReference>
        </connector>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VerifyDocuments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <object>CTRActorInProcess__mdt</object>
    </recordLookups>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>3790</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getMDC</name>
        <label>getMDC</label>
        <locationX>4428</locationX>
        <locationY>2603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMDCUser</targetReference>
        </connector>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAPInformation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TXMO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getMDCMgr</name>
        <label>getMDCMgr</label>
        <locationX>4428</locationX>
        <locationY>2819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMDCMgrUser</targetReference>
        </connector>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAPInformation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TXMOHead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getMDCMgrUser</name>
        <label>getMDCMgrUser</label>
        <locationX>4428</locationX>
        <locationY>2927</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateMDCandMgr</targetReference>
        </connector>
        <filters>
            <field>Employee_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getMDCMgr.EmployeeId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Employee_Id__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getMDCUser</name>
        <label>getMDCUser</label>
        <locationX>4428</locationX>
        <locationY>2711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMDCMgr</targetReference>
        </connector>
        <filters>
            <field>Employee_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getMDC.EmployeeId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Employee_Id__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>3790</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>3790</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordUpdates>
        <name>updateMDCandMgr</name>
        <label>updateMDCandMgr</label>
        <locationX>4428</locationX>
        <locationY>3035</locationY>
        <connector>
            <targetReference>checkEditRecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>MDCMngName__c</field>
            <value>
                <elementReference>getMDCMgrUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MDCName__c</field>
            <value>
                <elementReference>getMDCUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNotPassRecord</name>
        <label>UpdateNotPassRecord</label>
        <locationX>2426</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>assignTrader_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TraderPreScreenDecision__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePassRecord</name>
        <label>UpdatePassRecord</label>
        <locationX>1634</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>CheckCMVP</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Review Pre-Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTraderRecord</name>
        <label>UpdateTraderRecord</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>CheckSH</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Review Pre-Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>VPNotPassUpdateRecord</name>
        <label>VPNotPassUpdateRecord</label>
        <locationX>5946</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Record_Type_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>VPPassUpdateRecord</name>
        <label>VPPassUpdateRecord</label>
        <locationX>4626</locationX>
        <locationY>3251</locationY>
        <connector>
            <targetReference>getCreditTeam</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Verify Documents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmittedTRCR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isTRCR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>getRequestItemRecord</startElementReference>
    <status>Active</status>
    <subflows>
        <name>findFATX</name>
        <label>findFATX</label>
        <locationX>4626</locationX>
        <locationY>3467</locationY>
        <connector>
            <targetReference>checkRecipient_1</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getCreditTeam</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>FATXEmailBody</name>
        <text>Dear FA Team,&lt;br&gt;&lt;br&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} has done pre-screened by {!$Record.fmlPositionNameOfVP__c}. Please continue to work by proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Requester Name:&amp;nbsp;{!$Record.Owner:User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Section Head Name: {!$Record.OwnersSectionHead__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.OwnersSectionHead__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number:&amp;nbsp;{!$Record.Name}&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>SHPreScreenCusEmailBody</name>
        <text>Dear {!$Record.OwnersCMVP__r.FirstName} {!$Record.OwnersCMVP__r.LastName},&lt;br&gt;&lt;br&gt;Customer registration pre-screen {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been approved by Section Head.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name:&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-family: sans-serif;&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please review and proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>SHPreScreenSupEmailBody</name>
        <text>Dear {!$Record.OwnersCMVP__r.FirstName} {!$Record.OwnersCMVP__r.LastName},&lt;br&gt;&lt;br&gt;Customer registration pre-screen {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been approved by Section Head.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name:&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-family: sans-serif;&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please review and proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>SHPreScreentoTraderEmailBody_NotPassed</name>
        <text>Dear {!$Record.TraderSheetCompletedBy__r.FirstName} {!$Record.TraderSheetCompletedBy__r.LastName}&lt;br&gt;&lt;br&gt;Customer registration pre-screen of &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(2, 2, 2);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;&amp;nbsp;&lt;/span&gt;has been rejected by Section Head.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Company Name: {!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Responsible Trader Name:&amp;nbsp;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Request Number:&amp;nbsp;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Please review and re-submit again&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;. &lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>SHPreScreentoTraderEmailBody_Passed</name>
        <text>Dear {!$Record.TraderSheetCompletedBy__r.FirstName} {!$Record.TraderSheetCompletedBy__r.LastName},&lt;br&gt;&lt;br&gt;Pre-screen of {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been approved by Section Head.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;br&gt;Please find details via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email, please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>TraderPreScreenCusEmailBody</name>
        <text>Dear {!$Record.OwnersSectionHead__r.FirstName} {!$Record.OwnersSectionHead__r.LastName},&lt;br&gt;&lt;br&gt;Customer registration pre-screen of {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been done by Trader.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number: {!$Record.Name}&lt;/p&gt;&lt;br&gt;Please review and proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;this link&lt;/a&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;. &lt;/strong&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>TraderPreScreenSupEmailBody</name>
        <text>Dear {!$Record.OwnersSectionHead__r.FirstName} {!$Record.OwnersSectionHead__r.LastName},&lt;br&gt;&lt;br&gt;Customer registration pre-screen of {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been done by Trader.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number: {!$Record.Name}&lt;/p&gt;&lt;br&gt;Please review and proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;this link&lt;/a&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;. &lt;/strong&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenCusEmailBody</name>
        <text>Dear {!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName},&lt;br&gt;&lt;br&gt;Customer Registration pre-screen of {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been {!fmlVPEndorseorReject} by {!$Record.fmlPositionNameOfVP__c}. {!fmlCMVPEndorseorRejectSentence}&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Trader Name:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName} &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Request Number:&amp;nbsp;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by {!$Record.fmlPositionNameOfVP__c}: {!$Record.CMVPPreScreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Please find details via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;. &lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenPassCustoCustomerEmailBody</name>
        <text>Dear {!$Record.CTRRequestFormHeader__r.Customer__r.Name},&lt;br&gt;&lt;br&gt;We would like you to fill in additional information in order to further process your registration via &lt;a href=&quot;{!HerokuLinkFormular}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name:&amp;nbsp;{!$Record.TraderPreScreenBy__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenPassCusTXtoCustomerEmailBody</name>
        <text>Dear {!$Record.CTRRequestFormHeader__r.Customer__r.Name},&lt;br&gt;&lt;br&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} is in review process.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Responsible Trader Name: {!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System.&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenPassSuptoCustomerEmailBody</name>
        <text>Dear {!$Record.CTRRequestFormHeader__r.Customer__r.Name},&lt;br&gt;&lt;br&gt;We would like you to fill in additional information in order to further process your registration via &lt;a href=&quot;{!HerokuLinkFormular}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name:&amp;nbsp;{!$Record.TraderPreScreenBy__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenPassSupTXtoSupplierEmailBody</name>
        <text>Dear {!$Record.CTRRequestFormHeader__r.Customer__r.Name},&lt;br&gt;&lt;br&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} is in review process.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Responsible Trader Name: {!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System.&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenSupEmailBody</name>
        <text>Dear {!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName},&lt;br&gt;&lt;br&gt;Customer Registration pre-screen of {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been {!fmlVPEndorseorReject} by {!$Record.fmlPositionNameOfVP__c}. {!fmlCMVPEndorseorRejectSentence}&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Trader Name:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName} &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Request Number:&amp;nbsp;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by {!$Record.fmlPositionNameOfVP__c}: {!$Record.CMVPPreScreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Please find details via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;. &lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <variables>
        <name>FARecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FARecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SHRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SHRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TraderEmailCol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TraderRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TraderRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
