force-app/main/default/flows/CTRTriggerReqItemRequestNewsCDD.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendCDDEmail</name>
        <label>sendCDDEmail</label>
        <locationX>798</locationX>
        <locationY>1955</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkCDDIds</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientCDDEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailCDDSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailCDDBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendCDDNotify</name>
        <label>sendCDDNotify</label>
        <locationX>798</locationX>
        <locationY>2255</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientCDDIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyCDDTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyCDDBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendEmail</name>
        <label>sendEmail</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkNewsIds</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendNotify</name>
        <label>sendNotify</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignEmail</name>
        <label>assignEmail</label>
        <locationX>1018</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>recipientCDDEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopEmails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignId</name>
        <label>assignId</label>
        <locationX>1018</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>recipientCDDIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign request owner to receive email and notification for NEWS</description>
        <name>assignNewsRecipients</name>
        <label>assignNewsRecipients</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkNewsEmails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record and email and notification recipient</description>
        <name>assignTarget</name>
        <label>assignTarget</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varTargetRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCDDEmails</name>
        <label>checkCDDEmails</label>
        <locationX>930</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>checkCDDIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email = Null</defaultConnectorLabel>
        <rules>
            <name>notNullCDDEmails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientCDDEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendCDDEmail</targetReference>
            </connector>
            <label>Email != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCDDIds</name>
        <label>checkCDDIds</label>
        <locationX>930</locationX>
        <locationY>2147</locationY>
        <defaultConnectorLabel>ID = Null</defaultConnectorLabel>
        <rules>
            <name>notNullCDDIds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientCDDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendCDDNotify</targetReference>
            </connector>
            <label>ID != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDecision</name>
        <label>checkDecision</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>requestNEWS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallOutNews__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignNewsRecipients</targetReference>
            </connector>
            <label>NEWS</label>
        </rules>
        <rules>
            <name>requestCDD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallOutCDD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFinanceUsers</targetReference>
            </connector>
            <label>CDD</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEmail</name>
        <label>checkEmail</label>
        <locationX>1150</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>loopEmails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email = Null</defaultConnectorLabel>
        <rules>
            <name>notNullEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopEmails</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopEmails</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assignEmail</targetReference>
            </connector>
            <label>Email != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkId</name>
        <label>checkId</label>
        <locationX>1150</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>loopIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ID = Null</defaultConnectorLabel>
        <rules>
            <name>notNullId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopIds</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopIds</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assignId</targetReference>
            </connector>
            <label>ID != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkNewsEmails</name>
        <label>checkNewsEmails</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>checkNewsIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email = Null</defaultConnectorLabel>
        <rules>
            <name>notNullNewsEmails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmail</targetReference>
            </connector>
            <label>Email != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkNewsIds</name>
        <label>checkNewsIds</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>ID = Null</defaultConnectorLabel>
        <rules>
            <name>notNullNewsIDs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendNotify</targetReference>
            </connector>
            <label>ID != Null</label>
        </rules>
    </decisions>
    <description>Improved flow by using sub-flow to query recipient information and check recipient != null</description>
    <formulas>
        <name>emailCDDSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA] &apos; + {!fmlRecordType} + &apos;: CDD Results for &apos; + {!$Record.CompanyName__c} + &apos; are Ready to Review&apos;</expression>
    </formulas>
    <formulas>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA] &apos; + {!fmlRecordType} + &apos;: NEWS for &apos; + {!$Record.CompanyName__c} + &apos; is Ready to Review&apos;</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains  ({!$Record.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!$Record.SalesOrganization__c}), IF(contains({!$Record.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!$Record.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fmlRecLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRec}</expression>
    </formulas>
    <formulas>
        <name>fmlRecordType</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.CTRRequestFormHeader__r.RecordType.DeveloperName},
&quot;NewCounterparty&quot;, &quot;Initial&quot;,
&quot;Extension&quot;, &quot;Extend&quot;,
&quot;EditInformation&quot;, &quot;Edit&quot;,
&quot;ShipToCreate&quot;, &quot;New Ship-to&quot;,
&quot;ShipToEdit&quot;, &quot;Edit Ship-to&quot;,
&quot;ShipToChckCountry&quot;, &quot;Check Ship-to&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlType</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c} = &quot;TH&quot;, &quot;Domestic&quot;, &quot;International&quot;)</expression>
    </formulas>
    <formulas>
        <name>notifyBody</name>
        <dataType>String</dataType>
        <expression>&apos;Click to review news for this request.&apos;</expression>
    </formulas>
    <formulas>
        <name>notifyCDDBody</name>
        <dataType>String</dataType>
        <expression>&apos;Click to review CDD results for this request.&apos;</expression>
    </formulas>
    <formulas>
        <name>notifyCDDTitle</name>
        <dataType>String</dataType>
        <expression>&apos;CDD Results for &apos; + {!$Record.CompanyName__c} + &apos; are Ready for Review&apos;</expression>
    </formulas>
    <formulas>
        <name>notifyTitle</name>
        <dataType>String</dataType>
        <expression>&apos;News for &apos; + {!$Record.CompanyName__c} + &apos; is Ready for Review&apos;</expression>
    </formulas>
    <interviewLabel>CTRTriggerReqItemRequestNewsCDD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemRequestNewsCDD</label>
    <loops>
        <name>loopEmails</name>
        <label>loopEmails</label>
        <locationX>930</locationX>
        <locationY>863</locationY>
        <collectionReference>findUsers.varTargetEmails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopIds</name>
        <label>loopIds</label>
        <locationX>930</locationX>
        <locationY>1355</locationY>
        <collectionReference>findUsers.varTargetIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkCDDEmails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>754</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTarget</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getFinanceUsers</name>
        <label>getFinanceUsers</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findUsers</targetReference>
        </connector>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VerifyDocuments</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlType</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <object>CTRActorInProcess__mdt</object>
    </recordLookups>
    <startElementReference>getCustomNotification</startElementReference>
    <status>Active</status>
    <subflows>
        <name>findUsers</name>
        <label>findUsers</label>
        <locationX>930</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>loopEmails</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getFinanceUsers</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>emailBody</name>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;News for the {!fmlRecordType} request is ready to be reviewed.&lt;/span&gt;
&lt;ul&gt;
&lt;li&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: {!$Record.CompanyName__c}&lt;/span&gt;&lt;/li&gt;
&lt;li&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}: {!$Record.ProductName__c}&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please see the details and proceed via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;
&lt;em style=&quot;font-family: sans-serif;&quot;&gt;Counterparties Registration Automated System&lt;/em&gt;&lt;br&gt;
&lt;em style=&quot;font-size: 11px; font-family: sans-serif;&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/em&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailCDDBody</name>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear Financial Team,&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;CDD results for the {!fmlRecordType} request are ready to be reviewed.&lt;/span&gt;
&lt;ul&gt;
&lt;li&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Company Name: {!$Record.CompanyName__c}&lt;/span&gt;&lt;/li&gt;
&lt;li&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}: {!$Record.ProductName__c}&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please see the details and proceed via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;
&lt;em style=&quot;font-family: sans-serif;&quot;&gt;Counterparties Registration Automated System&lt;/em&gt;&lt;br&gt;
&lt;em style=&quot;font-family: sans-serif; font-size: 11px;&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/em&gt;</text>
    </textTemplates>
    <variables>
        <name>recipientCDDEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientCDDIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
