force-app/main/default/flows/CTRTriggerRequestItemShiptoEmailtoRelevantUser.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckBusinessUnit</name>
        <label>CheckBusinessUnit</label>
        <locationX>884</locationX>
        <locationY>655</locationY>
        <actionName>CTRFlowBUProfileCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <inputParameters>
            <name>mSalesOrg</name>
            <value>
                <elementReference>fmlOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varBusinessUnit</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailAction</name>
        <label>Send Email Action</label>
        <locationX>798</locationX>
        <locationY>1679</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignRecipientEmails_0</name>
        <label>assignRecipientEmails</label>
        <locationX>665</locationX>
        <locationY>1233</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTXFA.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTXFA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientEmails_0_0</name>
        <label>assignRecipientEmails</label>
        <locationX>665</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopMS.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientEmails_0_0_0</name>
        <label>assignRecipientEmails</label>
        <locationX>1156</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getSectionHead.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckBusinessUnit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Section_head</name>
        <label>Check Section head</label>
        <locationX>1077</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>CheckBusinessUnit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>get</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSectionHead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecipientEmails_0_0_0</targetReference>
            </connector>
            <label>has section head</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!$Record.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!$Record.SalesOrganization__c}), IF(contains({!$Record.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!$Record.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <interviewLabel>Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerRequestItemShiptoEmailtoRelevantUser</label>
    <loops>
        <name>loopMS</name>
        <label>loopMS</label>
        <locationX>890</locationX>
        <locationY>1367</locationY>
        <collectionReference>getMSDataControl.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignRecipientEmails_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getEmailTemplate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTXFA</name>
        <label>loopTXFA</label>
        <locationX>890</locationX>
        <locationY>1232</locationY>
        <collectionReference>getTXFA.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignRecipientEmails_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopMS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>883</locationX>
        <locationY>789</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTXFA</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate</name>
        <label>getEmailTemplate</label>
        <locationX>898</locationX>
        <locationY>1568</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmailAction</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRShiptoInformRelevantUser</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getSectionHead</name>
        <label>getSectionHead</label>
        <locationX>964</locationX>
        <locationY>514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Section_head</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTrader.ReportToUser__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PISUsers__c</object>
    </recordLookups>
    <recordLookups>
        <name>getTrader</name>
        <label>getTrader</label>
        <locationX>880</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSectionHead</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReportToUser__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PISUsers__c</object>
    </recordLookups>
    <startElementReference>getTrader</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>getMSDataControl</name>
        <label>getMSDataControl</label>
        <locationX>890</locationX>
        <locationY>1060</locationY>
        <connector>
            <targetReference>loopTXFA</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>TX Master Data Controller</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getTXFA</name>
        <label>getTXFA</label>
        <locationX>887</locationX>
        <locationY>937</locationY>
        <connector>
            <targetReference>getMSDataControl</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>TXFA</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
