force-app/main/default/flows/CTRTriggerCheckCreditExemptCase_NotWaive.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckRequestBU</name>
        <label>CheckRequestBU</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>CTRFlowBUProfileCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <inputParameters>
            <name>mSalesOrg</name>
            <value>
                <elementReference>FMLOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mUserId</name>
            <value>
                <elementReference>$Record.Owner__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varBusinessUnit</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s) for TOP Not Waive credit</description>
        <name>Copy_1_of_TOPSendEmailAction</name>
        <label>TOPNotWaiveSendEmailAction</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TOPNotWaiveSendNotification</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TOPNotWaiveEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TOPNotWaive</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s) for Labix not waive credit</description>
        <name>LabixNotWaiveLABIXSendNotification</name>
        <label>LabixNotWaiveLABIXSendNotification</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>LABIXNotWaiveNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>LABIXNotWaiveNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s) for LABIX</description>
        <name>LABIXNotWaiveSendEmailAction</name>
        <label>LABIXNotWaiveSendEmailAction</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>LabixNotWaiveLABIXSendNotification</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>LABIXNotWaiveEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>LABIXNotWaiveEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s) for TOP not waive credit</description>
        <name>TOPNotWaiveSendNotification</name>
        <label>TOPNotWaiveSendNotification</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TOPNotWaiveNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TOPNotWaiveNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignRecipientEmails</name>
        <label>assignRecipientEmails</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectUserBUbySales_Org</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign who will receive email</description>
        <name>assignRecipientIds</name>
        <label>assignRecipientIds</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignRecipientEmails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignRecipientIds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>To select user BU by Sales org</description>
        <name>SelectUserBUbySales_Org</name>
        <label>Select User BU by Sales Org</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>TOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TraderWaive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_TOPSendEmailAction</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>FALB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TraderWaive__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LABIXNotWaiveSendEmailAction</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
    </decisions>
    <formulas>
        <description>Check Record Type</description>
        <name>FMLOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!$Record.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!$Record.SalesOrganization__c}), IF(contains({!$Record.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!$Record.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>LABIXNotWaiveEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA] Initial:&apos;+{!$Record.CompanyName__c} +&apos;Acceptance of Credit Evaluation Result&apos;</expression>
    </formulas>
    <formulas>
        <name>LABIXNotWaiveNotifyBody</name>
        <dataType>String</dataType>
        <expression>&apos;Please select committee to approve new counterparty.&apos;</expression>
    </formulas>
    <formulas>
        <name>LABIXNotWaiveNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyName__c} +&apos; &apos;+ &apos;Acceptance of Credit Evaluation Result.&apos;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <formulas>
        <description>Subject email for TOP not waive</description>
        <name>TOPNotWaiveEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA] Initial:&apos;+&apos; &apos;+ {!$Record.CompanyName__c}+&apos; &apos;+ &apos;Acceptance of Credit Evaluation Result&apos;</expression>
    </formulas>
    <formulas>
        <name>TOPNotWaiveNotifyBody</name>
        <dataType>String</dataType>
        <expression>&apos;Please select committee to approve new counterparty.&apos;</expression>
    </formulas>
    <formulas>
        <name>TOPNotWaiveNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyName__c}+&apos; &apos;+ &apos;Acceptance of Credit Evaluation Result.&apos;</expression>
    </formulas>
    <interviewLabel>CTRTriggerCheckCreditExemptCase NotWaive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerCheckCreditExemptCase NotWaive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRequestBU</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <startElementReference>getCustomNotification</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>LABIXNotWaiveEmailBody</name>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Dear &lt;/span&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!$Record.CreditOwner__r.FirstName} {!$Record.CreditOwner__r.LastName},&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt; The credit evaluation of&lt;/span&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt; {!$Record.CompanyName__c} &lt;/em&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;is accepted by Trader. Please select committee to approve new counterparty registration. Please proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;&lt;em&gt;this link&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;  Company Name: &lt;/span&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CompanyName__c}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;  Interested to be: Customer: {!$Record.InterestedProductTypeAsCustomer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;  Trader Name: {!$Record.Owner__r.FirstName} {!$Record.Owner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;Conterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TOPNotWaive</name>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Dear &lt;/span&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CreditOwner__r.FirstName} {!$Record.CreditOwner__r.LastName}&lt;/em&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;,&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt; The credit evaluation of&lt;/span&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt; &lt;/em&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!$Record.CompanyName__c} is accepted by Trader. Please select committee to approve new counterparty registration. Please proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;&lt;em&gt;this link&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;  Company Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CompanyName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;  Interested to be: Customer: {!$Record.InterestedProductTypeAsCustomer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;  Trader Name: {!$Record.Owner__r.FirstName} {!$Record.Owner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
