force-app/main/default/flows/CTRTriggerCommitteeApprovalBlockProcess.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>SendEmailActionCustomer</name>
        <label>SendEmailActionCustomer</label>
        <locationX>50</locationX>
        <locationY>3203</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendNotificationCustomer</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectCustomer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyCustomer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>SendEmailActionRejCustomer</name>
        <label>SendEmailActionRejCustomer</label>
        <locationX>842</locationX>
        <locationY>3203</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendRejNotificationCustomer</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailRejectedSubjectCounterparty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailRejectBodyCustomer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>SendEmailActionRejSupplier</name>
        <label>SendEmailActionRejSupplier</label>
        <locationX>1106</locationX>
        <locationY>3203</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendRejNotificationSupplier</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailRejectedSubjectCounterparty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailRejectBodySupplier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>SendEmailActionSupplier</name>
        <label>SendEmailActionSupplier</label>
        <locationX>314</locationX>
        <locationY>3203</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendNotificationSupplier</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectCustomer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodySupplier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotificationCustomer</name>
        <label>SendNotificationCustomer</label>
        <locationX>50</locationX>
        <locationY>3311</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyApprovedTitleCounterparty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyApprovedBodyCustomer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotificationSupplier</name>
        <label>SendNotificationSupplier</label>
        <locationX>314</locationX>
        <locationY>3311</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyApprovedTitleCounterparty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyApprovedBodyCustomer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendRejNotificationCustomer</name>
        <label>SendRejNotificationCustomer</label>
        <locationX>842</locationX>
        <locationY>3311</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyRejectedTitleCustomer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyRejectedBodyCustomer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendRejNotificationSupplier</name>
        <label>SendRejNotificationSupplier</label>
        <locationX>1106</locationX>
        <locationY>3311</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyRejectedTitleSupplier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyRejectedBodySupplier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignFA</name>
        <label>AssignFA</label>
        <locationX>842</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFA.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFA.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFAManager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFAManager</name>
        <label>AssignFAManager</label>
        <locationX>842</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFAManager.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFAManager.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDecisionandRecipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMSDCtrl</name>
        <label>AssignMSDCtrl</label>
        <locationX>954</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopMSDCtrl.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopMSDCtrl.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMSDCtrl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMSDCtrlManager</name>
        <label>AssignMSDCtrlManager</label>
        <locationX>954</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopMSDCtrlManager.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopMSDCtrlManager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMSDCtrlManager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMSDCtrl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTrader</name>
        <label>assignTrader</label>
        <locationX>974</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckDecisionandRecipient</name>
        <label>CheckDecisionandRecipient</label>
        <locationX>974</locationX>
        <locationY>2987</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecordType</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecordType_0</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFA</name>
        <label>Check FA</label>
        <locationX>974</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>GetFAManager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findFA.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findFA.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFA</targetReference>
            </connector>
            <label>HaveFA</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFAManager</name>
        <label>Check FA Manager</label>
        <locationX>974</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>CheckDecisionandRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveFAManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findFAManager.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findFAManager.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFAManager</targetReference>
            </connector>
            <label>HaveFAManager</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMSDCtrl</name>
        <label>CheckMSDCtrl</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>GetMSDCtrlManager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveMSDCtrl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSDCtrl.varUserIdCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMSDCtrl.varUserEmailCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopMSDCtrl</targetReference>
            </connector>
            <label>HaveMSDCtrl</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMSDCtrlManager</name>
        <label>CheckMSDCtrlManager</label>
        <locationX>974</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>assignTrader</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveMSDCtrlManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSDCtrlManager.varUserIdCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMSDCtrlManager.varUserEmailCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopMSDCtrlManager</targetReference>
            </connector>
            <label>HaveMSDCtrlManager</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType</name>
        <label>CheckRecordType</label>
        <locationX>314</locationX>
        <locationY>3095</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CTRReqItemName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailActionCustomer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CTRReqItemName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailActionSupplier</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType_0</name>
        <label>CheckRecordType</label>
        <locationX>1106</locationX>
        <locationY>3095</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CustomerCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CTRReqItemName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailActionRejCustomer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>SupplierCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CTRReqItemName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailActionRejSupplier</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <formulas>
        <name>EmailRejectedSubjectCounterparty</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI] :&apos;+&apos; &apos;+ {!$Record.CTRRequestFormItem__r.Customer__r.Name} +&apos; &apos;+ &apos; Block request has been rejected.&apos;</expression>
    </formulas>
    <formulas>
        <description>Subject email</description>
        <name>EmailSubjectCustomer</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI] :&apos;+&apos; &apos;+ {!$Record.CTRRequestFormItem__r.Customer__r.Name} +&apos; &apos;+ &apos; block customer request has been approved.&apos;</expression>
    </formulas>
    <formulas>
        <name>EmailSubjectSupplier</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI] :&apos;+&apos; &apos;+ {!$Record.CTRRequestFormItem__r.Customer__r.Name} +&apos; &apos;+ &apos; block supplier request has been approved.&apos;</expression>
    </formulas>
    <formulas>
        <name>fmlCountry</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormItem__r.CTRRequestFormHeader__r.Country__r.Code__c}=&quot;TH&quot;, &quot;Domestic&quot;, &quot;International&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlRecordType</name>
        <dataType>String</dataType>
        <expression>if({!$Record.CTRReqItemName__c} = &quot;Block Customer&quot;, &quot;customer&quot;, if({!$Record.CTRReqItemName__c} = &quot;Block Supplier&quot;,&quot;supplier&quot;, &quot;customer/supplier&quot;))</expression>
    </formulas>
    <formulas>
        <name>NotifyApprovedBodyCustomer</name>
        <dataType>String</dataType>
        <expression>&quot;Committee has been approved to block this customer&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyApprovedBodySupplier</name>
        <dataType>String</dataType>
        <expression>&quot;Committee has been approved to block this supplier&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyApprovedTitleCounterparty</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormItem__r.Customer__r.Name}  &amp; &quot; has been Blocked&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyRejectedBodyCustomer</name>
        <dataType>String</dataType>
        <expression>&quot;Block customer has been rejected by committee.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyRejectedBodySupplier</name>
        <dataType>String</dataType>
        <expression>&quot;Block supplier has been rejected by Committee.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyRejectedTitleCustomer</name>
        <dataType>String</dataType>
        <expression>&quot;Block customer:&quot;+{!$Record.CTRRequestFormItem__r.Customer__r.Name} + &quot; has been Rejected.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyRejectedTitleSupplier</name>
        <dataType>String</dataType>
        <expression>&quot;Block supplier :&quot;+{!$Record.CTRRequestFormItem__r.Customer__r.Name} + &quot;  has been Rejected.&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <interviewLabel>CTRTriggerCommitteeApprovalBlockProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerCommitteeApprovalBlockProcess</label>
    <loops>
        <name>LoopMSDCtrl</name>
        <label>LoopMSDCtrl</label>
        <locationX>866</locationX>
        <locationY>863</locationY>
        <collectionReference>GetMSDCtrl.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignMSDCtrl</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetMSDCtrlManager</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopMSDCtrlManager</name>
        <label>LoopMSDCtrlManager</label>
        <locationX>866</locationX>
        <locationY>1463</locationY>
        <collectionReference>GetMSDCtrlManager.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignMSDCtrlManager</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignTrader</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRequestFormItem</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>GetFA</name>
        <label>GetFA</label>
        <locationX>974</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFA</targetReference>
        </connector>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CommitteeSelection</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FATX</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__r.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__r.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetFAManager</name>
        <label>GetFAManager</label>
        <locationX>974</locationX>
        <locationY>2471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFAManager</targetReference>
        </connector>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CommitteeSelection</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FATXHead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__r.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__r.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRequestFormItem</name>
        <label>GetRequestFormItem</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__r.Id</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <startElementReference>getCustomNotification</startElementReference>
    <status>Active</status>
    <subflows>
        <name>findFA</name>
        <label>findFA</label>
        <locationX>974</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>CheckFA</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>GetFA</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>findFAManager</name>
        <label>findFAManager</label>
        <locationX>974</locationX>
        <locationY>2579</locationY>
        <connector>
            <targetReference>CheckFAManager</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>GetFAManager</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>GetMSDCtrl</name>
        <label>GetMSDCtrl</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>CheckMSDCtrl</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>TX Master Data Controller</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>GetMSDCtrlManager</name>
        <label>GetMSDCtrlManager</label>
        <locationX>974</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>CheckMSDCtrlManager</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>TX Master Data Controller Manager</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailBodyCustomer</name>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 9pt;&quot;&gt;Dear All,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!$Record.CTRRequestFormItem__r.Customer__r.Name}&lt;/span&gt;’s block request has been approved by committee and system has been blocked this customer. You can see detail via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-size: 9pt;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 9pt;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!$Record.CTRRequestFormItem__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested Product Type : {!$Record.CTRRequestFormItem__r.InterestedProductTypeAsCustomer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name: {!GetRequestFormItem.Owner__r.FirstName} {!GetRequestFormItem.Owner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Order Block: {!$Record.CTRRequestFormItem__r.OrderBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Delivery Block: {!$Record.CTRRequestFormItem__r.DeliveryBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Billing Block: {!$Record.CTRRequestFormItem__r.BillingBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Block Sales Support: {!$Record.CTRRequestFormItem__r.BlockSalesSupport__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason :&amp;nbsp; {!GetRequestFormItem.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 9pt;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 9pt;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-size: 9pt;&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodySupplier</name>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;Dear All,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormItem__r.Customer__r.Name}&lt;/span&gt;’s block request has been approved by committee and system has been blocked this supplier. You can see detail via &lt;a href=&quot;https://thaioil--devm41.sandbox.lightning.force.com/builder_platform_interaction/%7B!RecordLinkFormula%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-size: 9pt;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 9pt;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormItem__r.CompanyName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested Product Type : {!$Record.CTRRequestFormItem__r.InterestedProductTypeAsSupplier__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetRequestFormItem.Owner__r.FirstName} {!GetRequestFormItem.Owner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Order Block: {!$Record.CTRRequestFormItem__r.OrderBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Delivery Block: {!$Record.CTRRequestFormItem__r.DeliveryBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Billing Block: {!$Record.CTRRequestFormItem__r.BillingBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Block Sales Support: {!$Record.CTRRequestFormItem__r.BlockSalesSupport__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason :&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!GetRequestFormItem.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailRejectBodyCustomer</name>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Dear All,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!$Record.CTRRequestFormItem__r.CompanyName__c} &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;’s block request has been rejected&lt;/span&gt;&lt;strong style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;by committee&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;. Please proceed via&lt;/span&gt;&lt;em style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; &lt;/em&gt;&lt;a href=&quot;https://thaioil--devm41.sandbox.lightning.force.com/builder_platform_interaction/%7B!RecordLinkFormula%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;&lt;em&gt;this link&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name:                          &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormItem__r.CompanyName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested Product Type :             {!$Record.CTRRequestFormItem__r.InterestedProductTypeAsCustomer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name:       &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetRequestFormItem.Owner__r.FirstName} {!GetRequestFormItem.Owner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Order Block:                                  {!$Record.CTRRequestFormItem__r.OrderBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Delivery Block:                              {!$Record.CTRRequestFormItem__r.DeliveryBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Billing Block:                                  {!$Record.CTRRequestFormItem__r.BillingBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Block Sales Support:                     {!$Record.CTRRequestFormItem__r.BlockSalesSupport__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason :&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;                                       {!GetRequestFormItem.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;This is an automatic generated email. Please do not reply to this address&lt;/em&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailRejectBodySupplier</name>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Dear All,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!$Record.CTRRequestFormItem__r.CompanyName__c} &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;’s block request has been rejected&lt;/span&gt;&lt;strong style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;by committee&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;. Please proceed via&lt;/span&gt;&lt;em style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; &lt;/em&gt;&lt;a href=&quot;https://thaioil--devm41.sandbox.lightning.force.com/builder_platform_interaction/%7B!RecordLinkFormula%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;&lt;em&gt;this link&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name:                          &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormItem__r.CompanyName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested Product Type :             {!$Record.CTRRequestFormItem__r.InterestedProductTypeAsSupplier__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name:       &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetRequestFormItem.Owner__r.FirstName} {!GetRequestFormItem.Owner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Order Block:                                  {!$Record.CTRRequestFormItem__r.OrderBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Delivery Block:                              {!$Record.CTRRequestFormItem__r.DeliveryBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Billing Block:                                  {!$Record.CTRRequestFormItem__r.BillingBlock__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Block Sales Support:                     {!$Record.CTRRequestFormItem__r.BlockSalesSupport__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason :&amp;nbsp;                                       &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!GetRequestFormItem.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;This is an automatic generated email. Please do not reply to this address&lt;/em&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
