force-app/main/default/flows/CTRTriggerReqItemSAPCodeAlert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendCustomerEmailToCustomer</name>
        <label>sendCustomerEmailToCustomer</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>recipientCCEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getCustomerEmail.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendCustomerEmailToRelevant</name>
        <label>sendCustomerEmailToRelevant</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>sendCustomerEmailToCustomer</targetReference>
        </connector>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>findCCUsers.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>findRelevantUsers.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getCustomerRelevantEmail.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendSupplierEmailToRelevant</name>
        <label>sendSupplierEmailToRelevant</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>sendSupplierEmailToSupplier</targetReference>
        </connector>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>findCCUsers.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>findRelevantUsers.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getSupplierRelevantEmail.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendSupplierEmailToSupplier</name>
        <label>sendSupplierEmailToSupplier</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>recipientCCEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getSupplierEmail.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignCustomerEmails</name>
        <label>assignCustomerEmails</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientCCEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendCustomerEmailToRelevant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSupplierEmails</name>
        <label>assignSupplierEmails</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientCCEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendSupplierEmailToRelevant</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkAccountType</name>
        <label>checkAccountType</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>getSupplierRelevantEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Supplier</defaultConnectorLabel>
        <rules>
            <name>typeCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.fmlAccountTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCustomerRelevantEmail</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCCUsers</name>
        <label>checkCCUsers</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Not Found Users</defaultConnectorLabel>
        <rules>
            <name>typeFoundCCUsers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findCCUsers.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findCCUsers.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkAccountType</targetReference>
            </connector>
            <label>Found Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRelevantUsers</name>
        <label>checkRelevantUsers</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Not Found Users</defaultConnectorLabel>
        <rules>
            <name>typeFoundUsers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findRelevantUsers.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findRelevantUsers.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCCUsers</targetReference>
            </connector>
            <label>Found Users</label>
        </rules>
    </decisions>
    <interviewLabel>CTRTriggerReqItemSAPCodeAlert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemSAPCodeAlert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCCUsers</name>
        <label>getCCUsers</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findCCUsers</targetReference>
        </connector>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformRelatedCC</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCustomerEmail</name>
        <label>getCustomerEmail</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCustomerEmails</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialCustomerGotSAPCodeToCustomer</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getCustomerRelevantEmail</name>
        <label>getCustomerRelevantEmail</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomerEmail</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialCustomerGotSAPCodeToRelevant</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getRelevantUsers</name>
        <label>getRelevantUsers</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findRelevantUsers</targetReference>
        </connector>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformRelated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getSupplierEmail</name>
        <label>getSupplierEmail</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignSupplierEmails</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialSupplierGotSAPCodeToSupplier</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getSupplierRelevantEmail</name>
        <label>getSupplierRelevantEmail</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSupplierEmail</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialSupplierGotSAPCodeToRelevant</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <startElementReference>getRelevantUsers</startElementReference>
    <status>Active</status>
    <subflows>
        <name>findCCUsers</name>
        <label>findCCUsers</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>checkCCUsers</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getCCUsers</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>findRelevantUsers</name>
        <label>findRelevantUsers</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>checkRelevantUsers</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getRelevantUsers</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recipientCCEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
