force-app/main/default/flows/CTRTriggerPrescreenResultSumittedBySectionHeadV2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckBusinessUnit</name>
        <label>CheckBusinessUnit</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <actionName>CTRFlowBUProfileCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getRequestItemRecord</targetReference>
        </connector>
        <inputParameters>
            <name>mSalesOrg</name>
            <value>
                <elementReference>fmlOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varBusinessUnit</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>SendEmailAction</name>
        <label>SendEmailAction</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>SendEmailAction_0</name>
        <label>SendEmailAction</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendNotification_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodySupplier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotification</name>
        <label>SendNotification</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotification_0</name>
        <label>SendNotification</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignCMVP</name>
        <label>assignCMVP</label>
        <locationX>446</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCMVPIsNull</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FinalDecision</name>
        <label>FinalDecision</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecipientIdorRecipientEmailIsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>RecipientIdorRecipientEmailIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCMVPIsNull</name>
        <label>IsCMVPIsNull</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsRecipientIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSectionHead.ReportToUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCMVP</targetReference>
            </connector>
            <label>IsRecipientIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGetSectionHeadIsNull</name>
        <label>IsGetSectionHeadIsNull</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>assignTargetRec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCMVPIsNulla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSectionHead.ReportToUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCustomNotification</targetReference>
            </connector>
            <label>IsCMVPIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGetTraderIsNull</name>
        <label>IsGetTraderIsNull</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>IsGetSectionHeadIsNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSectionHeadIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTrader.ReportToUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSectionHead</targetReference>
            </connector>
            <label>IsSectionHeadIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailAction</targetReference>
            </connector>
            <label>New Customer</label>
        </rules>
        <rules>
            <name>New_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailAction_0</targetReference>
            </connector>
            <label>New Supplier</label>
        </rules>
    </decisions>
    <formulas>
        <description>Subject email</description>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial: &quot; &amp; {!$Record.Customer__r.Name} &amp; &quot; Pre-Screen Requires Your Review&quot;</expression>
    </formulas>
    <formulas>
        <name>EmailSubjectToCustomer</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial: Additional Information Required for Your Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>EmailSubjectToSupplier</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial: Additional Information Required for Your Supplier Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!getRequestItemRecord.SalesOrganization__c}), IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!getRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fmlPositionNameOfVP</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.SalesOrganization__c,&apos;1000&apos;}),&apos;CMVP/SA09&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1300&apos;}),&apos;CMVP/SA09&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1400&apos;}),&apos;CMVP/SA09&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1700&apos;}),&apos;DMD&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;2000&apos;}),&apos;CMVP/TXMD&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9100&apos;}),&apos;TSV DGD&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9200&apos;}),&apos;President Director&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9300&apos;}),&apos;JSKem Owner&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9400&apos;}),&apos;TXMD&apos;,
    &apos;&apos;
   )))))))))</expression>
    </formulas>
    <formulas>
        <name>NotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review and approve/reject&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Pre-Screen Requires Your Review&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <interviewLabel>CTRTriggerPrescreenResultSumittedBySectionHeadV2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerPrescreenResultSumittedBySectionHeadV2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTrader</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordLookups>
        <name>getSectionHead</name>
        <label>getSectionHead</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsGetSectionHeadIsNull</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTrader.ReportToUser__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PISUsers__c</object>
    </recordLookups>
    <recordLookups>
        <name>getTrader</name>
        <label>getTrader</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsGetTraderIsNull</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PISUsers__c</object>
    </recordLookups>
    <startElementReference>CheckBusinessUnit</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailBody</name>
        <text>&lt;p&gt;Dear {!fmlPositionNameOfVP},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Customer__r.Name}&amp;nbsp;has pre-screened by Section Head.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;           {!$Record.Customer__r.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: Customer:&amp;nbsp;&amp;nbsp;  {!$Record.InterestedProductTypeAsCustomerTOP__c}{!$Record.InterestedProductTypeAsCustomerTX__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name:&amp;nbsp;&amp;nbsp;    &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;        &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;  {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Pre-screen Result:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;          {!$Record.TraderPreScreenDecision__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Pre-screen Result S/H:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;   {!$Record.SHPrescreenDecision__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;Please see the details and proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodySupplier</name>
        <text>&lt;p&gt;Dear {!fmlPositionNameOfVP},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Customer__r.Name}&amp;nbsp;has pre-screened by Section Head.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;           {!$Record.Customer__r.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: Supplier:&amp;nbsp;&amp;nbsp;     {!$Record.InterestedProductTypeAsSupplierTOP__c}{!$Record.InterestedProductTypeAsSupplierTX__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name:&amp;nbsp;&amp;nbsp;    &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;        &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Pre-screen Result:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;          {!$Record.TraderPreScreenDecision__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Pre-screen Result S/H:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;   {!$Record.SHPrescreenDecision__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Please see the details and proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyToCustomer</name>
        <text>&lt;p&gt;Dear {!$Record.Customer__r.Name},&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Company Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Interested to be: Customer:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.InterestedProductTypeAsCustomer__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Responsible Trader Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.TraderPreScreenBy__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;We ask you to fill in additional information to further process your registration by clicking this link.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyToSupplier</name>
        <text>&lt;p&gt;Dear {!$Record.Customer__r.Name},&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Company Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Interested to be: Supplier:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.InterestedProductTypeAsSupplier__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Responsible Trader Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.TraderPreScreenBy__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;We ask you to fill in additional information to further process your registration by clicking this link.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
