force-app/main/default/flows/CTRTriggerApplicationLogSyncDataToRequestItemAfterCreateAndUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_confirmed_success_general_view_to_Item</name>
        <label>Assign confirmed success general view to Item</label>
        <locationX>458</locationX>
        <locationY>1930</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPInitialGeneralConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAllRelatedItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Data_to_Item</name>
        <label>Assign Data to Item</label>
        <locationX>1370</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.IntegrationStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Message_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RequestItem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_success_fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_message_to_Item</name>
        <label>Assign error message to Item</label>
        <locationX>2073</locationX>
        <locationY>2158</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.IntegrationMessage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Error_Message__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignItemtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_item_to_collection</name>
        <label>assign item to collection</label>
        <locationX>927</locationX>
        <locationY>2763</locationY>
        <assignmentItems>
            <assignToReference>varRelatedItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLoopRelatedItemReocrd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRelatedRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Purchasing_sales_view_to_Item</name>
        <label>Assign Purchasing sales view to Item</label>
        <locationX>511</locationX>
        <locationY>1652</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAP Confirmed Sales/Purchasing View</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPSalesOrPurchasingViewConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RequestItem.Customer__r.SupplierNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_General_also_send_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_related_record_item</name>
        <label>assign related record item</label>
        <locationX>743</locationX>
        <locationY>2842</locationY>
        <assignmentItems>
            <assignToReference>varLoopRelatedItemReocrd.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLoopRelatedItemReocrd.SAPInitialGeneralConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLoopRelatedItemReocrd.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAP Confirmed General View</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_item_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_reprocess_back</name>
        <label>Assign reprocess back</label>
        <locationX>1320</locationX>
        <locationY>2819</locationY>
        <assignmentItems>
            <assignToReference>varApplicationlogUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicationlogUpdate.CTRReProcessLogToItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_application_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_success_Block_to_Item</name>
        <label>Assign success Block to Item</label>
        <locationX>963</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAP Confirmed Sales/Purchasing View</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPSalesOrPurchasingViewConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RequestItem.Customer__r.AccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPInitialGeneralConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_success_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_success_Edit_to_Item</name>
        <label>Assign success Edit to Item</label>
        <locationX>756</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAP Confirmed Sales/Purchasing View</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPSalesOrPurchasingViewConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RequestItem.Customer__r.AccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPInitialGeneralConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_General_also_send_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_success_general_view_to_Item</name>
        <label>Assign success general view to Item</label>
        <locationX>50</locationX>
        <locationY>1697</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending CCA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPInitialGeneralConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_confirmed_success_general_view_to_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_success_sales_view_to_Item</name>
        <label>Assign success sales view to Item</label>
        <locationX>1273</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAP Confirmed Sales/Purchasing View</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPSalesOrPurchasingViewConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RequestItem.Customer__r.AccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPInitialGeneralConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_success_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_success_ship_to_sales_view_to_Item</name>
        <label>Assign success ship to sales view to Item</label>
        <locationX>618</locationX>
        <locationY>1649</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAP Confirmed Sales/Purchasing View</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPSalesOrPurchasingViewConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RequestItem.Customer__r.AccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPInitialGeneralConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_General_also_send_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Supplier_sent</name>
        <label>Assign Supplier sent</label>
        <locationX>677</locationX>
        <locationY>2451</locationY>
        <assignmentItems>
            <assignToReference>varRequestFormHeaderRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RequestItem.CTRRequestFormHeader__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestFormHeaderRecord.SAPSupplierGeneralSent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unsuccess_Block_view_to_Item_0</name>
        <label>Assign unsuccess Block view to Item</label>
        <locationX>1872</locationX>
        <locationY>1701</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsuccessful Send Sales/Purchasing view to SAP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Fail_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unsuccess_Edit_view_to_Item</name>
        <label>Assign unsuccess Edit view to Item</label>
        <locationX>2249</locationX>
        <locationY>1699</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsuccessful Send Sales/Purchasing view to SAP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Fail_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unsuccess_general_to_Item</name>
        <label>Assign unsuccess general to Item</label>
        <locationX>2510</locationX>
        <locationY>1697</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsuccessful Send General view to SAP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Fail_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unsuccess_purchasing_view_to_Item</name>
        <label>Assign unsuccess purchasing view to Item</label>
        <locationX>2161</locationX>
        <locationY>1697</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsuccessful Send Sales/Purchasing view to SAP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Fail_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unsuccess_sales_view_to_Item</name>
        <label>Assign unsuccess sales view to Item</label>
        <locationX>1612</locationX>
        <locationY>1701</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsuccessful Send Sales/Purchasing view to SAP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Fail_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unsuccess_Shipto_view_to_Item</name>
        <label>Assign unsuccess Shipto view to Item</label>
        <locationX>1972</locationX>
        <locationY>1697</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.SAPStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsuccessful Send Sales/Purchasing view to SAP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Fail_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCustomer_General_sent</name>
        <label>AssignCustomer General sent</label>
        <locationX>667</locationX>
        <locationY>1953</locationY>
        <assignmentItems>
            <assignToReference>varRequestFormHeaderRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RequestItem.CTRRequestFormHeader__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestFormHeaderRecord.SAPCustomerGeneralSent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignItemtoCollection</name>
        <label>assignItemtoCollection</label>
        <locationX>1321</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>varRelatedItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRequestItemUpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_ReuestItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>removed_error_message_to_Item</name>
        <label>removed error message to Item</label>
        <locationX>1144</locationX>
        <locationY>2033</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemUpdateRecord.IntegrationMessage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>assignItemtoCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Related_Item</name>
        <label>Check Related Item</label>
        <locationX>582</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>loopRelatedRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>related_item_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopRelatedRecord.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopRelatedRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_RequestItem.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_related_record_item</targetReference>
            </connector>
            <label>related item Customer</label>
        </rules>
        <rules>
            <name>related_item_supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopRelatedRecord.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopRelatedRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_RequestItem.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_related_record_item</targetReference>
            </connector>
            <label>related item supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_customer_or_supplier</name>
        <label>is customer or supplier</label>
        <locationX>507</locationX>
        <locationY>2191</locationY>
        <defaultConnector>
            <targetReference>is_success_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_customer_shipto</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ShipTo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCustomer_General_sent</targetReference>
            </connector>
            <label>is customer/shipto</label>
        </rules>
        <rules>
            <name>issupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Supplier_sent</targetReference>
            </connector>
            <label>is supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Fail_type</name>
        <label>is Fail type</label>
        <locationX>2065</locationX>
        <locationY>1889</locationY>
        <defaultConnector>
            <targetReference>assignItemtoCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Response_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Error_Message__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Error_Message__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_error_message_to_Item</targetReference>
            </connector>
            <label>Response Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_found_Item_record</name>
        <label>is found Item record</label>
        <locationX>1356</locationX>
        <locationY>761</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Data_to_Item</targetReference>
            </connector>
            <label>found item</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_found_related_record</name>
        <label>is found related record</label>
        <locationX>261</locationX>
        <locationY>2321</locationY>
        <defaultConnector>
            <targetReference>is_customer_or_supplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_related_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAllRelatedItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopRelatedRecord</targetReference>
            </connector>
            <label>found related record</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_General_also_send_0</name>
        <label>is General also send?</label>
        <locationX>706</locationX>
        <locationY>1831</locationY>
        <defaultConnector>
            <targetReference>is_success_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>general_sent_from_purchasing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_confirmed_success_general_view_to_Item</targetReference>
            </connector>
            <label>general sent from purchasing</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Re_Process</name>
        <label>is Re Process?</label>
        <locationX>1313</locationX>
        <locationY>2666</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>re_processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CTRReProcessLogToItem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_reprocess_back</targetReference>
            </connector>
            <label>re processing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Request_Sent_update_log</name>
        <label>Is Request Sent update log</label>
        <locationX>1357</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Sent</name>
            <conditionLogic>1 AND 2 AND (3 AND 4) OR (5 AND 6) OR (7 AND 8) OR (9 AND 10) OR (11 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reference_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Error_Message__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Error_Message__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Body__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Body__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.iRPA_Response_Body__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.iRPA_Response_Body__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CTRReProcessLogToItem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CTRReProcessLogToItem__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_RequestItem</targetReference>
            </connector>
            <label>Request Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_success_fail</name>
        <label>is success / fail</label>
        <locationX>1368</locationX>
        <locationY>1170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>integration_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>which_integration_success</targetReference>
            </connector>
            <label>integration success</label>
        </rules>
        <rules>
            <name>integration_fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>which_integration_failed</targetReference>
            </connector>
            <label>integrationfail</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_success_type</name>
        <label>is success type</label>
        <locationX>954</locationX>
        <locationY>2151</locationY>
        <defaultConnector>
            <targetReference>assignItemtoCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Response_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestItem.IntegrationMessage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Error_Message__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>removed_error_message_to_Item</targetReference>
            </connector>
            <label>Response success</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_integration_failed</name>
        <label>which integration failed?</label>
        <locationX>2068</locationX>
        <locationY>1447</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General_failed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.SAPInitialGeneralConfirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Customer General View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Supplier General+Purchasing View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_unsuccess_general_to_Item</targetReference>
            </connector>
            <label>General failed</label>
        </rules>
        <rules>
            <name>Sales_view_fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Customer Sales View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.SAPSalesOrPurchasingViewConfirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_unsuccess_sales_view_to_Item</targetReference>
            </connector>
            <label>Sales view failed</label>
        </rules>
        <rules>
            <name>Purchasing_Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Supplier Only Purchasing View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.SAPInitialGeneralConfirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.SAPSalesOrPurchasingViewConfirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_unsuccess_purchasing_view_to_Item</targetReference>
            </connector>
            <label>Purchasing Fail</label>
        </rules>
        <rules>
            <name>Ship_to_Fail</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Ship to General+Sales View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit Supplier General+Purchasing View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_unsuccess_Shipto_view_to_Item</targetReference>
            </connector>
            <label>Ship to Fail</label>
        </rules>
        <rules>
            <name>Additional_Info_Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Customer Additional Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Fail_type</targetReference>
            </connector>
            <label>Additional Info Fail</label>
        </rules>
        <rules>
            <name>Block_Customer_Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block Sales View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_unsuccess_Block_view_to_Item_0</targetReference>
            </connector>
            <label>Block Customer Fail</label>
        </rules>
        <rules>
            <name>Block_Supplier_Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block Purchasing View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_unsuccess_Block_view_to_Item_0</targetReference>
            </connector>
            <label>Block Supplier Fail</label>
        </rules>
        <rules>
            <name>Edit_Customer_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit Customer General+Sales View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_unsuccess_Edit_view_to_Item</targetReference>
            </connector>
            <label>Edit Customer Failed</label>
        </rules>
        <rules>
            <name>Edit_Supplier_Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit Supplier General+Purchasing View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_unsuccess_Edit_view_to_Item</targetReference>
            </connector>
            <label>Edit Supplier Fail</label>
        </rules>
        <rules>
            <name>Edit_Ship_To_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit Ship to General+Sales View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_unsuccess_Shipto_view_to_Item</targetReference>
            </connector>
            <label>Edit Ship To Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_integration_success</name>
        <label>which integration success?</label>
        <locationX>784</locationX>
        <locationY>1392</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sale_view_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Customer Sales View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_sales_view_to_Item</targetReference>
            </connector>
            <label>Sale view success</label>
        </rules>
        <rules>
            <name>Only_Sales_Purchasing_view_Success</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Supplier Only Purchasing View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Supplier General+Purchasing View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Purchasing_sales_view_to_Item</targetReference>
            </connector>
            <label>Purchasing view Success</label>
        </rules>
        <rules>
            <name>Included_General_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.SAPInitialGeneralConfirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Customer General View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_general_view_to_Item</targetReference>
            </connector>
            <label>Included General success</label>
        </rules>
        <rules>
            <name>Ship_to_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Ship to General+Sales View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_ship_to_sales_view_to_Item</targetReference>
            </connector>
            <label>Ship to success</label>
        </rules>
        <rules>
            <name>Edit_ShipTo_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit Ship to General+Sales View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_ship_to_sales_view_to_Item</targetReference>
            </connector>
            <label>Edit ShipTo Success</label>
        </rules>
        <rules>
            <name>Block_Sales_view_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block Sales View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_Block_to_Item</targetReference>
            </connector>
            <label>Block Sales view Success</label>
        </rules>
        <rules>
            <name>Block_Purchasing_view_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block Purchasing View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_Block_to_Item</targetReference>
            </connector>
            <label>Block Purchasing view success</label>
        </rules>
        <rules>
            <name>Additional_Info_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Customer Additional Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_success_type</targetReference>
            </connector>
            <label>Additional Info Success</label>
        </rules>
        <rules>
            <name>Edit_Customer_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit Customer General+Sales View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_Edit_to_Item</targetReference>
            </connector>
            <label>Edit Customer Success</label>
        </rules>
        <rules>
            <name>Edit_Supplier_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RequestItem.LatestIntegrationName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Edit Supplier General+Purchasing View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_Edit_to_Item</targetReference>
            </connector>
            <label>Edit Supplier Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlCheckErrorFlow</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.Error_Message__c},&apos;CANNOT_EXECUTE_FLOW_TRIGGER&apos;)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>Isnew()</expression>
    </formulas>
    <interviewLabel>CTRTriggerApplicationLogSyncDataToRequestItemAfterCreateAndUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerApplicationLogSyncDataToRequestItemAfterCreateAndUpdate</label>
    <loops>
        <name>loopRelatedRecord</name>
        <label>loopRelatedRecord</label>
        <locationX>749</locationX>
        <locationY>2626</locationY>
        <collectionReference>getAllRelatedItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Related_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_success_type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_RequestItem</name>
        <label>get RequestItem</label>
        <locationX>1365</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_found_Item_record</targetReference>
        </connector>
        <filters>
            <field>GatewayId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IntegrationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordLookups>
        <name>getAllRelatedItem</name>
        <label>getAllRelatedItem</label>
        <locationX>269</locationX>
        <locationY>2045</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_found_related_record</targetReference>
        </connector>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RequestItem.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SAPInitialGeneralConfirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordUpdates>
        <name>update_application_log</name>
        <label>update application log</label>
        <locationX>1321</locationX>
        <locationY>3007</locationY>
        <inputReference>varApplicationlogUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Header</name>
        <label>update Header</label>
        <locationX>821</locationX>
        <locationY>2142</locationY>
        <connector>
            <targetReference>is_success_type</targetReference>
        </connector>
        <inputReference>varRequestFormHeaderRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_ReuestItem</name>
        <label>update ReuestItem</label>
        <locationX>1321</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>is_Re_Process</targetReference>
        </connector>
        <inputReference>varRelatedItemCollection</inputReference>
    </recordUpdates>
    <startElementReference>Is_Request_Sent_update_log</startElementReference>
    <status>Active</status>
    <variables>
        <name>varApplicationlogUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Log__c</objectType>
    </variables>
    <variables>
        <name>varLoopRelatedItemReocrd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormItem__c</objectType>
    </variables>
    <variables>
        <name>varRelatedItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormItem__c</objectType>
    </variables>
    <variables>
        <name>varRequestFormHeaderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormHeader__c</objectType>
    </variables>
    <variables>
        <name>varRequestItemUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormItem__c</objectType>
    </variables>
</Flow>
