force-app/main/default/flows/CTRTriggerRequestFormItemComplianceAdviceByGLGC.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckBusinessUnit</name>
        <label>CheckBusinessUnit</label>
        <locationX>780</locationX>
        <locationY>863</locationY>
        <actionName>CTRFlowBUProfileCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>manualAssign</targetReference>
        </connector>
        <inputParameters>
            <name>mSalesOrg</name>
            <value>
                <elementReference>fmlOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varBusinessUnit</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotification</name>
        <label>SendNotification</label>
        <locationX>1287</locationX>
        <locationY>2063</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SentEmail</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SentEmail</name>
        <label>SentEmail</label>
        <locationX>1287</locationX>
        <locationY>2171</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignCPCE</name>
        <label>assignCPCE</label>
        <locationX>1754</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCPCE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCPCE.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCPCE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFALB</name>
        <label>assignFALB</label>
        <locationX>1098</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopFALB.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopFALB.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopFALB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>1419</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ComplianceAdviceResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCR</name>
        <label>assignTRCR</label>
        <locationX>618</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTRCR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTRCR.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTRCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTXFA</name>
        <label>assignTXFA</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTXFA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTXFA.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTXFA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>manualAssign</name>
        <label>manualAssign</label>
        <locationX>780</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varBusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBusinessUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_BU</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCPCE</name>
        <label>CheckCPCE</label>
        <locationX>1774</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveCPCE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCPCE.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopCPCE</targetReference>
            </connector>
            <label>HaveCPCE</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFALB</name>
        <label>CheckFALB</label>
        <locationX>1118</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveFALB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFALB.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopFALB</targetReference>
            </connector>
            <label>HaveFALB</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTRCR</name>
        <label>CheckTRCR</label>
        <locationX>638</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveTRCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCR.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopTRCR</targetReference>
            </connector>
            <label>HaveTRCR</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTXFA</name>
        <label>CheckTXFA</label>
        <locationX>158</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveTXFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTXFA.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopTXFA</targetReference>
            </connector>
            <label>HaveTXFA</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComplianceAdviceResult</name>
        <label>ComplianceAdviceResult</label>
        <locationX>1419</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ComplianceAdviceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBusinessUnit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ComplianceAdviceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCPCE</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>FinalDecision</name>
        <label>FinalDecision</label>
        <locationX>1419</locationX>
        <locationY>1955</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecipientIdOrRecipientEmailIsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotification</targetReference>
            </connector>
            <label>RecipientIdOrRecipientEmailIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_BU</name>
        <label>Which BU</label>
        <locationX>780</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTXFA</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>TOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTRCR</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>LABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFALB</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
    </decisions>
    <formulas>
        <description>Subject email</description>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial:&quot;+ $Record.Customer__c +&quot;Enhance Due Diligence Required for New Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!getRequestItemRecord.SalesOrganization__c}), IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!getRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>NotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review due diligence result&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Enhance Due Diligence Required for New Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <interviewLabel>CTRTriggerRequestFormItemComplianceAdviceByGLGC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerRequestFormItemComplianceAdviceByGLGC</label>
    <loops>
        <name>loopCPCE</name>
        <label>loopCPCE</label>
        <locationX>1666</locationX>
        <locationY>1079</locationY>
        <collectionReference>getCPCE.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCPCE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopFALB</name>
        <label>loopFALB</label>
        <locationX>1010</locationX>
        <locationY>1403</locationY>
        <collectionReference>getFALB.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignFALB</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTRCR</name>
        <label>loopTRCR</label>
        <locationX>530</locationX>
        <locationY>1403</locationY>
        <collectionReference>getTRCR.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignTRCR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTXFA</name>
        <label>loopTXFA</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <collectionReference>getTXFA.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignTXFA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>1419</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEmailTemplate</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate</name>
        <label>getEmailTemplate</label>
        <locationX>1419</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRDueDiligenceResult</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>1419</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <startElementReference>getRequestItemRecord</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>getCPCE</name>
        <label>getCPCE</label>
        <locationX>1774</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CheckCPCE</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial CPCE</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getFALB</name>
        <label>getFALB</label>
        <locationX>1118</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>CheckFALB</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial LABIX FALB</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getTRCR</name>
        <label>getTRCR</label>
        <locationX>638</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>CheckTRCR</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial TRCR</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getTXFA</name>
        <label>getTXFA</label>
        <locationX>158</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>CheckTXFA</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial TX TXFA</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <text>&lt;p&gt;Dear ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Record.Customer__c} has a high risk level of Compliance Risk.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;CM Review Result: {!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment: {!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Compliance Advice: {!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Please review the due diligence result by proceeding via this link.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
