force-app/main/default/flows/CTRTriggerRequestItemStampOwnerSHandVPAfterCreated.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignOnwer</name>
        <label>assignOnwer</label>
        <locationX>882</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>IsOwnersSH</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getTrader.ReportToUser__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsOwnersVP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getSectionHead.ReportToUser__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRecord</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CTRTriggerRequestItemStampOwnerSHandVPAfterCreated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerRequestItemStampOwnerSHandVPAfterCreated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getSectionHead</name>
        <label>getSectionHead</label>
        <locationX>882</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignOnwer</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTrader.ReportToUser__c</elementReference>
            </value>
        </filters>
        <object>PISUsers__c</object>
    </recordLookups>
    <recordLookups>
        <name>getTrader</name>
        <label>getTrader</label>
        <locationX>882</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSectionHead</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <object>PISUsers__c</object>
    </recordLookups>
    <recordUpdates>
        <name>updateRecord</name>
        <label>updateRecord</label>
        <locationX>882</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OwnersCMVP__c</field>
            <value>
                <elementReference>getSectionHead.ReportToUser__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnersSectionHead__c</field>
            <value>
                <elementReference>getTrader.ReportToUser__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>getTrader</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>IsOwnersSH</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsOwnersVP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
