force-app/main/default/flows/CTRTriggerRequestFormItemSubmitRegistrationForm.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NavigatetoCTRItem_TOPLABIXCustomer</name>
        <label>NavigatetoCTRItem</label>
        <locationX>94</locationX>
        <locationY>2270</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigatetoCTRItem_TOPLABIXSupplier</name>
        <label>NavigatetoCTRItem</label>
        <locationX>358</locationX>
        <locationY>2270</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigatetoCTRItem_TX</name>
        <label>NavigatetoCTRItem</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailAction_TOPLABIXCustomer</name>
        <label>SendEmailAction</label>
        <locationX>94</locationX>
        <locationY>2162</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NavigatetoCTRItem_TOPLABIXCustomer</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyTOP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailAction_TOPLABIXSupplier</name>
        <label>SendEmailAction</label>
        <locationX>358</locationX>
        <locationY>2162</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NavigatetoCTRItem_TOPLABIXSupplier</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyTOPSupplier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailAction_TX</name>
        <label>SendEmailAction</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NavigatetoCTRItem_TX</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject_TX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_TX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignRecipientEmails</name>
        <label>assignRecipientEmails</label>
        <locationX>1320</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRequestFormItemRecord.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>1320</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestFormItemRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignRecipientEmails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check</name>
        <label>checkRecordType</label>
        <locationX>1320</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InitailandExtend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRequestHeader</targetReference>
            </connector>
            <label>Initail &amp; Extend</label>
        </rules>
        <rules>
            <name>Edit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationforSubmitEditInfo</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>644</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>whichBusinessUnit</targetReference>
            </connector>
            <label>Have Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRequestHeader</name>
        <label>CheckRequestHeader</label>
        <locationX>919</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveHeader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.CTRRequestFormHeader__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Email</targetReference>
            </connector>
            <label>HaveHeader</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichAccountType_TOPLABIX</name>
        <label>Which Account Type</label>
        <locationX>358</locationX>
        <locationY>2054</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.fmlAccountTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailAction_TOPLABIXCustomer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.fmlAccountTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailAction_TOPLABIXSupplier</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>whichBusinessUnit</name>
        <label>Which BU</label>
        <locationX>358</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CFRD</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>TOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TOPConfirmSubmitRegistration</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>LABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TOPConfirmSubmitRegistration</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
    </decisions>
    <description>04/04/2024 Change text in the edit screen.</description>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI]: Completed Registration Submission&quot;</expression>
    </formulas>
    <formulas>
        <name>EmailSubject_TX</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI] Initial: &apos; &amp; {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.Name} &amp; &apos; confirming your registration request&apos;</expression>
    </formulas>
    <formulas>
        <name>fmlAccountTypeActor</name>
        <dataType>String</dataType>
        <expression>CASE({!getRequestFormItemRecord.fmlAccountTypeName__c}, &quot;Customer&quot;, &quot;Trader&quot;, &quot;Supplier&quot;, &quot;Requester&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review and approve/reject&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!getRequestFormItemRecord.Customer__r.Name} &amp; &quot; Pre-Screen Requires Your Review&quot;</expression>
    </formulas>
    <interviewLabel>CTRTriggerRequestFormItemSubmitRegistrationForm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerRequestFormItemSubmitRegistrationForm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>1320</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate</name>
        <label>getEmailTemplate</label>
        <locationX>1320</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialSubmitRegistrationForm</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>1320</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEmailTemplate</targetReference>
        </connector>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRequestFormItemRecord</name>
        <label>getRequestFormItemRecord</label>
        <locationX>1320</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerExtend</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierExtend</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierEditInfo</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerEditInfo</stringValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordUpdates>
        <name>updateStatus_EditInfo</name>
        <label>updateStatus</label>
        <locationX>1458</locationX>
        <locationY>998</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre Screen</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateStatus_TOPLABIX</name>
        <label>updateStatus</label>
        <locationX>358</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>WhichAccountType_TOPLABIX</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre Screen</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateStatus_TX</name>
        <label>updateStatus</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>SendEmailAction_TX</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre Screen</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <screens>
        <name>CFRD</name>
        <label>Confirmation of Require Document</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateStatus_TX</targetReference>
        </connector>
        <fields>
            <name>CFRDTXText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt;I have attached the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt;Certificate of Incorporation (COI)&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt; and&lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt;Certification of VAT Registration (ภพ.20 or &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(24, 24, 24); background-color: rgb(255, 255, 255);&quot;&gt;ภพ.&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt;01 to &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(24, 24, 24); background-color: rgb(255, 255, 255);&quot;&gt;ภพ.&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt;09)&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt;documents for this registration.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CFRDNOTTXText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;I have attached the &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Certificate of Incorporation (COI)&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;documents for this registration.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CFRDText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Please confirm the required documents have been attached by clicking the &apos;Confirm&apos; button.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationforSubmitEditInfo</name>
        <label>Confirmation for Submit Edit Info</label>
        <locationX>1458</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateStatus_EditInfo</targetReference>
        </connector>
        <fields>
            <name>ConfirmToSubmit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Confirm To Submit&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmToSubmitBodyText</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Are you sure you want to submit this request for pre screen?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TOPConfirmSubmitRegistration</name>
        <label>TOP Confirm Submit Registration</label>
        <locationX>358</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateStatus_TOPLABIX</targetReference>
        </connector>
        <fields>
            <name>TOPScreenSubmitRegistration</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Do you confirm to submit registration?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;After the submission, you will not be able to edit this information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getRequestFormItemRecord</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <text>&lt;p&gt;Dear {!getRequestFormItemRecord.Owner:User.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!getRequestFormItemRecord.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;We have received your documents and they are currently reviewed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Company Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;        {!getRequestFormItemRecord.Customer__r.Name}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Interested to be: Customer:&amp;nbsp;&amp;nbsp;&amp;nbsp;{!getRequestFormItemRecord.InterestedRegistrationToCustomer__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Responsible Trader Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Request Number:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;        &amp;nbsp;{!getRequestFormItemRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody_TX</name>
        <text>Dear {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.FirstName__c} {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.LastName__c},&lt;br&gt;&lt;br&gt;Thank you for your interest in becoming our customer . We have received your documents and they are currently under review. Please find below the details of your request:&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(2, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;{!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;Interested to be: {!getRequestFormItemRecord.fmlAccountTypeName__c} for {!getRequestFormItemRecord.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;Responsible {!fmlAccountTypeActor} Name: {!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;Request Number: {!getRequestFormItemRecord.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;We will contact you as soon as possible with the outcome of the review. If you have any questions, please contact our Sales Representative at&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(2, 2, 2);&quot;&gt;{!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodySupplier</name>
        <text>&lt;p&gt;Dear {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.FirstName__c} {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.LastName__c}&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!getRequestFormItemRecord.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;We have received your documents and they are currently reviewed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Company Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;        &amp;nbsp;{!getRequestFormItemRecord.Customer__r.Name}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Interested to be: Supplier:&amp;nbsp;&amp;nbsp;  &amp;nbsp;{!getRequestFormItemRecord.InterestedRegistrationTo&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Supplier&lt;/span&gt;__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Responsible Trader Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Request Number:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;       &amp;nbsp;&amp;nbsp;{!getRequestFormItemRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyTOP</name>
        <text>Dear {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.FirstName__c} {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.LastName__c},&lt;br&gt;&lt;br&gt;We already registered your company information and currently under review.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!getRequestFormItemRecord.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!getRequestFormItemRecord.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number: {!getRequestFormItemRecord.Name}&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyTOPSupplier</name>
        <text>Dear {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.FirstName__c} {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.LastName__c},&lt;br&gt;&lt;br&gt;We already registered your company information and currently under review.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!getRequestFormItemRecord.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!getRequestFormItemRecord.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number: {!getRequestFormItemRecord.Name}&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <variables>
        <name>EmailSubjects</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
