force-app/main/default/flows/CTRTriggerReqItemBlockCommitteeApproval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendCommitteeNotify</name>
        <label>sendCommitteeNotify</label>
        <locationX>2646</locationX>
        <locationY>1679</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifySubmitToCommitteeTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifySubmitToCommitteeBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendCustomerApprovalEmail</name>
        <label>sendCustomerApprovalEmail</label>
        <locationX>50</locationX>
        <locationY>2387</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendCustomerNotify</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailApprovalSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailCustomerResultBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendCustomerFAManagerEmail</name>
        <label>sendCustomerFAManagerEmail</label>
        <locationX>1106</locationX>
        <locationY>1403</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendCustomerFAManagerNotify</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sweettie.piglet@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubmitFAManagerSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailCustomerSubmitFAManagerBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendCustomerFAManagerNotify</name>
        <label>sendCustomerFAManagerNotify</label>
        <locationX>1106</locationX>
        <locationY>1511</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifySubmitFAManagerTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifySubmitFAManagerBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendCustomerNotify</name>
        <label>sendCustomerNotify</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyApprovalTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyApprovalBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendRevertedNotify</name>
        <label>sendRevertedNotify</label>
        <locationX>3174</locationX>
        <locationY>1187</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyRevertedTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyRevertedBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendSupplierApprovalEmail</name>
        <label>sendSupplierApprovalEmail</label>
        <locationX>578</locationX>
        <locationY>2387</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendSupplierNotify</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailApprovalSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailSupplierResultBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendSupplierFAManagerEmail</name>
        <label>sendSupplierFAManagerEmail</label>
        <locationX>1634</locationX>
        <locationY>1403</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendSupplierFAManagerNotify</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubmitFAManagerSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailSupplierSubmitFAManagerBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendSupplierFAManagerNotify</name>
        <label>sendSupplierFAManagerNotify</label>
        <locationX>1634</locationX>
        <locationY>1511</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifySubmitFAManagerTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifySubmitFAManagerBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendSupplierNotify</name>
        <label>sendSupplierNotify</label>
        <locationX>578</locationX>
        <locationY>2495</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyApprovalTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyApprovalBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignApprovalFA</name>
        <label>assignApprovalFA</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkApprovalFAManager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignApprovalFAManager</name>
        <label>assignApprovalFAManager</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsers.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsers.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkApprovalTrader</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignApprovalMDC</name>
        <label>assignApprovalMDC</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.MDCName__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.MDCName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkApprovalType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignApprovalTrader</name>
        <label>assignApprovalTrader</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkApprovalMDC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCommittee</name>
        <label>assignCommittee</label>
        <locationX>2866</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCommittee.ApproverName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCommittee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFA</name>
        <label>assignFA</label>
        <locationX>3306</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkRevertedFA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFAManager</name>
        <label>assignFAManager</label>
        <locationX>1832</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>findUsers.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>findUsers.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkFAManagerSubmitted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>1876</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varTargetRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMetaUsers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkApprovalFA</name>
        <label>checkApprovalFA</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>checkApprovalFAManager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FA = Null</defaultConnectorLabel>
        <rules>
            <name>notNullApprovalFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignApprovalFA</targetReference>
            </connector>
            <label>FA != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalFAManager</name>
        <label>checkApprovalFAManager</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>checkApprovalTrader</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FA Manager = Null</defaultConnectorLabel>
        <rules>
            <name>notNullApprovalFAManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findUsers.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findUsers.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignApprovalFAManager</targetReference>
            </connector>
            <label>FA Manager != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalMDC</name>
        <label>checkApprovalMDC</label>
        <locationX>446</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>checkApprovalType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MDC = Null</defaultConnectorLabel>
        <rules>
            <name>notNullMDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MDCName__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MDCName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignApprovalMDC</targetReference>
            </connector>
            <label>MDC != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalTrader</name>
        <label>checkApprovalTrader</label>
        <locationX>446</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>checkApprovalMDC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Trader = Null</defaultConnectorLabel>
        <rules>
            <name>notNullTrader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CTRRequestFormHeader__r.Customer__r.Owner.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CTRRequestFormHeader__r.Customer__r.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignApprovalTrader</targetReference>
            </connector>
            <label>Trader != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalType</name>
        <label>checkApprovalType</label>
        <locationX>446</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>checkSupplierRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Supplier</defaultConnectorLabel>
        <rules>
            <name>typeApprovalCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerBlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkCustomerRecipient</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCommittee</name>
        <label>checkCommittee</label>
        <locationX>2998</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>loopCommittee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Committee = Null</defaultConnectorLabel>
        <rules>
            <name>notNullCommittee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCommittee.ApproverName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCommittee</targetReference>
            </connector>
            <label>Committee != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCommitteeRecipient</name>
        <label>checkCommitteeRecipient</label>
        <locationX>2778</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Recipient = Null</defaultConnectorLabel>
        <rules>
            <name>notNullCommitteeRecipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendCommitteeNotify</targetReference>
            </connector>
            <label>Recipient != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCustomerFAManager</name>
        <label>checkCustomerFAManager</label>
        <locationX>1238</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Recipient = Null</defaultConnectorLabel>
        <rules>
            <name>notNullCustomerFAManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendCustomerFAManagerEmail</targetReference>
            </connector>
            <label>Recipient != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCustomerRecipient</name>
        <label>checkCustomerRecipient</label>
        <locationX>182</locationX>
        <locationY>2279</locationY>
        <defaultConnectorLabel>Recipient = Null</defaultConnectorLabel>
        <rules>
            <name>notNullCustomerRecipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendCustomerApprovalEmail</targetReference>
            </connector>
            <label>Recipient != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDecision</name>
        <label>checkDecision</label>
        <locationX>1876</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>assignFA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Revert to FA</defaultConnectorLabel>
        <rules>
            <name>typeApproval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkApprovalFA</targetReference>
            </connector>
            <label>Approval</label>
        </rules>
        <rules>
            <name>typeSubmitToFAManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotifyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit to the Financial Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFAManager</targetReference>
            </connector>
            <label>Submit to FA Manager</label>
        </rules>
        <rules>
            <name>typeSubmitToCommittee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotifyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit to the Committee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCommitteeRecs</targetReference>
            </connector>
            <label>Submit to Committee</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFAManagerSubmitted</name>
        <label>checkFAManagerSubmitted</label>
        <locationX>1832</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>FA Manager = Null</defaultConnectorLabel>
        <rules>
            <name>notNullSubmittedFAManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkFAType</targetReference>
            </connector>
            <label>FA Manager != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFAType</name>
        <label>checkFAType</label>
        <locationX>1502</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>checkSupplierFAManager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Supplier</defaultConnectorLabel>
        <rules>
            <name>typeFACustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.fmlAccountTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkCustomerFAManager</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRevertedFA</name>
        <label>checkRevertedFA</label>
        <locationX>3306</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>FA = Null</defaultConnectorLabel>
        <rules>
            <name>notNullRevertedFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendRevertedNotify</targetReference>
            </connector>
            <label>FA != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSupplierFAManager</name>
        <label>checkSupplierFAManager</label>
        <locationX>1766</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Recipient = Null</defaultConnectorLabel>
        <rules>
            <name>notNullSupplierFAManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendSupplierFAManagerEmail</targetReference>
            </connector>
            <label>Recipient != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSupplierRecipient</name>
        <label>checkSupplierRecipient</label>
        <locationX>710</locationX>
        <locationY>2279</locationY>
        <defaultConnectorLabel>Recipient = Null</defaultConnectorLabel>
        <rules>
            <name>notNullSupplierRecipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendSupplierApprovalEmail</targetReference>
            </connector>
            <label>Recipient != Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>emailApprovalSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI] &apos; + {!$Record.CompanyName__c} + &quot;&apos;s &quot; + {!fmlRecordType} + &quot; &quot; +{!fmlBlockingSubj}</expression>
    </formulas>
    <formulas>
        <name>emailSubmitFAManagerSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA] &apos; + {!fmlRecordType} + &quot;: &quot; + {!$Record.CompanyName__c} + &quot; Need Your Review&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlAccountType</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.fmlAccountTypeName__c} = &apos;Customer&apos;, &apos;customer&apos;, &apos;supplier&apos;)</expression>
    </formulas>
    <formulas>
        <name>fmlBlockingDetail</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Approval_Step__c}) = &apos;Approved&apos;, &apos;has been blocked&apos;, &apos;has not been blocked&apos;)</expression>
    </formulas>
    <formulas>
        <name>fmlBlockingResult</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Approval_Step__c}) = &apos;Approved&apos;, &apos;approved&apos;, &apos;rejected&apos;)</expression>
    </formulas>
    <formulas>
        <name>fmlBlockingSubj</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Approval_Step__c}) = &apos;Approved&apos;, &apos;Has Been Blocked&apos;, &apos;Has Not Been Blocked&apos;)</expression>
    </formulas>
    <formulas>
        <name>fmlRecLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRec}</expression>
    </formulas>
    <formulas>
        <name>fmlRecordType</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.RecordTypeName__c},
&quot;CustomerBlock&quot;, &quot;Block Customer&quot;,
&quot;SupplierBlock&quot;, &quot;Block Supplier&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlSupplierBlock</name>
        <dataType>String</dataType>
        <expression>IF(TRUE, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>fmlType</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c} = &apos;TH&apos;, &apos;Domestic&apos;, &apos;International&apos;)</expression>
    </formulas>
    <formulas>
        <name>notifyApprovalBody</name>
        <dataType>String</dataType>
        <expression>&apos;Committee has been &apos; + {!fmlBlockingResult} + &apos; to block this &apos; + {!fmlAccountType}</expression>
    </formulas>
    <formulas>
        <name>notifyApprovalTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyName__c} + &apos; &apos; + {!fmlBlockingDetail}</expression>
    </formulas>
    <formulas>
        <name>notifyRevertedBody</name>
        <dataType>String</dataType>
        <expression>&apos;The financial manager has returned the blocking request to you. Please revise and re-submit.&apos;</expression>
    </formulas>
    <formulas>
        <name>notifyRevertedTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyName__c} + &quot;&apos;s block request need your revise&quot;</expression>
    </formulas>
    <formulas>
        <name>notifySubmitFAManagerBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review request for committee approval&quot;</expression>
    </formulas>
    <formulas>
        <name>notifySubmitFAManagerTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyName__c} + &quot;&apos;s block request need your review&quot;</expression>
    </formulas>
    <formulas>
        <name>notifySubmitToCommitteeBody</name>
        <dataType>String</dataType>
        <expression>&apos;Please kindly approve the block &apos; + {!fmlAccountType} + &apos; request.&apos;</expression>
    </formulas>
    <formulas>
        <name>notifySubmitToCommitteeTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} + &quot;&apos;s block request need your approval&quot;</expression>
    </formulas>
    <interviewLabel>CTRTriggerReqItemBlockCommitteeApproval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemBlockCommitteeApproval</label>
    <loops>
        <name>loopCommittee</name>
        <label>loopCommittee</label>
        <locationX>2778</locationX>
        <locationY>1079</locationY>
        <collectionReference>getCommitteeRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkCommittee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkCommitteeRecipient</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCommitteeRecs</name>
        <label>getCommitteeRecs</label>
        <locationX>2778</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopCommittee</targetReference>
        </connector>
        <filters>
            <field>CTRRequestFormItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CTRCommitteeApproval__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ApproverName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>1876</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFAManager</name>
        <label>getFAManager</label>
        <locationX>1876</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsers.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordLookups>
        <name>getMetaUsers</name>
        <label>getMetaUsers</label>
        <locationX>1876</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findUsers</targetReference>
        </connector>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.fmlPositionNameOfFinancial__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlType</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SummaryReport</stringValue>
            </value>
        </filters>
        <object>CTRActorInProcess__mdt</object>
    </recordLookups>
    <startElementReference>getCustomNotification</startElementReference>
    <status>Active</status>
    <subflows>
        <name>findUsers</name>
        <label>findUsers</label>
        <locationX>1876</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>getFAManager</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getMetaUsers</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>emailCustomerResultBody</name>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear all,&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!$Record.CompanyName__c} &apos;s block request has been {!fmlBlockingResult} by committee and system {!fmlBlockingDetail} this {!$Record.fmlAccountTypeName__c}. You can see detail via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: {!$Record.CompanyName__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Order Block by Selected Sales Area: {!$Record.OrderBlock__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason: {!$Record.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;
&lt;em style=&quot;font-family: sans-serif;&quot;&gt;This is an automatic generated email, please do not reply to this address.&lt;/em&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailCustomerSubmitFAManagerBody</name>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear {!getFAManager.FirstName} !getFAManager.LastName},&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!$Record.CompanyName__c} has been requested for blocking.&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please proceed via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: {!$Record.CompanyName__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Order Block by Selected Sales Area: {!$Record.OrderBlock__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason: {!$Record.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;
&lt;em style=&quot;font-family: sans-serif;&quot;&gt;This is an automatic generated email, please do not reply to this address.&lt;/em&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailSupplierResultBody</name>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear all,&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!$Record.CompanyName__c} &apos;s block request has been {!fmlBlockingResult} by committee and system {!fmlBlockingDetail} this {!$Record.fmlAccountTypeName__c}. You can see detail via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: {!$Record.CompanyName__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Selected Purchasing Organization: {!fmlSupplierBlock}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason: {!$Record.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;
&lt;em style=&quot;font-family: sans-serif;&quot;&gt;This is an automatic generated email, please do not reply to this address.&lt;/em&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailSupplierSubmitFAManagerBody</name>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear {!getFAManager.FirstName} {!getFAManager.LastName},&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!$Record.CompanyName__c} has been requested for blocking.&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please proceed via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: {!$Record.CompanyName__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Selected Purchasing Organization: {!fmlSupplierBlock}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason: {!$Record.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;
&lt;em style=&quot;font-family: sans-serif;&quot;&gt;This is an automatic generated email, please do not reply to this address.&lt;/em&gt;</text>
    </textTemplates>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
