force-app/main/default/flows/CTRTriggerRequestFormItemSubmitforVerification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckBusinessUnit</name>
        <label>Check Business Unit</label>
        <locationX>690</locationX>
        <locationY>365</locationY>
        <actionName>CTRFlowBUProfileCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <inputParameters>
            <name>mSalesOrg</name>
            <value>
                <elementReference>fmlOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varBusinessUnit</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>LABIXSendNotification</name>
        <label>LABIXSendNotification</label>
        <locationX>546</locationX>
        <locationY>1644</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fmlEmailLABIXSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>fmlLABIXNotify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LABIXSendNotification_0</name>
        <label>LABIXSendNotification</label>
        <locationX>821</locationX>
        <locationY>1652</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fml_SubjectTOP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>fmlNotifyTOPBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailFALBAction</name>
        <label>Send Email FALB Action</label>
        <locationX>546</locationX>
        <locationY>1512</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LABIXSendNotification</targetReference>
        </connector>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailFALBTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailTRCRAction</name>
        <label>Send Email TRCR Action</label>
        <locationX>817</locationX>
        <locationY>1506</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LABIXSendNotification_0</targetReference>
        </connector>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTRCRTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignCPCERecipients</name>
        <label>assignCPCERecipients</label>
        <locationX>502</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopIdUserCPCE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopIdUserCPCE.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIdUserCPCE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLABIXRecipients</name>
        <label>assignLABIXRecipientIds</label>
        <locationX>357</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopUserFALB.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopUserFALB.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopUserFALB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>907</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCPCE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTOPRecipients</name>
        <label>assignTOPRecipients</label>
        <locationX>1021</locationX>
        <locationY>1208</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopUserTRCR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopUserTRCR.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopUserTRCR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>WhichBU</name>
        <label>Which BU</label>
        <locationX>678</locationX>
        <locationY>952</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFALB</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
        <rules>
            <name>TOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTRCR</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
    </decisions>
    <formulas>
        <name>fml_SubjectTOP</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial: &quot; &amp; {!$Record.Customer__c} &amp; &quot; Receipt of Your Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlEmailLABIXSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial: $Record.Customer__c Required for Check Ship to Country&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlLABIXNotify</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} + &quot; has a high risk level of Compliance Risk.&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlNotifyTOPBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} + &quot; has a high risk level of Compliance Risk.&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!$Record.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!$Record.SalesOrganization__c}), IF(contains({!$Record.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!$Record.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <interviewLabel>CTRTriggerRequestFormItemSubmitforVerification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerRequestFormItemSubmitforVerification</label>
    <loops>
        <name>loopIdUserCPCE</name>
        <label>loopIdUserCPCE</label>
        <locationX>685</locationX>
        <locationY>753</locationY>
        <collectionReference>getCPCE.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCPCERecipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WhichBU</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopUserFALB</name>
        <label>loopUserFALB</label>
        <locationX>546</locationX>
        <locationY>1191</locationY>
        <collectionReference>getFALB.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignLABIXRecipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getEmailFALBTemplate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopUserTRCR</name>
        <label>loopUserTRCR</label>
        <locationX>818</locationX>
        <locationY>1209</locationY>
        <collectionReference>getTRCR.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignTOPRecipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getEmailTRCRTemplate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>690</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getEmailFALBTemplate</name>
        <label>getEmailFALBTemplate</label>
        <locationX>544</locationX>
        <locationY>1346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmailFALBAction</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRSubmitforVerificationFALB</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getEmailTRCRTemplate</name>
        <label>getEmailTRCRTemplate</label>
        <locationX>816</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmailTRCRAction</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRSubmitforVerificationTRCR</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <startElementReference>CheckBusinessUnit</startElementReference>
    <status>Active</status>
    <subflows>
        <name>getCPCE</name>
        <label>getCPCE</label>
        <locationX>692</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>loopIdUserCPCE</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>CPCE</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getFALB</name>
        <label>getFALB</label>
        <locationX>545</locationX>
        <locationY>1061</locationY>
        <connector>
            <targetReference>loopUserFALB</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>FALB</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getTRCR</name>
        <label>getTRCR</label>
        <locationX>812</locationX>
        <locationY>1065</locationY>
        <connector>
            <targetReference>loopUserTRCR</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>TRCR</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailBodyLABIX</name>
        <text>&lt;p&gt;Dear ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Record.Customer__c} has a high risk level of Compliance Risk.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;CM Review Result: {!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyTOP</name>
        <text>&lt;p&gt;Dear &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Customer__c}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;We have received your documents and they are currently reviewed.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;          {!$Record.Customer__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: Customer:&amp;nbsp;&amp;nbsp;{!$Record.Product__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name:&amp;nbsp;&amp;nbsp;   {!$Record.Owner__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;         {!$Record.CTRRequestFormHeader__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>LABIX</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
