force-app/main/default/flows/CTRTriggerSubmittedToCentralUnitV2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckBusinessUnit</name>
        <label>CheckBusinessUnit</label>
        <locationX>882</locationX>
        <locationY>695</locationY>
        <actionName>CTRFlowBUProfileCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>manualAssign</targetReference>
        </connector>
        <inputParameters>
            <name>mSalesOrg</name>
            <value>
                <elementReference>fmlOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varBusinessUnit</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotification</name>
        <label>SendNotification</label>
        <locationX>618</locationX>
        <locationY>2411</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>WhichAccountType</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SentEmailCustomer</name>
        <label>SentEmailCustomer</label>
        <locationX>354</locationX>
        <locationY>2735</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplateCustomer.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SentEmailSupplier</name>
        <label>SentEmailSupplier</label>
        <locationX>618</locationX>
        <locationY>2735</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplateSupplier.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignCPCE</name>
        <label>assignCPCE</label>
        <locationX>862</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCPCE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCPCE.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCPCE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFALB</name>
        <label>assignFALB</label>
        <locationX>1200</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopFALB.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopFALB.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopFALB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>882</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckBusinessUnit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCR</name>
        <label>assignTRCR</label>
        <locationX>720</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTRCR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTRCR.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTRCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTXFA</name>
        <label>assignTXFA</label>
        <locationX>240</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTXFA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTXFA.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTXFA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>manualAssign</name>
        <label>manualAssign</label>
        <locationX>882</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>varBusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBusinessUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_BU</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCPCE</name>
        <label>CheckCPCE</label>
        <locationX>882</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveCPCE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCPCE.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopCPCE</targetReference>
            </connector>
            <label>HaveCPCE</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFALB</name>
        <label>CheckFALB</label>
        <locationX>1220</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>getCPCE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveFALB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFALB.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopFALB</targetReference>
            </connector>
            <label>HaveFALB</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTRCR</name>
        <label>CheckTRCR</label>
        <locationX>740</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>getCPCE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveTRCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCR.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopTRCR</targetReference>
            </connector>
            <label>HaveTRCR</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTXFA</name>
        <label>CheckTXFA</label>
        <locationX>260</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>getCPCE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveTXFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTXFA.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopTXFA</targetReference>
            </connector>
            <label>HaveTXFA</label>
        </rules>
    </decisions>
    <decisions>
        <name>FinalDecision</name>
        <label>FinalDecision</label>
        <locationX>882</locationX>
        <locationY>2303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecipientIDorRecipientEmailIsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotification</targetReference>
            </connector>
            <label>RecipientIDorRecipientEmailIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_BU</name>
        <label>Which BU</label>
        <locationX>882</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>getCPCE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTXFA</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>TOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTRCR</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>LABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFALB</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichAccountType</name>
        <label>Which Account Type</label>
        <locationX>618</locationX>
        <locationY>2519</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlAccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplateCustomer</targetReference>
            </connector>
            <label>IsCustomer</label>
        </rules>
        <rules>
            <name>IsSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlAccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplateSupplier</targetReference>
            </connector>
            <label>IsSupplier</label>
        </rules>
    </decisions>
    <formulas>
        <description>Subject email</description>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial:&quot; +$Record.Customer__c +&quot;Ready to Reviews&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlAccountType</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!$Record.RecordTypeName__c}, &quot;Customer&quot;),
    &quot;Customer&quot;,
     IF(
         CONTAINS({!$Record.RecordTypeName__c}, &quot;Supplier&quot;),
         &quot;Supplier&quot;,
         &quot;&quot;)
  )</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!getRequestItemRecord.SalesOrganization__c}), IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!getRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fmlPositionNameOfFinancial</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.SalesOrganization__c,&apos;1000&apos;}),&apos;TRCR&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1300&apos;}),&apos;TRCR&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1400&apos;}),&apos;TRCR&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1700&apos;}),&apos;FALB&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;2000&apos;}),&apos;TXFA&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9100&apos;}),&apos;TXFA&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9200&apos;}),&apos;TXFA&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9300&apos;}),&apos;TXFA&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9400&apos;}),&apos;TXFA&apos;,
    &apos;&apos;
   )))))))))</expression>
    </formulas>
    <formulas>
        <name>FmlPositionNameOfTrader</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.SalesOrganization__c,&apos;1000&apos;}),&apos;Trader&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1300&apos;}),&apos;Trader&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1400&apos;}),&apos;Trader&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1700&apos;}),&apos;Trader&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;2000&apos;}),&apos;CM&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9100&apos;}),&apos;CM&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9200&apos;}),&apos;CM&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9300&apos;}),&apos;CM&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9400&apos;}),&apos;CM&apos;,
    &apos;&apos;
   )))))))))</expression>
    </formulas>
    <formulas>
        <name>fmlPositionNameOfVP</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.SalesOrganization__c,&apos;1000&apos;}),&apos;CMVP/SA09&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1300&apos;}),&apos;CMVP/SA09&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1400&apos;}),&apos;CMVP/SA09&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1700&apos;}),&apos;DMD&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;2000&apos;}),&apos;CMVP/TXMD&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9100&apos;}),&apos;TSV DGD&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9200&apos;}),&apos;President Director&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9300&apos;}),&apos;JSKem Owner&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9400&apos;}),&apos;TXMD&apos;,
    &apos;&apos;
   )))))))))</expression>
    </formulas>
    <formulas>
        <name>NotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review and proceeding&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Ready to Reviews&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <interviewLabel>CTRTriggerSubmittedToCentralUnitV2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerSubmittedToCentralUnitV2</label>
    <loops>
        <name>loopCPCE</name>
        <label>loopCPCE</label>
        <locationX>774</locationX>
        <locationY>1919</locationY>
        <collectionReference>getCPCE.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCPCE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopFALB</name>
        <label>loopFALB</label>
        <locationX>1112</locationX>
        <locationY>1235</locationY>
        <collectionReference>getFALB.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignFALB</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getCPCE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTRCR</name>
        <label>loopTRCR</label>
        <locationX>632</locationX>
        <locationY>1235</locationY>
        <collectionReference>getTRCR.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignTRCR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getCPCE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTXFA</name>
        <label>loopTXFA</label>
        <locationX>152</locationX>
        <locationY>1235</locationY>
        <collectionReference>getTXFA.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignTXFA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getCPCE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>882</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplateCustomer</name>
        <label>getEmailTemplateCustomer</label>
        <locationX>354</locationX>
        <locationY>2627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SentEmailCustomer</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRSubmitToCentralUnitCustomer</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplateSupplier</name>
        <label>getEmailTemplateSupplier</label>
        <locationX>618</locationX>
        <locationY>2627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SentEmailSupplier</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRSubmitToCentralUnitSupplier</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>882</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <startElementReference>getRequestItemRecord</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>getCPCE</name>
        <label>getCPCE</label>
        <locationX>882</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>CheckCPCE</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial CPCE</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getFALB</name>
        <label>getFALB</label>
        <locationX>1220</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>CheckFALB</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial LABIX FALB</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getTRCR</name>
        <label>getTRCR</label>
        <locationX>740</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>CheckTRCR</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial TRCR</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getTXFA</name>
        <label>getTXFA</label>
        <locationX>260</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>CheckTXFA</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial TX TXFA</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <text>&lt;p&gt;Dear Compliance Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Customer__r.Name} has done pre-screen by {!fmlPositionNameOfVP} and verified the document by {!fmlPositionNameOfFinancial}. Please continue to work by proceeding via &lt;a href=&quot;https://thaioil--devm41.sandbox.lightning.force.com/builder_platform_interaction/%7B!RecordLinkFormula%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 9pt;&quot;&gt;this link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Company Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;                 &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Interested to be: {!fmlAccountType}:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;       {!$Record.InterestedProductTypeAsCustomer__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Responsible {!FmlPositionNameOfTrader} Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;         &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Responsible S/H Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;           &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.SHPreScreenBy__r.FirstName} {!$Record.SHPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Responsible {!fmlPositionNameOfVP} Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.CMVPPreScreenBy__r.FirstName} {!$Record.CMVPPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Verified Document Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;         {!$Record.LastModifiedBy.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastModifiedBy.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Request Number:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;                {!$Record.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
