force-app/main/default/flows/CTRTriggerRequestFormItemReviewEDDByAMMV3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckBusinessUnit</name>
        <label>CheckBusinessUnit</label>
        <locationX>1108</locationX>
        <locationY>323</locationY>
        <actionName>CTRFlowBUProfileCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getRequestItemRecord</targetReference>
        </connector>
        <inputParameters>
            <name>mSalesOrg</name>
            <value>
                <elementReference>fmlOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varBusinessUnit</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_HighFinalRisk</name>
        <label>SendEmail</label>
        <locationX>844</locationX>
        <locationY>3503</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getHighFinalRiskEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_HighHighFinalRisk</name>
        <label>SendEmail</label>
        <locationX>1108</locationX>
        <locationY>3503</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getHighHighFinalRiskEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotification_HighFinalRisk</name>
        <label>SendNotification</label>
        <locationX>844</locationX>
        <locationY>3395</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmail_HighFinalRisk</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotification_HighHighFinalRisk</name>
        <label>SendNotification</label>
        <locationX>1108</locationX>
        <locationY>3395</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmail_HighHighFinalRisk</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignCEO</name>
        <label>assignCEO</label>
        <locationX>138</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getCEO.varUserIdCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getCEO.varUserEmailCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCEO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLABIXVPMD</name>
        <label>assignLABIXVP/MD</label>
        <locationX>1578</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLABIXVPMD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLABIXVPMD.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLABIXVPMD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipient</name>
        <label>assignRecipient</label>
        <locationX>1260</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCustomerIsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientEmails_0</name>
        <label>assignRecipientEmails</label>
        <locationX>1128</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>1108</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Endorsed_or_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTLBVPMD</name>
        <label>assignTLBVP/MD</label>
        <locationX>1098</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTLBVPMD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTLBVPMD.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTLBVPMD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTPXVPMD</name>
        <label>assignTPXVP/MD</label>
        <locationX>1098</locationX>
        <locationY>2435</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTPXVPMD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTPXVPMD.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTPXVPMD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTrader</name>
        <label>assignTrader</label>
        <locationX>1260</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignTraderSH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTraderSH</name>
        <label>assignTraderS/H</label>
        <locationX>1260</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichBU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTXVPMD</name>
        <label>assignTXVP/MD</label>
        <locationX>618</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTXVPMD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTXVPMD.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTXVPMD</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Endorsed_or_Rejected</name>
        <label>Endorsed or Rejected</label>
        <locationX>1108</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEndorsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndorseDueDiligenceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Endorsed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCEO</targetReference>
            </connector>
            <label>IsEndorsed</label>
        </rules>
        <rules>
            <name>IsRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndorseDueDiligenceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRequestItem</targetReference>
            </connector>
            <label>IsRejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>FinalDecision</name>
        <label>FinalDecision</label>
        <locationX>1108</locationX>
        <locationY>3287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HighFinalRisk</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotification_HighFinalRisk</targetReference>
            </connector>
            <label>HighFinalRisk</label>
        </rules>
        <rules>
            <name>HighHighFinalRisk</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very High Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotification_HighHighFinalRisk</targetReference>
            </connector>
            <label>HighHighFinalRisk</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundUser_LABIXVPMD</name>
        <label>Found User ?</label>
        <locationX>1598</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>assignRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotFoundLABIXVPMD</defaultConnectorLabel>
        <rules>
            <name>FoundLABIXVPMD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLABIXVPMD.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopLABIXVPMD</targetReference>
            </connector>
            <label>FoundLABIXVP/MD</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundUser_TLBVPMD</name>
        <label>Found User ?</label>
        <locationX>1118</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>getTPXVPMD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotFoundTLBVP/MD</defaultConnectorLabel>
        <rules>
            <name>FoundTLBVPMD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTLBVPMD.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopTLBVPMD</targetReference>
            </connector>
            <label>FoundTLBVP/MD</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundUser_TPXVPMD</name>
        <label>Found User ?</label>
        <locationX>1118</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <targetReference>assignRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotFoundTPXVP/MD</defaultConnectorLabel>
        <rules>
            <name>FoundTPXVPMD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTPXVPMD.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopTPXVPMD</targetReference>
            </connector>
            <label>FoundTPXVP/MD</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundUser_TXVPMD</name>
        <label>Found User ?</label>
        <locationX>638</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>assignRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotFoundTXVP/MD</defaultConnectorLabel>
        <rules>
            <name>FoundTXVPMD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTXVPMD.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopTXVPMD</targetReference>
            </connector>
            <label>FoundTXVP/MD</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCEOIsNull</name>
        <label>IsCEOIsNull</label>
        <locationX>158</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCEO.varUserRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopCEO</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCustomerIsNull</name>
        <label>IsCustomerIsNull</label>
        <locationX>1260</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>FinalDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCustomerEmailIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecipientEmails_0</targetReference>
            </connector>
            <label>IsCustomerEmailIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichBU</name>
        <label>Which BU ?</label>
        <locationX>1260</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>assignRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTXVPMD</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>TOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTLBVPMD</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>LABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLABIXVPMD</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
    </decisions>
    <description>07/02/2024 Enhance flow.
- Remove getAMM, getCPCE, getGLGC and getEDDWorkingTeam.
- Add-on get profile...
- Add-on get email template and make decision for sending final risk high level and high-high level.
- Add-on final risk level in entry criteria.</description>
    <formulas>
        <description>Subject email</description>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial:&quot;+ $Record.Customer__c+ &quot;Enhance Due Diligence Required for New Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!getRequestItemRecord.SalesOrganization__c}), IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!getRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>NotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review due diligence result&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Enhance Due Diligence Required for New Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <interviewLabel>CTRTriggerRequestFormItemReviewEDDByAMMV3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerRequestFormItemReviewEDDByAMMV3</label>
    <loops>
        <name>loopCEO</name>
        <label>loopCEO</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <collectionReference>getCEO.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCEO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FinalDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopLABIXVPMD</name>
        <label>loopLABIXVP/MD</label>
        <locationX>1490</locationX>
        <locationY>1727</locationY>
        <collectionReference>getLABIXVPMD.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignLABIXVPMD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignRecipient</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTLBVPMD</name>
        <label>loopTLBVP/MD</label>
        <locationX>1010</locationX>
        <locationY>1727</locationY>
        <collectionReference>getTLBVPMD.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignTLBVPMD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getTPXVPMD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTPXVPMD</name>
        <label>loopTPXVP/MD</label>
        <locationX>1010</locationX>
        <locationY>2327</locationY>
        <collectionReference>getTPXVPMD.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignTPXVPMD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignRecipient</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTXVPMD</name>
        <label>loopTXVP/MD</label>
        <locationX>530</locationX>
        <locationY>1727</locationY>
        <collectionReference>getTXVPMD.varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignTXVPMD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignRecipient</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>1108</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getHighFinalRiskEmailTemplate</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getHighFinalRiskEmailTemplate</name>
        <label>getHighFinalRiskEmailTemplate</label>
        <locationX>1108</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getHighHighFinalRiskEmailTemplate</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRHighRiskEnhanceDueDiligenceResultNotification_CEO</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getHighHighFinalRiskEmailTemplate</name>
        <label>getHighHighFinalRiskEmailTemplate</label>
        <locationX>1108</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRHighHighRiskEnhanceDueDiligenceResultNotification_CEO</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>1108</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordUpdates>
        <name>updateRequestItem</name>
        <label>updateRequestItem</label>
        <locationX>1260</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>assignTrader</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>CheckBusinessUnit</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>getCEO</name>
        <label>getCEO</label>
        <locationX>158</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>IsCEOIsNull</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial CEO</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getLABIXVPMD</name>
        <label>getLABIXVP/MD</label>
        <locationX>1598</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>FoundUser_LABIXVPMD</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial LABIX VP-MD</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getTLBVPMD</name>
        <label>getTLBVP/MD</label>
        <locationX>1118</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>FoundUser_TLBVPMD</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial TLB VP-MD</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getTPXVPMD</name>
        <label>getTPXVP/MD</label>
        <locationX>1118</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>FoundUser_TPXVPMD</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial TPX VP-MD</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>getTXVPMD</name>
        <label>getTXVP/MD</label>
        <locationX>638</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>FoundUser_TXVPMD</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Commercial TX VP-MD</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <text>&lt;p&gt;Dear ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Record.Customer__c} has a high risk level of Compliance Risk.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;CM Review Result: {!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment: {!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Compliance Advice: {!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CPXX: {!$Record.CPXXReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Please review the due diligence result by proceeding via this link.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
