force-app/main/default/flows/CTRTriggerCmtApprovalChngCrCondApprovalStatus.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignTotalApproved</name>
        <label>assignTotalApproved</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTotalApproved</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopApprovals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTotalCommittee</name>
        <label>assignTotalCommittee</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTotalCommittee</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getApprovalRecs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopApprovals</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval_Result</name>
        <label>Check Approval Result</label>
        <locationX>468</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApprovalRecs</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rejected_Status_and_Approval_Step</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalResult</name>
        <label>checkApprovalResult</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>loopApprovals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Result != Approved</defaultConnectorLabel>
        <rules>
            <name>ResultApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopApprovals.ApprovalResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTotalApproved</targetReference>
            </connector>
            <label>Result = Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTotal</name>
        <label>checkTotal</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Total != Approved</defaultConnectorLabel>
        <rules>
            <name>TotalEqualApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalCommittee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTotalApproved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRequestItem</targetReference>
            </connector>
            <label>Total = Approved</label>
        </rules>
    </decisions>
    <interviewLabel>CTRTriggerCommitteeApprovalChngCrCondApprovalStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerCmtApprovalChngCrCondApprovalStatus</label>
    <loops>
        <name>loopApprovals</name>
        <label>loopApprovals</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>getApprovalRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkApprovalResult</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkTotal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getApprovalRecs</name>
        <label>getApprovalRecs</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTotalCommittee</targetReference>
        </connector>
        <filters>
            <field>CTRRequestFormItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__c</elementReference>
            </value>
        </filters>
        <object>CTRCommitteeApproval__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ApprovalResult__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Rejected_Status_and_Approval_Step</name>
        <label>Update Rejected Status and Approval Step</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRequestItem</name>
        <label>updateRequestItem</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <startElementReference>Check_Approval_Result</startElementReference>
    <status>Active</status>
    <variables>
        <name>varTotalApproved</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalCommittee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
