force-app/main/default/flows/CTRTriggerFinalRiskLevelHighToTrader.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckBusinessUnit</name>
        <label>CheckBusinessUnit</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <actionName>CTRFlowBUProfileCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <inputParameters>
            <name>mSalesOrg</name>
            <value>
                <elementReference>fmlOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varBusinessUnit</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Low_and_Medium</name>
        <label>Send Email Low and Medium</label>
        <locationX>1040</locationX>
        <locationY>1787</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>SendEmailAction</name>
        <label>SendEmailAction</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotification</name>
        <label>SendNotification</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>SendNotification_Low_medium</name>
        <label>SendNotification Low medium</label>
        <locationX>1040</locationX>
        <locationY>1679</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_Low_and_Medium</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignRecipientEmails</name>
        <label>assignRecipientEmails</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign who will receive email</description>
        <name>assignRecipientIds</name>
        <label>assignRecipientIds</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignRecipientEmails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>930</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRiskLevel</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_BU_FA</name>
        <label>Check BU FA</label>
        <locationX>1040</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TRCR</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FA</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>LABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FALB</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRiskLevel</name>
        <label>CheckRiskLevel</label>
        <locationX>930</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecipientIds</targetReference>
            </connector>
            <label>High</label>
        </rules>
        <rules>
            <name>Low_and_Medium</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_BU_FA</targetReference>
            </connector>
            <label>Low and Medium</label>
        </rules>
    </decisions>
    <decisions>
        <name>FALBUser</name>
        <label>FALBUser</label>
        <locationX>1326</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FALBuser_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FALB.varUserEmailCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADDFALB</targetReference>
            </connector>
            <label>FALBuser Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>FAUser</name>
        <label>FAUser</label>
        <locationX>886</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FA_user_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FA.varUserEmailCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADDFA</targetReference>
            </connector>
            <label>FA user Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>TRCRUser</name>
        <label>TRCRUser</label>
        <locationX>446</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRCR_user_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TRCR.varUserEmailCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADDTRCR</targetReference>
            </connector>
            <label>TRCR user Found</label>
        </rules>
    </decisions>
    <formulas>
        <description>Subject email</description>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial:&quot;+ $Record.Customer__c +&quot;Enhance Due Diligence Required for New Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!getRequestItemRecord.SalesOrganization__c}), IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;),TEXT({!getRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fmlPositionNameOfVP</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.SalesOrganization__c,&apos;1000&apos;}),&apos;CMVP/SA09&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1300&apos;}),&apos;CMVP/SA09&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1400&apos;}),&apos;CMVP/SA09&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;1700&apos;}),&apos;DMD&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;2000&apos;}),&apos;CMVP/TXMD&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9100&apos;}),&apos;TSV DGD&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9200&apos;}),&apos;President Director&apos;,
    IF(ISPICKVAL({!$Record.SalesOrganization__c,&apos;9300&apos;}),&apos;JSKem Owner&apos;,
    &apos;&apos;
   ))))))))</expression>
    </formulas>
    <formulas>
        <name>NotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review due diligence result&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__c} &amp; &quot; Enhance Due Diligence Required for New Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <interviewLabel>CTRTriggerFinalRiskLevelHigh {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerFinalRiskLevelHighToTrader</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>1040</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendNotification_Low_medium</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRFinalRiskResultLowMedium</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordLookups>
        <name>getPISUserRecord</name>
        <label>getPISUserRecord</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBusinessUnit</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>PISUsers__c</object>
    </recordLookups>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>930</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPISUserRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <startElementReference>getRequestItemRecord</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>ADDFA</name>
        <label>ADDFA</label>
        <locationX>754</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <flowName>Subflow_Additional_Recipient</flowName>
        <inputAssignments>
            <name>varIdCollection</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecipientCollection</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserRecordCollection</name>
            <value>
                <elementReference>Get_FA.varUserRecordCollection</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recipientIds</assignToReference>
            <name>varIdCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recipientEmails</assignToReference>
            <name>varRecipientCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ADDFALB</name>
        <label>ADDFALB</label>
        <locationX>1194</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <flowName>Subflow_Additional_Recipient</flowName>
        <inputAssignments>
            <name>varIdCollection</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecipientCollection</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserRecordCollection</name>
            <value>
                <elementReference>Get_FALB.varUserRecordCollection</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recipientIds</assignToReference>
            <name>varIdCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recipientEmails</assignToReference>
            <name>varRecipientCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ADDTRCR</name>
        <label>ADDTRCR</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <flowName>Subflow_Additional_Recipient</flowName>
        <inputAssignments>
            <name>varIdCollection</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecipientCollection</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserRecordCollection</name>
            <value>
                <elementReference>Get_TRCR.varUserRecordCollection</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recipientIds</assignToReference>
            <name>varIdCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recipientEmails</assignToReference>
            <name>varRecipientCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_FA</name>
        <label>Get FA</label>
        <locationX>886</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>FAUser</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>FA</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_FALB</name>
        <label>Get FALB</label>
        <locationX>1326</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>FALBUser</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>FALB</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_TRCR</name>
        <label>Get TRCR</label>
        <locationX>446</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>TRCRUser</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>TRCR</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <text>&lt;p&gt;Dear Commercial Team ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Record.Customer__c} has a high risk level of Compliance Risk.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Please review the due diligence result by proceeding via this link.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
