force-app/main/default/flows/CTRTriggerRequestFormHeaderUpdateDataToItemAfterUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_AccountGroup_Item_to_collection</name>
        <label>assign AccountGroup Item to collection</label>
        <locationX>141</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>varItemAccountGroupCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopItemAssignmentGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopItemAssignmentGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AccountGroup_to_Item</name>
        <label>assign AccountGroup to Item</label>
        <locationX>381</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>varItemAccountGroupUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopItemAssignmentGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varItemAccountGroupUpdate.AccountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountGroup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_AccountGroup_Item_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Create_Update</name>
        <label>is Create/Update?</label>
        <locationX>927</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>isUpdate_Account_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Update</defaultConnectorLabel>
        <rules>
            <name>is_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>is Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_header_found_related_Item</name>
        <label>is header found related Item</label>
        <locationX>436</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_related_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedItemforAccountGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopItemAssignmentGroup</targetReference>
            </connector>
            <label>found related Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>isUpdate_Account_Group</name>
        <label>isUpdate Account Group</label>
        <locationX>744</locationX>
        <locationY>450</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountGroup_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountGroup__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedItemforAccountGroup</targetReference>
            </connector>
            <label>AccountGroup Update</label>
        </rules>
    </decisions>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>CTRTriggerRequestFormHeaderUpdateDataToItemAfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerRequestFormHeaderUpdateDataToItemAfterUpdate</label>
    <loops>
        <name>LoopItemAssignmentGroup</name>
        <label>LoopItemAssignmentGroup</label>
        <locationX>255</locationX>
        <locationY>438</locationY>
        <collectionReference>getRelatedItemforAccountGroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_AccountGroup_to_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Account_Group_to_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedItemforAccountGroup</name>
        <label>getRelatedItemforAccountGroup</label>
        <locationX>591</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_header_found_related_Item</targetReference>
        </connector>
        <filters>
            <field>CTRRequestFormHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordUpdates>
        <name>update_Account_Group_to_Item</name>
        <label>update Account Group to Item</label>
        <locationX>50</locationX>
        <locationY>440</locationY>
        <inputReference>varItemAccountGroupCollection</inputReference>
    </recordUpdates>
    <startElementReference>is_Create_Update</startElementReference>
    <status>Active</status>
    <variables>
        <name>varItemAccountGroupCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormItem__c</objectType>
    </variables>
    <variables>
        <name>varItemAccountGroupUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormItem__c</objectType>
    </variables>
</Flow>
