force-app/main/default/flows/Dev_Test_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_EMAIL</name>
        <label>Send EMAIL</label>
        <locationX>732</locationX>
        <locationY>779</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>varRecipientCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>getRequestItemRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getTemplate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignRecipient</name>
        <label>AssignRecipient</label>
        <locationX>703</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>varRecipientCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_EMAIL</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Dev Test Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dev Test Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>478</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecipient</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <recordLookups>
        <name>getTemplate</name>
        <label>getTemplate</label>
        <locationX>483</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRequestItemRecord</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTemplateName</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
    </recordLookups>
    <startElementReference>getTemplate</startElementReference>
    <status>Active</status>
    <variables>
        <name>varRecipientCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CTRSHApprovalEmailTemplate</stringValue>
        </value>
    </variables>
</Flow>
