force-app/main/default/flows/E_MOC_Create_running_number_by_record_type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_EMOC_NO</name>
        <label>Assign EMOC.NO</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LPAD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EMOC_NO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Format</name>
        <label>Assign Format</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Emoc_recordtype.Running_name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_EMOC_NO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Format2</name>
        <label>Assign Format2</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Emoc_recordtype.Running_name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_EMOC_NO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_record_type</name>
        <label>Check record type</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Assign_EMOC_NO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Format</targetReference>
            </connector>
            <label>CM</label>
        </rules>
        <rules>
            <name>FN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Format2</targetReference>
            </connector>
            <label>FN</label>
        </rules>
    </decisions>
    <description>Change formula</description>
    <formulas>
        <name>Autonumberform2</name>
        <dataType>String</dataType>
        <expression>{!LeadZero}+Text({!Get_Emoc_recordtype.Number__c}+1)</expression>
    </formulas>
    <formulas>
        <name>LPAD</name>
        <dataType>String</dataType>
        <expression>LPAD(Text({!Get_Emoc_recordtype.Number__c}+1),8,Text(0))</expression>
    </formulas>
    <formulas>
        <name>NumberPlus1</name>
        <dataType>Number</dataType>
        <expression>{!Get_Emoc_recordtype.Number__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>E-MOC Create running number by record type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC Create running number by record type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Emoc_recordtype</name>
        <label>Get Emoc recordtype</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_record_type</targetReference>
        </connector>
        <filters>
            <field>Record_type_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_record_type.Id</elementReference>
            </value>
        </filters>
        <object>E_MOC_Record_type__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_record_type</name>
        <label>Get record type</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Emoc_recordtype</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_EMOC_NO</name>
        <label>Update EMOC.NO</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_Number</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Number</name>
        <label>Update Number</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Emoc_recordtype.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number__c</field>
            <value>
                <elementReference>NumberPlus1</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Record_type__c</object>
    </recordUpdates>
    <startElementReference>Get_record_type</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Autonumberform</name>
        <text>Text({!Leadingzero})+Text({!Get_Emoc_recordtype.Number__c}+1)</text>
    </textTemplates>
    <variables>
        <name>Leadingzero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LeadZero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
