force-app/main/default/flows/E_MOC_auto_create_task_to_Monitoring_team.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email</name>
        <label>Send email</label>
        <locationX>698</locationX>
        <locationY>1223</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_all_e_moc_activity_record</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sfdc.r2@roundtwosolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Days</name>
        <label>Assign Days</label>
        <locationX>698</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Day</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_e_moc_timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_task_to_action_by</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recipient</name>
        <label>Assign recipient</label>
        <locationX>698</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Recipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_all_e_moc_activity_record.Action_by__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_e_moc_timeline</targetReference>
        </connector>
    </assignments>
    <description>Revise email template</description>
    <formulas>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Day}</expression>
    </formulas>
    <interviewLabel>E-MOC- {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC-auto create task to Monitoring team</label>
    <loops>
        <name>Get_all_e_moc_activity_record</name>
        <label>Get all e-moc activity record</label>
        <locationX>610</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_e_moc_activity_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_recipient</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_to_action_by</name>
        <label>Create task to action by</label>
        <locationX>698</locationX>
        <locationY>983</locationY>
        <connector>
            <targetReference>Update_created_task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>Get_all_e_moc_activity_record.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_all_e_moc_activity_record.Action_by__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Acknowledged by the monitoring team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_all_e_moc_activity_record.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_e_moc_activity_record</name>
        <label>Get e-moc activity record</label>
        <locationX>610</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_e_moc_activity_record</targetReference>
        </connector>
        <filters>
            <field>E_MOC_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>E_MOC_Activity__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_e_moc_timeline</name>
        <label>Get e-moc timeline</label>
        <locationX>698</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Days</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_all_e_moc_activity_record.E_MOC_Application__r.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_all_e_moc_activity_record.E_MOC_Application__r.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_all_e_moc_activity_record.E_MOC_Application__r.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_created_task</name>
        <label>Update created task</label>
        <locationX>698</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Send_email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_all_e_moc_activity_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Created_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_all_e_moc_activity_record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Activity__c</object>
    </recordUpdates>
    <startElementReference>Get_e_moc_activity_record</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <text>MOC Title : {!Get_all_e_moc_activity_record.E_MOC_Application__r.E_MOC_Title__c}
Functional Location :{!Get_all_e_moc_activity_record.E_MOC_Application__r.Functional_Location__r.Name}
FL Description :{!Get_all_e_moc_activity_record.E_MOC_Application__r.Functional_Location_Description__c}
Category Type : {!Get_all_e_moc_activity_record.E_MOC_Application__r.Category_Type__c}
Status :{!Get_all_e_moc_activity_record.E_MOC_Application__r.Status_Common_Workflow__c}
Link:Link: https://thaioil.lightning.force.com/lightning/r/E_MOC_Application__c/{!Get_all_e_moc_activity_record.E_MOC_Application__r.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <text>[E-MOC Application] Please acknowledge monitoring program; Common Workflow / {!Get_all_e_moc_activity_record.E_MOC_Application__r.Name}/{!Get_all_e_moc_activity_record.E_MOC_Application__r.Functional_Location__c}</text>
    </textTemplates>
    <variables>
        <name>CountRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Day</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Recipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
