force-app/main/default/flows/E_MOC_cancel_Implement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh</name>
        <label>Refresh</label>
        <locationX>545</locationX>
        <locationY>590</locationY>
        <actionName>c:EMOC_RefreshView</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <interviewLabel>E-MOC cancel Implement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC cancel Implement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_status</name>
        <label>Update status</label>
        <locationX>537</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>Cancel_E_MOC</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Remark_Cancel__c</field>
            <value>
                <elementReference>Reason_for_cancellation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Common_Workflow__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <screens>
        <name>Cancel_E_MOC</name>
        <label>Cancel E-MOC</label>
        <locationX>545</locationX>
        <locationY>366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh</targetReference>
        </connector>
        <fields>
            <name>Show_Cancel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This E-MOC is &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;cancelled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_E_MOC_0</name>
        <label>Cancel E-MOC</label>
        <locationX>852</locationX>
        <locationY>164</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;If Cancel E-MOC in Implementation step, Order must be closed before cancellation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_cancellation</name>
            <fieldText>Reason for cancellation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Cancel_E_MOC_0</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
