force-app/main/default/flows/E_MOC_Task_assign_owner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Date_Permanent</name>
        <label>Check Date Permanent</label>
        <locationX>678</locationX>
        <locationY>1824</locationY>
        <actionName>EMOC_TimelineFlowCalReminderDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_due_date_permanent</targetReference>
        </connector>
        <inputParameters>
            <name>reminderDate</name>
            <value>
                <elementReference>Due_date_permanent</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Due_Date</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Date_Permanent_0</name>
        <label>Check Date Permanent</label>
        <locationX>230</locationX>
        <locationY>1856</locationY>
        <actionName>EMOC_TimelineFlowCalReminderDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_due_date_permanent_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>reminderDate</name>
            <value>
                <elementReference>Due_date_permanent_Fillbudget</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Due_Date</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Date_Permanent_0_0</name>
        <label>Check Date Permanent</label>
        <locationX>408</locationX>
        <locationY>1913</locationY>
        <actionName>EMOC_TimelineFlowCalReminderDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_due_date_permanent_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>reminderDate</name>
            <value>
                <elementReference>Due_date_permanenet_Distribute</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Due_Date</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Date_Permanent_0_0_0</name>
        <label>Check Date Permanent</label>
        <locationX>59</locationX>
        <locationY>1810</locationY>
        <actionName>EMOC_TimelineFlowCalReminderDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_due_date_permanent_0</targetReference>
        </connector>
        <inputParameters>
            <name>reminderDate</name>
            <value>
                <elementReference>Due_date_permanent_IssueWO</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Due_Date</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Date_Temporary</name>
        <label>Check Date Temporary</label>
        <locationX>1091</locationX>
        <locationY>1811</locationY>
        <actionName>EMOC_TimelineFlowCalReminderDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_due_date_temporary</targetReference>
        </connector>
        <inputParameters>
            <name>reminderDate</name>
            <value>
                <elementReference>Due_date_temporary</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Due_Date</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Date_Temporary_0</name>
        <label>Check Date Temporary</label>
        <locationX>1919</locationX>
        <locationY>1806</locationY>
        <actionName>EMOC_TimelineFlowCalReminderDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_due_date_temporary_0</targetReference>
        </connector>
        <inputParameters>
            <name>reminderDate</name>
            <value>
                <elementReference>Due_date_temporary_0</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Due_Date</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Date_Temporary_0_0</name>
        <label>Check Date Temporary</label>
        <locationX>1336</locationX>
        <locationY>1921</locationY>
        <actionName>EMOC_TimelineFlowCalReminderDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_due_date_temporary_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>reminderDate</name>
            <value>
                <elementReference>Due_date_temporary_IssueWO</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Due_Date</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Date_Temporary_0_0_0</name>
        <label>Check Date Temporary</label>
        <locationX>1559</locationX>
        <locationY>1875</locationY>
        <actionName>EMOC_TimelineFlowCalReminderDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_due_date_temporary_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>reminderDate</name>
            <value>
                <elementReference>Due_date_temporary_Fillbudget</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Due_Date</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Date_Temporary_0_0_0_0</name>
        <label>Check Date Temporary</label>
        <locationX>1744</locationX>
        <locationY>1909</locationY>
        <actionName>EMOC_TimelineFlowCalReminderDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_due_date_temporary_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>reminderDate</name>
            <value>
                <elementReference>Due_date_temporary_Distribute</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Due_Date</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Change_Type</name>
        <label>Check Change Type</label>
        <locationX>883</locationX>
        <locationY>1471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permanent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Permanent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_implementation</targetReference>
            </connector>
            <label>Permanent</label>
        </rules>
        <rules>
            <name>Temporary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Temporary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_implementation_0</targetReference>
            </connector>
            <label>Temporary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Common_or_Functional_Override</name>
        <label>Check Common or Functional Override</label>
        <locationX>884</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Functional_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.E_MOC_Application__r.Functional_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_E_MOC_Timeline_Temporary_0</targetReference>
            </connector>
            <label>Functional Override</label>
        </rules>
        <rules>
            <name>Common_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.E_MOC_Application__r.Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Change_Type</targetReference>
            </connector>
            <label>Common Workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_implementation</name>
        <label>check implementation</label>
        <locationX>511</locationX>
        <locationY>1522</locationY>
        <defaultConnector>
            <targetReference>Get_E_MOC_Timeline_Permanent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Issue_WO_to_distribute_work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issue WO to distribute work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_E_MOC_Timeline_Permanent_0</targetReference>
            </connector>
            <label>Issue WO to distribute work</label>
        </rules>
        <rules>
            <name>Fill_in_the_budget_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fill in the budget number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_E_MOC_Timeline_Permanent_0_0</targetReference>
            </connector>
            <label>Fill in the budget number</label>
        </rules>
        <rules>
            <name>Distribute_work_to_concerned_party_Executer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distribute work to concerned party (Executer)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_E_MOC_Timeline_Permanent_0_0_0</targetReference>
            </connector>
            <label>Distribute work to concerned party (Executer)</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_implementation_0</name>
        <label>check implementation</label>
        <locationX>1267</locationX>
        <locationY>1575</locationY>
        <defaultConnector>
            <targetReference>Get_E_MOC_Timeline_Temporary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Issue_WO_to_distribute_work_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issue WO to distribute work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_E_MOC_Timeline_Temporary_0_0</targetReference>
            </connector>
            <label>Issue WO to distribute work</label>
        </rules>
        <rules>
            <name>Fill_in_the_budget_number_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fill in the budget number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_E_MOC_Timeline_Temporary_0_0_0</targetReference>
            </connector>
            <label>Fill in the budget number</label>
        </rules>
        <rules>
            <name>Distribute_work_to_concerned_party_Executer_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distribute work to concerned party (Executer)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_E_MOC_Timeline_Temporary_0_0_0_0</targetReference>
            </connector>
            <label>Distribute work to concerned party (Executer)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_queue_value</name>
        <label>Check queue value</label>
        <locationX>704</locationX>
        <locationY>954</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_queue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_assign_to</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>MOC_Focal_Point</name>
        <label>MOC Focal Point</label>
        <locationX>921</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>Get_queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOC Focal Point</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_E_MOC_Application_record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>chack Working days</description>
    <formulas>
        <name>Due_date_Next_reminder</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}</expression>
    </formulas>
    <formulas>
        <name>Due_date_permanenet_Distribute</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+{!Get_E_MOC_Timeline_Permanent_0_0_0.Day__c}</expression>
    </formulas>
    <formulas>
        <name>Due_date_permanent</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+{!Get_E_MOC_Timeline_Permanent.Day__c}</expression>
    </formulas>
    <formulas>
        <name>Due_date_permanent_Fillbudget</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+{!Get_E_MOC_Timeline_Permanent_0_0.Day__c}</expression>
    </formulas>
    <formulas>
        <name>Due_date_permanent_IssueWO</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+{!Get_E_MOC_Timeline_Permanent_0.Day__c}</expression>
    </formulas>
    <formulas>
        <name>Due_date_temporary</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+{!Get_E_MOC_Timeline_Temporary.Day__c}</expression>
    </formulas>
    <formulas>
        <name>Due_date_temporary_0</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+{!Get_E_MOC_Timeline_Temporary_0.Day__c}</expression>
    </formulas>
    <formulas>
        <name>Due_date_temporary_Distribute</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+{!Get_E_MOC_Timeline_Temporary_0_0_0_0.Day__c}</expression>
    </formulas>
    <formulas>
        <name>Due_date_temporary_Fillbudget</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+{!Get_E_MOC_Timeline_Temporary_0_0_0.Day__c}</expression>
    </formulas>
    <formulas>
        <name>Due_date_temporary_IssueWO</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+{!Get_E_MOC_Timeline_Temporary_0_0.Day__c}</expression>
    </formulas>
    <interviewLabel>E-MOC - Task assign owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC - Task assign owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_E_MOC_Application_record</name>
        <label>Get E-MOC Application record</label>
        <locationX>1207</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <object>E_MOC_Application__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Timeline_Permanent</name>
        <label>Get E-MOC Timeline Permanent</label>
        <locationX>701</locationX>
        <locationY>1657</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Permanent</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.RAM_Total__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permanent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Step__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Timeline_Permanent_0</name>
        <label>Get E-MOC Timeline Permanent</label>
        <locationX>59</locationX>
        <locationY>1650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Permanent_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.RAM_Total__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permanent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Issue WO to distribute work</stringValue>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Timeline_Permanent_0_0</name>
        <label>Get E-MOC Timeline Permanent</label>
        <locationX>233</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Permanent_0</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.RAM_Total__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permanent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fill in the budget number</stringValue>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Timeline_Permanent_0_0_0</name>
        <label>Get E-MOC Timeline Permanent</label>
        <locationX>411</locationX>
        <locationY>1756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Permanent_0_0</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.RAM_Total__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permanent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distribute work to concerned party (Executer)</stringValue>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Timeline_Temporary</name>
        <label>Get E-MOC Timeline Temporary</label>
        <locationX>1090</locationX>
        <locationY>1644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Temporary</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.RAM_Total__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temporary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Step__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Timeline_Temporary_0</name>
        <label>Get E-MOC Timeline Temporary</label>
        <locationX>1858</locationX>
        <locationY>1539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Temporary_0</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Status_Functional_Override__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.RAM_Total__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temporary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Step__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Timeline_Temporary_0_0</name>
        <label>Get E-MOC Timeline Temporary</label>
        <locationX>1294</locationX>
        <locationY>1798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Temporary_0_0</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.RAM_Total__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temporary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Issue WO to distribute work</stringValue>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Timeline_Temporary_0_0_0</name>
        <label>Get E-MOC Timeline Temporary</label>
        <locationX>1467</locationX>
        <locationY>1758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Temporary_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.RAM_Total__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temporary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fill in the budget number</stringValue>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Timeline_Temporary_0_0_0_0</name>
        <label>Get E-MOC Timeline Temporary</label>
        <locationX>1748</locationX>
        <locationY>1765</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Temporary_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.E_MOC_Application__r.RAM_Total__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temporary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distribute work to concerned party (Executer)</stringValue>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_queue</name>
        <label>Get queue</label>
        <locationX>934</locationX>
        <locationY>874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_queue_value</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>1155</locationX>
        <locationY>1101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Common_or_Functional_Override</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_assign_to</name>
        <label>Update assign to</label>
        <locationX>933</locationX>
        <locationY>1001</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_due_date_permanent</name>
        <label>Update due date permanent</label>
        <locationX>681</locationX>
        <locationY>1980</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_due_date_permanent_0</name>
        <label>Update due date permanent</label>
        <locationX>59</locationX>
        <locationY>1963</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_Date_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_due_date_permanent_0_0</name>
        <label>Update due date permanent</label>
        <locationX>233</locationX>
        <locationY>2019</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_Date_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_due_date_permanent_0_0_0</name>
        <label>Update due date permanent</label>
        <locationX>411</locationX>
        <locationY>2071</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_Date_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_due_date_temporary</name>
        <label>Update due date temporary</label>
        <locationX>1094</locationX>
        <locationY>1980</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_Date_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_due_date_temporary_0</name>
        <label>Update due date temporary</label>
        <locationX>1922</locationX>
        <locationY>1975</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_Date_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_due_date_temporary_0_0</name>
        <label>Update due date temporary</label>
        <locationX>1339</locationX>
        <locationY>2026</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_Date_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_due_date_temporary_0_0_0</name>
        <label>Update due date temporary</label>
        <locationX>1538</locationX>
        <locationY>2038</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_Date_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_due_date_temporary_0_0_0_0</name>
        <label>Update due date temporary</label>
        <locationX>1704</locationX>
        <locationY>2031</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_Date_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_Date</name>
        <label>Update Next Reminder Date</label>
        <locationX>678</locationX>
        <locationY>2138</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_Date_0</name>
        <label>Update Next Reminder Date</label>
        <locationX>1096</locationX>
        <locationY>2141</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_Date_0_0</name>
        <label>Update Next Reminder Date</label>
        <locationX>1924</locationX>
        <locationY>2136</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_Date_0_0_0</name>
        <label>Update Next Reminder Date</label>
        <locationX>50</locationX>
        <locationY>2084</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_Date_0_0_0_0</name>
        <label>Update Next Reminder Date</label>
        <locationX>225</locationX>
        <locationY>2140</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>Due_date_Next_reminder</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_Date_0_0_0_0_0</name>
        <label>Update Next Reminder Date</label>
        <locationX>403</locationX>
        <locationY>2192</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>Due_date_Next_reminder</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_Date_0_0_0_0_0_0</name>
        <label>Update Next Reminder Date</label>
        <locationX>1335</locationX>
        <locationY>2190</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>Due_date_Next_reminder</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_Date_0_0_0_0_0_0_0</name>
        <label>Update Next Reminder Date</label>
        <locationX>1539</locationX>
        <locationY>2187</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>Due_date_Next_reminder</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_Date_0_0_0_0_0_0_0_0</name>
        <label>Update Next Reminder Date</label>
        <locationX>1706</locationX>
        <locationY>2192</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>Due_date_Next_reminder</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>1464</locationX>
        <locationY>447</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_E_MOC_Application_record.MOC_Focal_Point_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>MOC_Focal_Point</startElementReference>
    <status>Active</status>
    <variables>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
