force-app/main/default/flows/E_MOC_FN_update_Return_to_normal_to_Close_out.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>A_TOC1</name>
        <label>A-TOC1</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_A_TOC1</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>A_TOC2</name>
        <label>A-TOC2</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_A_TOC2</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>B_SPP_1</name>
        <label>B-SPP</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_B_SPP</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>B_TOC4</name>
        <label>B-TOC4</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_B_TOC4</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>B_TOP_1</name>
        <label>B-TOP</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_B_TOP</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>C_TOC3</name>
        <label>C-TOC3</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_C_TOC3</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>C_TOC5</name>
        <label>C-TOC5</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_C_TOC5</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>D_MO_1</name>
        <label>D-MO</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_D_MO</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>D_OF_1</name>
        <label>D-OF</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_D_OF</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>E_1</name>
        <label>E</label>
        <locationX>2426</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_E</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>F_1</name>
        <label>F</label>
        <locationX>2954</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_F</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>F_B1_1</name>
        <label>F-B1</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <actionName>E_MOC_Application__c.Functional_Override_Close_out_F_LABIX</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Area_PlantSection</name>
        <label>Check Area &amp; PlantSection</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_TOC_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_TOC1</targetReference>
            </connector>
            <label>A-TOC 1</label>
        </rules>
        <rules>
            <name>A_TOC_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_TOC2</targetReference>
            </connector>
            <label>A-TOC 2</label>
        </rules>
        <rules>
            <name>B_TOC_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B_TOC4</targetReference>
            </connector>
            <label>B-TOC 4</label>
        </rules>
        <rules>
            <name>B_TOP</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B_TOP_1</targetReference>
            </connector>
            <label>B-TOP</label>
        </rules>
        <rules>
            <name>B_SPP</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B_SPP_1</targetReference>
            </connector>
            <label>B-SPP</label>
        </rules>
        <rules>
            <name>C_TOC_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_TOC3</targetReference>
            </connector>
            <label>C-TOC 3</label>
        </rules>
        <rules>
            <name>C_TOC_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_TOC5</targetReference>
            </connector>
            <label>C-TOC 5</label>
        </rules>
        <rules>
            <name>D_OF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>D_OF_1</targetReference>
            </connector>
            <label>D-OF</label>
        </rules>
        <rules>
            <name>D_MO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>D_MO_1</targetReference>
            </connector>
            <label>D-MO</label>
        </rules>
        <rules>
            <name>E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_1</targetReference>
            </connector>
            <label>E</label>
        </rules>
        <rules>
            <name>F_LABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maintenance_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>F_B1_1</targetReference>
            </connector>
            <label>F-LABIX</label>
        </rules>
        <rules>
            <name>F_TPX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maintenance_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>F_1</targetReference>
            </connector>
            <label>F-TPX</label>
        </rules>
    </decisions>
    <description>Update B-TOP, B-SPP, Area F</description>
    <interviewLabel>E-MOC - FN update Return to normal to Close out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC - FN update Return to normal to Close out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_status_to_Close_out</name>
        <label>Update status to Close out</label>
        <locationX>1634</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Check_Area_PlantSection</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Functional_Override__c</field>
            <value>
                <stringValue>Close out</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Update_status_to_Close_out</startElementReference>
    <status>Active</status>
</Flow>
