force-app/main/default/flows/E_MOC_VP_Approval_send_back.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_back_to_APU_Area_A</name>
        <label>Send back to APU-Area A</label>
        <locationX>84</locationX>
        <locationY>671</locationY>
        <actionName>E_MOC_Application__c.VP_Approval_send_back_to_APU_Approval_Area_A</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_back_to_APU_Area_B</name>
        <label>Send back to APU-Area B</label>
        <locationX>909</locationX>
        <locationY>670</locationY>
        <actionName>E_MOC_Application__c.VP_Approval_send_back_to_APU_Approval_Area_B</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_back_to_APU_Area_C</name>
        <label>Send back to APU-Area C</label>
        <locationX>84</locationX>
        <locationY>805</locationY>
        <actionName>E_MOC_Application__c.VP_Approval_send_back_to_APU_Approval_Area_C</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_back_to_APU_Area_D_MO</name>
        <label>Send back to APU-Area D-MO</label>
        <locationX>87</locationX>
        <locationY>937</locationY>
        <actionName>E_MOC_Application__c.VP_Approval_send_back_to_APU_Approval_Area_D_MO</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_back_to_APU_Area_D_OF</name>
        <label>Send back to APU-Area D-OF</label>
        <locationX>913</locationX>
        <locationY>795</locationY>
        <actionName>E_MOC_Application__c.VP_Approval_send_back_to_APU_Approval_Area_D_OF</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_back_to_APU_Area_E</name>
        <label>Send back to APU-Area E</label>
        <locationX>915</locationX>
        <locationY>926</locationY>
        <actionName>E_MOC_Application__c.VP_Approval_send_back_to_APU_Approval_Area_E</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_back_to_APU_Area_F_3200</name>
        <label>Send back to APU-Area F-3200</label>
        <locationX>356</locationX>
        <locationY>997</locationY>
        <actionName>E_MOC_Application__c.VP_Approval_send_back_to_APU_Approval_Area_F_3200</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_back_to_APU_Area_F_7200</name>
        <label>Send back to APU-Area F-7200</label>
        <locationX>684</locationX>
        <locationY>996</locationY>
        <actionName>E_MOC_Application__c.VP_Approval_send_back_to_APU_Approval_Area_F_7200</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Area</name>
        <label>Check Area</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_back_to_APU_Area_A</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_back_to_APU_Area_B</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_back_to_APU_Area_C</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>D_OF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_back_to_APU_Area_D_OF</targetReference>
            </connector>
            <label>D-OF</label>
        </rules>
        <rules>
            <name>D_MO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_back_to_APU_Area_D_MO</targetReference>
            </connector>
            <label>D-MO</label>
        </rules>
        <rules>
            <name>E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_back_to_APU_Area_E</targetReference>
            </connector>
            <label>E</label>
        </rules>
        <rules>
            <name>F_3200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Maintenance_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_back_to_APU_Area_F_3200</targetReference>
            </connector>
            <label>F-3200</label>
        </rules>
        <rules>
            <name>F_7200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Maintenance_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_back_to_APU_Area_F_7200</targetReference>
            </connector>
            <label>F-7200</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>528</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VP_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VP Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Area</targetReference>
            </connector>
            <label>VP Approval</label>
        </rules>
    </decisions>
    <description>Update Area F</description>
    <interviewLabel>E-MOC-VP Approval send back {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC-VP Approval send back</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_E_MOC_Application_Record</name>
        <label>Get E-MOC Application Record</label>
        <locationX>536</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <object>E_MOC_Application__c</object>
    </recordLookups>
    <startElementReference>Get_E_MOC_Application_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
