force-app/main/default/flows/E_MOC_FN_Reminder_Date_07_00.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_1_2_SM_POM_Email</name>
        <label>Approval #1 &amp; #2-SM-POM-Email</label>
        <locationX>2974</locationX>
        <locationY>1284</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Group_Member_1</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_Approval_2_ASM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sfdc.r2@roundtwosolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_Approval_1_2_SM_POM</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Risk_Approval_Email</name>
        <label>Risk Approval-Email</label>
        <locationX>4118</locationX>
        <locationY>1284</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Group_Member_2</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_Approval_2_ASM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sfdc.r2@roundtwosolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_Risk_Approval</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SM_POM_A</name>
        <label>SM-POM-A</label>
        <locationX>686</locationX>
        <locationY>804</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_SM_POM_area_A_When_ASM_No_action</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Add_1_Variable</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Task.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SM_POM_B</name>
        <label>SM-POM-B</label>
        <locationX>950</locationX>
        <locationY>804</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_SM_POM_area_B_When_ASM_No_action</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Add_1_Variable</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Task.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SM_POM_C</name>
        <label>SM-POM-C</label>
        <locationX>1214</locationX>
        <locationY>804</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_SM_POM_area_C_When_ASM_No_action</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Add_1_Variable</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Task.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SM_POM_D_MO</name>
        <label>SM-POM-D-MO</label>
        <locationX>1478</locationX>
        <locationY>804</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_SM_POM_area_D_MO_When_ASM_No_action</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Add_1_Variable</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Task.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SM_POM_D_OF</name>
        <label>SM-POM-D-OF</label>
        <locationX>1742</locationX>
        <locationY>804</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_SM_POM_area_D_OF_When_ASM_No_action</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Add_1_Variable</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Task.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SM_POM_E</name>
        <label>SM-POM-E</label>
        <locationX>2006</locationX>
        <locationY>804</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_SM_POM_area_E_When_ASM_No_action</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Add_1_Variable</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Task.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SM_POM_F</name>
        <label>SM-POM-F</label>
        <locationX>2270</locationX>
        <locationY>804</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_SM_POM_area_F_When_ASM_No_action</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Add_1_Variable</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Task.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_1_Variable</name>
        <label>Add 1-Variable</label>
        <locationX>1610</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>Add_1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Reminder_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recipient_1</name>
        <label>Add Recipient</label>
        <locationX>2974</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>Recipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_1.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_1_2_SM_POM_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recipient_2</name>
        <label>Add Recipient</label>
        <locationX>4118</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>Recipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_2.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Risk_Approval_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Area</name>
        <label>Area</label>
        <locationX>1610</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Loop_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.E_MOC_Application__r.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SM_POM_A</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.E_MOC_Application__r.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SM_POM_B</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.E_MOC_Application__r.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SM_POM_C</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>D_MO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.E_MOC_Application__r.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Task.E_MOC_Application__r.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SM_POM_D_MO</targetReference>
            </connector>
            <label>D-MO</label>
        </rules>
        <rules>
            <name>D_OF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.E_MOC_Application__r.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Task.E_MOC_Application__r.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SM_POM_D_OF</targetReference>
            </connector>
            <label>D-OF</label>
        </rules>
        <rules>
            <name>E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.E_MOC_Application__r.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SM_POM_E</targetReference>
            </connector>
            <label>E</label>
        </rules>
        <rules>
            <name>F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.E_MOC_Application__r.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SM_POM_F</targetReference>
            </connector>
            <label>F</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Subject</name>
        <label>Check Task Subject</label>
        <locationX>2952</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>Loop_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_2_ASM_Reminder_Count_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval #2 ASM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Task.Reminder_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Area</targetReference>
            </connector>
            <label>Approval #2-ASM-Reminder Count &gt;=2</label>
        </rules>
        <rules>
            <name>Approval_1_SM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval #1 SM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Name_1</targetReference>
            </connector>
            <label>Approval #1-SM</label>
        </rules>
        <rules>
            <name>Approval_1_POM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval #1 POM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Name_1</targetReference>
            </connector>
            <label>Approval #1-POM</label>
        </rules>
        <rules>
            <name>Approval_2_SM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval #2 SM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Name_1</targetReference>
            </connector>
            <label>Approval #2-SM</label>
        </rules>
        <rules>
            <name>Approval_2_POM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval #2 POM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Name_1</targetReference>
            </connector>
            <label>Approval #2-POM</label>
        </rules>
        <rules>
            <name>Risk_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Name_2</targetReference>
            </connector>
            <label>Risk Approval</label>
        </rules>
    </decisions>
    <description>Revise Subject email</description>
    <interviewLabel>E-MOC-FN-Approval #1 &amp; #2-ASM-Risk assessment-22:00 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC-FN-Reminder Date-07:00</label>
    <loops>
        <name>Loop_Group_Member_1</name>
        <label>Loop Group Member</label>
        <locationX>2886</locationX>
        <locationY>924</locationY>
        <collectionReference>Get_Group_Member_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Group_Member_2</name>
        <label>Loop Group Member</label>
        <locationX>4030</locationX>
        <locationY>924</locationY>
        <collectionReference>Get_Group_Member_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Task</name>
        <label>Loop Task</label>
        <locationX>598</locationX>
        <locationY>444</locationY>
        <collectionReference>Get_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Task_Subject</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Member_1</name>
        <label>Get Group Member</label>
        <locationX>2886</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_Member_1</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_Name_1.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member_2</name>
        <label>Get Group Member</label>
        <locationX>4030</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_Member_2</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_Name_2.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Name_1</name>
        <label>Get Queue Name</label>
        <locationX>2886</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member_1</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Task.Assigned_To__c</elementReference>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Name_2</name>
        <label>Get Queue Name</label>
        <locationX>4030</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member_2</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Task.Assigned_To__c</elementReference>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>598</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Task</targetReference>
        </connector>
        <filters>
            <field>Reminder_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>E_MOC_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Override</stringValue>
            </value>
        </filters>
        <object>Task</object>
    </recordLookups>
    <recordLookups>
        <name>Get_User_1</name>
        <label>Get User</label>
        <locationX>2974</locationX>
        <locationY>1044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recipient_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Group_Member_1.UserOrGroupId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordLookups>
        <name>Get_User_2</name>
        <label>Get User</label>
        <locationX>4118</locationX>
        <locationY>1044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recipient_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Group_Member_2.UserOrGroupId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Reminder_Date</name>
        <label>Update New Reminder Date</label>
        <locationX>1610</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Loop_Task</targetReference>
        </connector>
        <filters>
            <field>E_MOC_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Task.E_MOC_Application__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reminder_Count__c</field>
            <value>
                <elementReference>Add_1</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>Get_Task</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Body_Approval_2_ASM</name>
        <text>Functional Location : {!Loop_Task.E_MOC_Application__r.Functional_Location__r.Name}
FL Description : {!Loop_Task.E_MOC_Application__r.Functional_Location_Description__c}
Category Type : {!Loop_Task.E_MOC_Application__r.Functional_Override_Category__c}
Status : {!Loop_Task.E_MOC_Application__r.Status_Functional_Override__c}
Link: https://thaioil.lightning.force.com/lightning/r/E_MOC_Application__c/{!Loop_Task.E_MOC_Application__r.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_Approval_1_2_SM_POM</name>
        <text>&lt;p&gt;[E-MOC Application]&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please approve Functional Override&lt;/span&gt;/{!Loop_Task.E_MOC_Application__r.Name}/{!Loop_Task.E_MOC_Application__r.Functional_Location__r.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_Approval_2_ASM</name>
        <text>[E-MOC Application] For information: Approval#2 is not action in time: Functional Override/{!Loop_Task.E_MOC_Application__r.Name}/{!Loop_Task.E_MOC_Application__r.Functional_Location__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_Risk_Approval</name>
        <text>[E-MOC Application] Please Approve Risk Analysis and Review TA, Functional Override/{!Loop_Task.E_MOC_Application__r.Name}/{!Loop_Task.E_MOC_Application__r.Functional_Location__r.Name}</text>
    </textTemplates>
    <variables>
        <name>Add_1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Recipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
