force-app/main/default/flows/E_MOC_update_from_first_status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_type_and_status</name>
        <label>Check type and status</label>
        <locationX>498</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Common_Normal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-MOC Register</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Normal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Functional_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status</targetReference>
            </connector>
            <label>Common Normal</label>
        </rules>
        <rules>
            <name>Functional_override_normal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Status_Functional_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Normal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Functional_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_0</targetReference>
            </connector>
            <label>Functional override normal</label>
        </rules>
    </decisions>
    <interviewLabel>E-MOC - update from first status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC - update from first status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_E_MOC_Record</name>
        <label>Get E-MOC Record</label>
        <locationX>514</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_type_and_status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>E_MOC_Application__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_status</name>
        <label>Update status</label>
        <locationX>649</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Common_Workflow__c</field>
            <value>
                <stringValue>Concept Approval</stringValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_0</name>
        <label>Update status</label>
        <locationX>350</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Functional_Override__c</field>
            <value>
                <stringValue>Approval # 1</stringValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>478</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>show_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_E_MOC_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
