force-app/main/default/flows/E_MOC_VP_Common_Send_back.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>APU_Approval</name>
        <label>APU Approval</label>
        <locationX>1106</locationX>
        <locationY>1631</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>APU_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assignment_Date</name>
        <label>Assignment Date</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Date_1</name>
        <label>Assignment Date</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_1.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Date_2</name>
        <label>Assignment Date</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_2.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Date_3</name>
        <label>Assignment Date</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_3.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Date_4</name>
        <label>Assignment Date</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_4.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Date_5</name>
        <label>Assignment Date</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_5.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Date_6</name>
        <label>Assignment Date</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_6.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Date_7</name>
        <label>Assignment Date</label>
        <locationX>1898</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_7.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_22</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Area</name>
        <label>Check Area</label>
        <locationX>1106</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MROA</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MROB</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MROC</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>D_OF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MMLF</targetReference>
            </connector>
            <label>D-OF</label>
        </rules>
        <rules>
            <name>D_MO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MMLD</targetReference>
            </connector>
            <label>D-MO</label>
        </rules>
        <rules>
            <name>E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MPOE</targetReference>
            </connector>
            <label>E</label>
        </rules>
        <rules>
            <name>F_3200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maintenance_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MPOF</targetReference>
            </connector>
            <label>F-3200</label>
        </rules>
        <rules>
            <name>F_7200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maintenance_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MPOF_1</targetReference>
            </connector>
            <label>F-7200</label>
        </rules>
    </decisions>
    <description>Update Area F</description>
    <formulas>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Days}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_1</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_1.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_2</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_2.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_3</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_3.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_4</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_4.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_5</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_5.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_6</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_6.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_7</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_7.Day__c}</expression>
    </formulas>
    <interviewLabel>E-MOC - VP-Common-Send back {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC - VP-Common-Send back</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_Task_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MROA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_1</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_Task_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ENMA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_10</name>
        <label>Create Task</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_Task_11</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MMLF.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_11</name>
        <label>Create Task</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_Task_12</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ENMD.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_12</name>
        <label>Create Task</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_3</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_TNPD.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_13</name>
        <label>Create Task</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_Task_14</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MMLD.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_14</name>
        <label>Create Task</label>
        <locationX>1106</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_Task_15</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ENMD_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_15</name>
        <label>Create Task</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_4</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_TNPD_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_16</name>
        <label>Create Task</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_Task_17</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MPOE.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_17</name>
        <label>Create Task</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_Task_18</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ENME.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_18</name>
        <label>Create Task</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_5</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_TNPE.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_19</name>
        <label>Create Task</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_Task_20</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MPOF.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_2</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Next_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_TNPA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_20</name>
        <label>Create Task</label>
        <locationX>1634</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_Task_21</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ENMF.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_21</name>
        <label>Create Task</label>
        <locationX>1634</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_6</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_TNFX.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_22</name>
        <label>Create Task</label>
        <locationX>1898</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_Task_23</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MPOF_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_23</name>
        <label>Create Task</label>
        <locationX>1898</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_Task_24</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ENMF_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_24</name>
        <label>Create Task</label>
        <locationX>1898</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_7</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_TNFL.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_4</name>
        <label>Create Task</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_Task_5</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MROB.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_5</name>
        <label>Create Task</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_Task_6</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MROB.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_6</name>
        <label>Create Task</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_TNPB.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_7</name>
        <label>Create Task</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_Task_8</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MROC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_8</name>
        <label>Create Task</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_Task_9</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ENMC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_9</name>
        <label>Create Task</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_TNPC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>APU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_ENMA</name>
        <label>Get ENMA</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TNPA</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENMA-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_ENMB</name>
        <label>Get ENMB</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TNPB</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENMB-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_ENMC</name>
        <label>Get ENMC</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TNPC</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENMC-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_ENMD</name>
        <label>Get ENMD</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TNPD</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENMD-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_ENMD_1</name>
        <label>Get ENMD</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TNPD_1</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENMD-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_ENME</name>
        <label>Get ENME</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TNPE</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENME-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_ENMF</name>
        <label>Get ENMF</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TNFX</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENMF-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_ENMF_1</name>
        <label>Get ENMF</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TNFL</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENMF-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MMLD</name>
        <label>Get MMLD</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ENMD_1</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MMLD-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MMLF</name>
        <label>Get MMLF</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ENMD</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MMLF-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MPOE</name>
        <label>Get MPOE</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ENME</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MPOE-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MPOF</name>
        <label>Get MPOF</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ENMF</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MPOF-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MPOF_1</name>
        <label>Get MPOF</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ENMF_1</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MPOF-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MROA</name>
        <label>Get MROA</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ENMA</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MROA-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MROB</name>
        <label>Get MROB</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ENMB</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MROB-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MROC</name>
        <label>Get MROC</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ENMC</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MROC-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline</name>
        <label>Get Timeline</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Date</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_1</name>
        <label>Get Timeline</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Date_1</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_2</name>
        <label>Get Timeline</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Date_2</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_3</name>
        <label>Get Timeline</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Date_3</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_4</name>
        <label>Get Timeline</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Date_4</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_5</name>
        <label>Get Timeline</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Date_5</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_6</name>
        <label>Get Timeline</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Date_6</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_7</name>
        <label>Get Timeline</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Date_7</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_TNFL</name>
        <label>Get TNFL</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_7</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TNFL-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_TNFX</name>
        <label>Get TNFX</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_6</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TNFX-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_TNPA</name>
        <label>Get TNPA</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TNPA-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_TNPB</name>
        <label>Get TNPB</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_1</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TNPB-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_TNPC</name>
        <label>Get TNPC</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_2</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TNPC-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_TNPD</name>
        <label>Get TNPD</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_3</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TNPD-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_TNPD_1</name>
        <label>Get TNPD</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_4</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TNPD-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_TNPE</name>
        <label>Get TNPE</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_5</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TNPE-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Next_Reminder</name>
        <label>Update Next Reminder</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>APU_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_1</name>
        <label>Update Next Reminder</label>
        <locationX>314</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>APU_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_2</name>
        <label>Update Next Reminder</label>
        <locationX>578</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>APU_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_3</name>
        <label>Update Next Reminder</label>
        <locationX>842</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>APU_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_4</name>
        <label>Update Next Reminder</label>
        <locationX>1106</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>APU_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_4</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_5</name>
        <label>Update Next Reminder</label>
        <locationX>1370</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>APU_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_5</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_6</name>
        <label>Update Next Reminder</label>
        <locationX>1634</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>APU_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_6</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_7</name>
        <label>Update Next Reminder</label>
        <locationX>1898</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>APU_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_7</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Check_Area</startElementReference>
    <status>Active</status>
    <variables>
        <name>Days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
