force-app/main/default/flows/E_MOC_Close_out_Verify.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Closed_Out_ADOE</name>
        <label>Closed Out-ADOE</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>E_MOC_Success_Display_1</targetReference>
        </connector>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Closed_Out_ADOE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Closed_Out_ADOE_1</name>
        <label>Closed Out-ADOE</label>
        <locationX>2338</locationX>
        <locationY>2150</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Closed_Out_ADOE	</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_MMLD_Section_Head_MOC_Verify</name>
        <label>Copy 1 of MMLD-Section Head MOC Verify</label>
        <locationX>3658</locationX>
        <locationY>2270</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MMLD_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_MMLF_Section_Head_MOC_Verify</name>
        <label>Copy 1 of MMLF-Section Head MOC Verify</label>
        <locationX>3394</locationX>
        <locationY>2270</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MMLF_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_MPOE_Section_Head_MOC_Verify</name>
        <label>Copy 1 of MPOE-Section Head MOC Verify</label>
        <locationX>3922</locationX>
        <locationY>2270</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MPOE_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_MPOF_Section_Head_MOC_Verify</name>
        <label>Copy 1 of MPOF-Section Head MOC Verify</label>
        <locationX>4186</locationX>
        <locationY>2270</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MPOF_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_MROA_Section_Head_MOC_Verify</name>
        <label>Copy 1 of MROA-Section Head MOC Verify</label>
        <locationX>2602</locationX>
        <locationY>2270</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MROA_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_MROB_Section_Head_MOC_Verify</name>
        <label>Copy 1 of MROB-Section Head MOC Verify</label>
        <locationX>2866</locationX>
        <locationY>2270</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MROB_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_MROC_Section_Head_MOC_Verify</name>
        <label>Copy 1 of MROC-Section Head MOC Verify</label>
        <locationX>3130</locationX>
        <locationY>2270</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MROC_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Refresh_Page</name>
        <label>Copy 1 of Refresh Page</label>
        <locationX>1238</locationX>
        <locationY>1814</locationY>
        <actionName>c:EMOC_RefreshView</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>MMLD_Section_Head_MOC_Verify</name>
        <label>MMLD-Section Head MOC Verify</label>
        <locationX>1370</locationX>
        <locationY>1478</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MMLD_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MMLF_Section_Head_MOC_Verify</name>
        <label>MMLF-Section Head MOC Verify</label>
        <locationX>1106</locationX>
        <locationY>1478</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MMLF_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MPOE_Section_Head_MOC_Verify</name>
        <label>MPOE-Section Head MOC Verify</label>
        <locationX>1634</locationX>
        <locationY>1478</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MPOE_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MPOF_Section_Head_MOC_Verify</name>
        <label>MPOF-Section Head MOC Verify</label>
        <locationX>1898</locationX>
        <locationY>1478</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MPOF_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MROA_Section_Head_MOC_Verify</name>
        <label>MROA-Section Head MOC Verify</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MROA_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MROB_Section_Head_MOC_Verify</name>
        <label>MROB-Section Head MOC Verify</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MROB_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MROC_Section_Head_MOC_Verify</name>
        <label>MROC-Section Head MOC Verify</label>
        <locationX>842</locationX>
        <locationY>1478</locationY>
        <actionName>E_MOC_Application__c.Email_Alert_to_MROC_Section_Head_MOC_Verify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_E_MOC_Success_Display</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Page</name>
        <label>Refresh Page</label>
        <locationX>2932</locationX>
        <locationY>2702</locationY>
        <actionName>c:EMOC_RefreshView</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Page_1</name>
        <label>Refresh Page</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <actionName>c:EMOC_RefreshView</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <assignments>
        <name>Assign_Day</name>
        <label>Assign Day</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_1</name>
        <label>Assign Day</label>
        <locationX>2338</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_1.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_2</name>
        <label>Assign Day</label>
        <locationX>2602</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_2.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_8_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_3</name>
        <label>Assign Day</label>
        <locationX>2866</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_3.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_9_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_4</name>
        <label>Assign Day</label>
        <locationX>3130</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_4.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_10_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_5</name>
        <label>Assign Day</label>
        <locationX>3394</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_5.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_11_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_6</name>
        <label>Assign Day</label>
        <locationX>3658</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_6.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_12_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_7</name>
        <label>Assign Day</label>
        <locationX>3922</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_7.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_13_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_8</name>
        <label>Assign Day</label>
        <locationX>4186</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_8.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_14_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sub_order_ADOE</name>
        <label>Assign sub-order-ADOE</label>
        <locationX>3020</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Count_Sub_Order_ADOE</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_sub_order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Day</name>
        <label>Copy 1 of Assign Day</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Day</name>
        <label>Copy 2 of Assign Day</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Day</name>
        <label>Copy 3 of Assign Day</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_3_of_Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Day</name>
        <label>Copy 4 of Assign Day</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_4_of_Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Day</name>
        <label>Copy 5 of Assign Day</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_5_of_Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_5_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Day</name>
        <label>Copy 6 of Assign Day</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_6_of_Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_6_of_Update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Day</name>
        <label>Copy 7 of Assign Day</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_7_of_Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_7_of_Update_field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Area</name>
        <label>Check Area</label>
        <locationX>3526</locationX>
        <locationY>1310</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MROA_Section_Head</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MROB_Section_Head</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MROC_Section_Head</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>D_OF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MMLF_Section_Head</targetReference>
            </connector>
            <label>D-OF</label>
        </rules>
        <rules>
            <name>D_MO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MMLD_Section_Head</targetReference>
            </connector>
            <label>D-MO</label>
        </rules>
        <rules>
            <name>E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MPOE_Section_Head</targetReference>
            </connector>
            <label>E</label>
        </rules>
        <rules>
            <name>F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MPOF_Section_Head</targetReference>
            </connector>
            <label>F</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Main_Order_ADOE</name>
        <label>Check Main Order-ADOE</label>
        <locationX>1491</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Sub_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_ADOE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Order.Main_Work_Center_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ADOE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Send_to_ADOE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Send_to_MROx__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ADOE_Senior</targetReference>
            </connector>
            <label>Has ADOE</label>
        </rules>
        <rules>
            <name>MOC_to_MROx_Do_MOC_Accomplishment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Send_to_ADOE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Send_to_MROx__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Send_email_from_ADOE_to_MOC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Area</targetReference>
            </connector>
            <label>MOC to MROx-Do MOC Accomplishment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sub_Order_ADOE</name>
        <label>Check Sub-Order-ADOE</label>
        <locationX>3152</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_all_sub_order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_ADOE_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_sub_order.Main_Work_Center_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ADOE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Send_to_ADOE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Send_to_MROx__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_sub_order_ADOE</targetReference>
            </connector>
            <label>Has ADOE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Area</name>
        <label>Copy 1 of Check Area</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_E_MOC_Success_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_MROA_Section_Head</targetReference>
            </connector>
            <label>Copy 1 of A</label>
        </rules>
        <rules>
            <name>Copy_1_of_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_MROB_Section_Head</targetReference>
            </connector>
            <label>Copy 1 of B</label>
        </rules>
        <rules>
            <name>Copy_1_of_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_MROC_Section_Head</targetReference>
            </connector>
            <label>Copy 1 of C</label>
        </rules>
        <rules>
            <name>Copy_1_of_D_OF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_MMLF_Section_Head</targetReference>
            </connector>
            <label>Copy 1 of D-OF</label>
        </rules>
        <rules>
            <name>Copy_1_of_D_MO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_MMLD_Section_Head</targetReference>
            </connector>
            <label>Copy 1 of D-MO</label>
        </rules>
        <rules>
            <name>Copy_1_of_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_MPOE_Section_Head</targetReference>
            </connector>
            <label>Copy 1 of E</label>
        </rules>
        <rules>
            <name>Copy_1_of_F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_MPOF_Section_Head</targetReference>
            </connector>
            <label>Copy 1 of F</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_sub_order_ADOE_1</name>
        <label>Count sub-order-ADOE</label>
        <locationX>2932</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Check_Area</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_ADOE_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Sub_Order_ADOE</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Send_to_ADOE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_record.Send_to_MROx__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ADOE_Senior_1</targetReference>
            </connector>
            <label>Has ADOE</label>
        </rules>
    </decisions>
    <description>Delete Email Alert to ADOE</description>
    <formulas>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Days}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_1</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_1.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_10</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Copy_2_of_Get_Timeline.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_11</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Copy_3_of_Get_Timeline.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_12</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Copy_4_of_Get_Timeline.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_13</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Copy_5_of_Get_Timeline.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_14</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Copy_6_of_Get_Timeline.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_15</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Copy_7_of_Get_Timeline.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_2</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_2.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_3</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_3.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_4</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_4.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_5</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_5.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_6</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_6.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_7</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_7.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_8</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_8.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_9</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Copy_1_of_Get_Timeline.Day__c}</expression>
    </formulas>
    <interviewLabel>E-MOC - Close out - Verify {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC - Close out - Verify</label>
    <loops>
        <name>Get_all_sub_order</name>
        <label>Get all sub-order</label>
        <locationX>2932</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Sub_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Sub_Order_ADOE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_sub_order_ADOE_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Task_to_MMLD_Section_Head</name>
        <label>Copy 1 of Create Task to MMLD-Section Head</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Copy_5_of_Update_Next_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_MMLD_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Task_to_MMLF_Section_Head</name>
        <label>Copy 1 of Create Task to MMLF-Section Head</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Copy_4_of_Update_Next_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_MMLF_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Task_to_MPOE_Section_Head</name>
        <label>Copy 1 of Create Task to MPOE-Section Head</label>
        <locationX>1634</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Copy_6_of_Update_Next_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_MPOE_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Task_to_MPOF_Section_Head</name>
        <label>Copy 1 of Create Task to MPOF-Section Head</label>
        <locationX>1898</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Copy_7_of_Update_Next_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_MPOF_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Task_to_MROA_Section_Head</name>
        <label>Copy 1 of Create Task to MROA-Section Head</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Next_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_MROA_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Task_to_MROB_Section_Head</name>
        <label>Copy 1 of Create Task to MROB-Section Head</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Next_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_MROB_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Task_to_MROC_Section_Head</name>
        <label>Copy 1 of Create Task to MROC-Section Head</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Copy_3_of_Update_Next_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_MROC_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_ADOE_Senior</name>
        <label>Create Task to ADOE-Senior</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Next_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ADOE_Senior.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Verify whether all documents/drawing is updated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_ADOE_Senior_1</name>
        <label>Create Task to ADOE-Senior</label>
        <locationX>2338</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_ADOE_Senior_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Verify whether all documents/drawing is updated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_MMLD_Section_Head</name>
        <label>Create Task to MMLD-Section Head</label>
        <locationX>3658</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_6</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MMLD_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_MMLF_Section_Head</name>
        <label>Create Task to MMLF-Section Head</label>
        <locationX>3394</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_5</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MMLF_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_MPOE_Section_Head</name>
        <label>Create Task to MPOE-Section Head</label>
        <locationX>3922</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_7</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MPOE_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_MPOF_Section_Head</name>
        <label>Create Task to MPOF-Section Head</label>
        <locationX>4186</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_8</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MPOF_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_MROA_Section_Head</name>
        <label>Create Task to MROA-Section Head</label>
        <locationX>2602</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MROA_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_MROB_Section_Head</name>
        <label>Create Task to MROB-Section Head</label>
        <locationX>2866</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_3</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MROB_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_MROC_Section_Head</name>
        <label>Create Task to MROC-Section Head</label>
        <locationX>3130</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_4</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_MROC_Section_Head.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all requirement is met objectives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_MMLD_Section_Head</name>
        <label>Copy 1 of Get MMLD Section Head</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_5_of_Get_Timeline</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MMLD-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_MMLF_Section_Head</name>
        <label>Copy 1 of Get MMLF Section Head</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_Get_Timeline</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MMLF-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_MPOE_Section_Head</name>
        <label>Copy 1 of Get MPOE Section Head</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_6_of_Get_Timeline</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MPOE-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_MPOF_Section_Head</name>
        <label>Copy 1 of Get MPOF Section Head</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_7_of_Get_Timeline</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MPOF-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_MROA_Section_Head</name>
        <label>Copy 1 of Get MROA Section Head</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Timeline</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MROA-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_MROB_Section_Head</name>
        <label>Copy 1 of Get MROB Section Head</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Get_Timeline</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MROB-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_MROC_Section_Head</name>
        <label>Copy 1 of Get MROC Section Head</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Get_Timeline</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MROC-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Timeline</name>
        <label>Copy 1 of Get Timeline</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Day</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Timeline</name>
        <label>Copy 2 of Get Timeline</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Assign_Day</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_Get_Timeline</name>
        <label>Copy 3 of Get Timeline</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Assign_Day</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_4_of_Get_Timeline</name>
        <label>Copy 4 of Get Timeline</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_Assign_Day</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_5_of_Get_Timeline</name>
        <label>Copy 5 of Get Timeline</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_5_of_Assign_Day</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_6_of_Get_Timeline</name>
        <label>Copy 6 of Get Timeline</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_6_of_Assign_Day</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_7_of_Get_Timeline</name>
        <label>Copy 7 of Get Timeline</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_7_of_Assign_Day</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_ADOE_Senior</name>
        <label>Get ADOE-Senior</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ADOE-Senior</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_ADOE_Senior_1</name>
        <label>Get ADOE-Senior</label>
        <locationX>2338</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_1</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ADOE-Senior</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Application_record</name>
        <label>Get E-MOC Application record</label>
        <locationX>1491</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>E_MOC_Application__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Order</name>
        <label>Get Main Order</label>
        <locationX>1491</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Main_Order_ADOE</targetReference>
        </connector>
        <filters>
            <field>Super_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>E_MOC_Application_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <object>Order__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MMLD_Section_Head</name>
        <label>Get MMLD Section Head</label>
        <locationX>3658</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_6</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MMLD-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MMLF_Section_Head</name>
        <label>Get MMLF Section Head</label>
        <locationX>3394</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_5</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MMLF-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MPOE_Section_Head</name>
        <label>Get MPOE Section Head</label>
        <locationX>3922</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_7</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MPOE-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MPOF_Section_Head</name>
        <label>Get MPOF Section Head</label>
        <locationX>4186</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_8</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MPOF-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MROA_Section_Head</name>
        <label>Get MROA Section Head</label>
        <locationX>2602</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_2</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MROA-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MROB_Section_Head</name>
        <label>Get MROB Section Head</label>
        <locationX>2866</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_3</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MROB-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_MROC_Section_Head</name>
        <label>Get MROC Section Head</label>
        <locationX>3130</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_4</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MROC-Section Head</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Sub_Order</name>
        <label>Get Sub-Order</label>
        <locationX>2932</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_sub_order</targetReference>
        </connector>
        <filters>
            <field>Super_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Order.Id</elementReference>
            </value>
        </filters>
        <object>Order__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline</name>
        <label>Get Timeline</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Day</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_1</name>
        <label>Get Timeline</label>
        <locationX>2338</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Day_1</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_2</name>
        <label>Get Timeline</label>
        <locationX>2602</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Day_2</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_3</name>
        <label>Get Timeline</label>
        <locationX>2866</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Day_3</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_4</name>
        <label>Get Timeline</label>
        <locationX>3130</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Day_4</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_5</name>
        <label>Get Timeline</label>
        <locationX>3394</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Day_5</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_6</name>
        <label>Get Timeline</label>
        <locationX>3658</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Day_6</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_7</name>
        <label>Get Timeline</label>
        <locationX>3922</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Day_7</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_8</name>
        <label>Get Timeline</label>
        <locationX>4186</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Day_8</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Copy_10_of_Update_field</name>
        <label>Update field</label>
        <locationX>3130</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Create_Task_to_MROC_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_10_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 10 of Update Stamp date MOC verify</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>MMLF_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_11_of_Update_field</name>
        <label>Update field</label>
        <locationX>3394</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Create_Task_to_MMLF_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_11_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 11 of Update Stamp date MOC verify</label>
        <locationX>1370</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>MMLD_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_12_of_Update_field</name>
        <label>Update field</label>
        <locationX>3658</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Create_Task_to_MMLD_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_12_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 12 of Update Stamp date MOC verify</label>
        <locationX>1634</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>MPOE_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_13_of_Update_field</name>
        <label>Update field</label>
        <locationX>3922</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Create_Task_to_MPOE_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_13_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 13 of Update Stamp date MOC verify</label>
        <locationX>1898</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>MPOF_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_14_of_Update_field</name>
        <label>Update field</label>
        <locationX>4186</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Create_Task_to_MPOF_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Update_field</name>
        <label>Update field</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Task_to_MROB_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_field</name>
        <label>Copy 1 of Update field</label>
        <locationX>2338</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Create_Task_to_ADOE_Senior_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_ADOE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Next_Reminder</name>
        <label>Copy 1 of Update Next Reminder</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Copy_7_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 1 of Update Stamp date MOC verify</label>
        <locationX>2866</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Copy_1_of_MROB_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_field</name>
        <label>Update field</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Task_to_MROA_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Next_Reminder</name>
        <label>Copy 2 of Update Next Reminder</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Copy_8_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 2 of Update Stamp date MOC verify</label>
        <locationX>3130</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Copy_1_of_MROC_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_field</name>
        <label>Update field</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Task_to_MROC_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Next_Reminder</name>
        <label>Copy 3 of Update Next Reminder</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Copy_9_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 3 of Update Stamp date MOC verify</label>
        <locationX>3394</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Copy_1_of_MMLF_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_field</name>
        <label>Update field</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Task_to_MMLF_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Next_Reminder</name>
        <label>Copy 4 of Update Next Reminder</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Copy_10_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 4 of Update Stamp date MOC verify</label>
        <locationX>3658</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Copy_1_of_MMLD_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Update_field</name>
        <label>Update field</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Task_to_MMLD_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Update_Next_Reminder</name>
        <label>Copy 5 of Update Next Reminder</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Copy_11_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_13</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 5 of Update Stamp date MOC verify</label>
        <locationX>3922</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Copy_1_of_MPOE_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Update_field</name>
        <label>Update field</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Task_to_MPOE_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Update_Next_Reminder</name>
        <label>Copy 6 of Update Next Reminder</label>
        <locationX>1634</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Copy_12_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 6 of Update Stamp date MOC verify</label>
        <locationX>4186</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Copy_1_of_MPOF_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_7_of_Update_field</name>
        <label>Update field</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Task_to_MPOF_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_7_of_Update_Next_Reminder</name>
        <label>Copy 7 of Update Next Reminder</label>
        <locationX>1898</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Copy_13_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_15</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_7_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 7 of Update Stamp date MOC verify</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>MROA_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_8_of_Update_field</name>
        <label>Update field</label>
        <locationX>2602</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Create_Task_to_MROA_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_8_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 8 of Update Stamp date MOC verify</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>MROB_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_9_of_Update_field</name>
        <label>Update field</label>
        <locationX>2866</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Create_Task_to_MROB_Section_Head</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_to_MROx__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_9_of_Update_Stamp_date_MOC_verify</name>
        <label>Copy 9 of Update Stamp date MOC verify</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>MROC_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_date_Submit_to_ADOE2</name>
        <label>Stamp date Submit to ADOE2</label>
        <locationX>2338</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Closed_Out_ADOE_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_Submit_to_ADOE__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_field</name>
        <label>Update field</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_Task_to_ADOE_Senior</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_ADOE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder</name>
        <label>Update Next Reminder</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Update_Stamp_date</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_1</name>
        <label>Update Next Reminder</label>
        <locationX>2338</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Stamp_date_Submit_to_ADOE2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_2</name>
        <label>Update Next Reminder</label>
        <locationX>2602</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_3</name>
        <label>Update Next Reminder</label>
        <locationX>2866</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_4</name>
        <label>Update Next Reminder</label>
        <locationX>3130</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_5</name>
        <label>Update Next Reminder</label>
        <locationX>3394</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Copy_3_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_6</name>
        <label>Update Next Reminder</label>
        <locationX>3658</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Copy_4_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_7</name>
        <label>Update Next Reminder</label>
        <locationX>3922</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Copy_5_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reminder_8</name>
        <label>Update Next Reminder</label>
        <locationX>4186</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Copy_6_of_Update_Stamp_date_MOC_verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Verify_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stamp_date</name>
        <label>Update Stamp date  Submit to ADOE</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Closed_Out_ADOE</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_Submit_to_ADOE__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stamp_date_MOC_verify</name>
        <label>Update Stamp date MOC verify</label>
        <locationX>2602</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Copy_1_of_MROA_Section_Head_MOC_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stamp_date_MOC_verify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_E_MOC_Success_Display</name>
        <label>Copy 1 of E-MOC - Success Display</label>
        <locationX>1238</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Refresh_Page</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Success</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>E_MOC_Success_Display</name>
        <label>E-MOC - Success Display</label>
        <locationX>2932</locationX>
        <locationY>2582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Refresh_Page</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>E_MOC_Success_Display_1</name>
        <label>E-MOC - Success Display</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Refresh_Page_1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Success</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_E_MOC_Application_record</startElementReference>
    <status>Active</status>
    <variables>
        <name>Count_Sub_Order_ADOE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
