force-app/main/default/flows/E_MOC_FN_Update_Status_to_Return_to_Normal_before_72.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Group</name>
        <label>Check Group</label>
        <locationX>525</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Group_B</name>
            <conditionLogic>(1 OR 5) AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Status_Functional_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation#1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Inhibit_alarm_for_maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Disable_Alarm_by_Ops_for_HW__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Inhibit_Alarm_request_for_FOX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Status_Functional_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation#2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_FN_Status</targetReference>
            </connector>
            <label>Check Group B</label>
        </rules>
    </decisions>
    <description>E-MOC FN-Update Status to Return to Normal before 72</description>
    <interviewLabel>FN-Update Status to Return to Normal before 72 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC FN-Update Status to Return to Normal before 72</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_E_MOC_Record</name>
        <label>Get E-MOC Record</label>
        <locationX>535</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>E_MOC_Application__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_FN_Status</name>
        <label>Update Record FN Status</label>
        <locationX>527</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Functional_Override__c</field>
            <value>
                <stringValue>Return to normal condition</stringValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>333</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_E_MOC_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
