force-app/main/default/flows/E_MOC_Concept_Approval_Emergency.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Concept_Approval_1_Line_Manager</name>
        <label>Concept Approval-1-Line Manager</label>
        <locationX>746</locationX>
        <locationY>1980</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Concept_Approval_1_Line_Manager</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Concept_Approval_Cate_Design_1_Line</name>
        <label>Concept_Approval_Cate_Design_1_Line</label>
        <locationX>537</locationX>
        <locationY>1974</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Concept_Approval_Cate_Design_1_Line</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Concept_Approval_Tank_1_Line_Manager</name>
        <label>Concept Approval-Tank-1-Line Manager</label>
        <locationX>320</locationX>
        <locationY>1977</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Concept_Approval_Tank_1_Line_Manager	</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Date</name>
        <label>Assign Date</label>
        <locationX>536</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>Day</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_task_to_Line_Manager</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Category_Type</name>
        <label>Check Category Type</label>
        <locationX>529</locationX>
        <locationY>1740</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Catalyst_Design_limit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Catalyst_Chemical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Design_limit_IOW_change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concept_Approval_Cate_Design_1_Line</targetReference>
            </connector>
            <label>Catalyst-Design limit</label>
        </rules>
        <rules>
            <name>Tank_Change_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tank_change_service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concept_Approval_Tank_1_Line_Manager</targetReference>
            </connector>
            <label>Tank Change Service</label>
        </rules>
        <rules>
            <name>Exclude_Tank_Catalyst_Design_limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tank_change_service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Catalyst_Chemical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Design_limit_IOW_change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concept_Approval_1_Line_Manager</targetReference>
            </connector>
            <label>Exclude Tank-Catalyst-Design limit</label>
        </rules>
    </decisions>
    <description>Change Concept Approval-2</description>
    <formulas>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Day}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline.Day__c}</expression>
    </formulas>
    <interviewLabel>E-MOC - Concept Approval-Emergency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC - Concept Approval-Emergency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_to_Line_Manager</name>
        <label>Create task to Line Manager</label>
        <locationX>536</locationX>
        <locationY>1240</locationY>
        <connector>
            <targetReference>Update_Next_Reminder_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Concept Approval-1-Line Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Timeline</name>
        <label>Get Timeline</label>
        <locationX>535</locationX>
        <locationY>764</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Date</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Next_Reminder_Date</name>
        <label>Update Next Reminder Date</label>
        <locationX>536</locationX>
        <locationY>1475</locationY>
        <connector>
            <targetReference>Check_Category_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <status>Active</status>
    <variables>
        <name>Day</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
