force-app/main/default/flows/E_MOC_Edit_button.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Status_Common_Workflow</name>
        <label>Check Status Common Workflow</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>E_MOC_Register</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-MOC Register</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>E-MOC Register</label>
        </rules>
        <rules>
            <name>Concept_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concept Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>Concept Approval</label>
        </rules>
        <rules>
            <name>Budget_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Budget Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>Budget Registration</label>
        </rules>
        <rules>
            <name>Detailed_Design_Study</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Detailed Design/Study</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>Detailed Design/Study</label>
        </rules>
        <rules>
            <name>Hazard_Screening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hazard Screening</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Hazard_Screening_Checklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>Hazard Screening</label>
        </rules>
        <rules>
            <name>Technical_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>Technical Review</label>
        </rules>
        <rules>
            <name>APU_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APU Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>APU Approval</label>
        </rules>
        <rules>
            <name>VP_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VP Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>VP Approval</label>
        </rules>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>Readiness_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Readiness Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>Readiness Review</label>
        </rules>
        <rules>
            <name>Monitoring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>Monitoring</label>
        </rules>
        <rules>
            <name>Close_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>Close Out</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Lesson_Learn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lesson Learn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button_3</targetReference>
            </connector>
            <label>Lesson Learn</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button_0</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Edit_button_0_0</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <description>Lesson Learn</description>
    <interviewLabel>E-MOC - Edit button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC - Edit button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Show_Edit_button</name>
        <label>Update Show Edit button</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Show_Edit_button__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Show_Edit_button_0</name>
        <label>Update Show Edit button</label>
        <locationX>1188</locationX>
        <locationY>455</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Show_Edit_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Show_Edit_button_0_0</name>
        <label>Update Show Edit button</label>
        <locationX>1452</locationX>
        <locationY>455</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Show_Edit_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Show_Edit_button_3</name>
        <label>Update Show Edit button</label>
        <locationX>924</locationX>
        <locationY>455</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Show_Edit_button__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <startElementReference>Check_Status_Common_Workflow</startElementReference>
    <status>Active</status>
</Flow>
