force-app/main/default/flows/E_MOC_FN_Risk_assessment_Approver_send_back.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_A_MROA_TOC_1_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area A MROA-TOC 1-Senior</label>
        <locationX>147</locationX>
        <locationY>527</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_A_MROA_TOC_1_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_A_MROA_TOC_2_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area A MROA-TOC 2-Senior</label>
        <locationX>142</locationX>
        <locationY>675</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_A_MROA_TOC_2_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_B_MROB_TOC_4_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area B MROB-TOC 4-Senior</label>
        <locationX>368</locationX>
        <locationY>1098</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_B_MROB_TOC_4_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_B_MROB_U_SPP_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area B MROB-U-SPP-Senior</label>
        <locationX>289</locationX>
        <locationY>1039</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_B_MROB_U_SPP_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_B_MROB_U_TOP_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area B MROB-U-TOP-Senior</label>
        <locationX>484</locationX>
        <locationY>1151</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_B_MROB_U_TOP_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_C_MROC_TOC_3_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area C MROC-TOC 3-Senior</label>
        <locationX>739</locationX>
        <locationY>1137</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_C_MROC_TOC_3_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_C_MROC_TOC_5_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area C MROC-TOC 5-Senior</label>
        <locationX>918</locationX>
        <locationY>1139</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_C_MROC_TOC_5_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_D_MMLD_OIL_MOVEMENT_1_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area D MMLD-OIL MOVEMENT 1-Senior</label>
        <locationX>1541</locationX>
        <locationY>764</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_D_MMLD_OIL_MOVEMENT_1_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_D_MMLF_OFFSITE_1_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area D MMLF-OFFSITE 1-Senior</label>
        <locationX>1560</locationX>
        <locationY>898</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_D_MMLF_OFFSITE_1_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_E_MPOE_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area E MPOE-Senior</label>
        <locationX>1534</locationX>
        <locationY>581</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_E_MPOE_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_F_MPOF_LABRIX_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area F MPOF-LABRIX-Senior</label>
        <locationX>1186</locationX>
        <locationY>271</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_F_MPOF_LABRIX_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FN_Risk_Approval_send_back_to_ASM_Area_F_MPOF_Senior</name>
        <label>FN-Risk Approval send back to ASM-Area F MPOF-Senior</label>
        <locationX>1212</locationX>
        <locationY>386</locationY>
        <actionName>E_MOC_Application__c.FN_Risk_Approval_send_back_to_ASM_Area_F_MPOF_Senior</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Area</name>
        <label>Check Area</label>
        <locationX>526</locationX>
        <locationY>678</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Area_A_PlantSection_T1_Plant_1200_or_7200</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_A_MROA_TOC_1_Senior</targetReference>
            </connector>
            <label>Area A-PlantSection T1-Plant 1200 or 7200</label>
        </rules>
        <rules>
            <name>Area_A_PlantSection_T2_Plant_1200_or_3200_or_7200</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4) OR (1 AND 2 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_A_MROA_TOC_2_Senior</targetReference>
            </connector>
            <label>Area A-PlantSection T2-Plant 1200 or 3200 or 7200</label>
        </rules>
        <rules>
            <name>Area_B_PlantSection_T4_Plant_1200_or_3200_or_7200</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4) OR (1 AND 2 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_B_MROB_TOC_4_Senior</targetReference>
            </connector>
            <label>Area B-PlantSection T4-Plant 1200 or 3200 or 7200</label>
        </rules>
        <rules>
            <name>Area_B_PlantSection_UT_or_UT2_Plant_1200</name>
            <conditionLogic>(1 AND (2 OR 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_B_MROB_U_SPP_Senior</targetReference>
            </connector>
            <label>Area B-PlantSection UT or UT2-Plant 1200</label>
        </rules>
        <rules>
            <name>Area_B_PlantSection_UT_Plant_8200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_B_MROB_U_TOP_Senior</targetReference>
            </connector>
            <label>Area B-PlantSection UT-Plant 8200</label>
        </rules>
        <rules>
            <name>Area_C_PlantSection_T3_Plant_1200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_C_MROC_TOC_3_Senior</targetReference>
            </connector>
            <label>Area C-PlantSection T3-Plant 1200</label>
        </rules>
        <rules>
            <name>Area_C_PlantSection_T5_Plant_1200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_C_MROC_TOC_5_Senior</targetReference>
            </connector>
            <label>Area C-PlantSection T5-Plant 1200</label>
        </rules>
        <rules>
            <name>Area_D_PlantSection_OF_Plant_1200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_D_MMLD_OIL_MOVEMENT_1_Senior</targetReference>
            </connector>
            <label>Area D-PlantSection OF-Plant 1200</label>
        </rules>
        <rules>
            <name>Area_D_PlantSection_MO_Plant_1200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.PlantSection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Plant_of_Main_Work_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_D_MMLF_OFFSITE_1_Senior</targetReference>
            </connector>
            <label>Area D-PlantSection MO-Plant 1200</label>
        </rules>
        <rules>
            <name>Area_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_E_MPOE_Senior</targetReference>
            </connector>
            <label>Area E</label>
        </rules>
        <rules>
            <name>Area_F_7200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Maintenance_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_F_MPOF_LABRIX_Senior</targetReference>
            </connector>
            <label>Area F-7200</label>
        </rules>
        <rules>
            <name>Area_F_3200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Application_Record.Maintenance_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FN_Risk_Approval_send_back_to_ASM_Area_F_MPOF_Senior</targetReference>
            </connector>
            <label>Area F-3200</label>
        </rules>
    </decisions>
    <description>Update Area F</description>
    <interviewLabel>E-MOC FN Risk assessment Approver send back {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC - FN Risk assessment Approver send back</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_E_MOC_Application_Record</name>
        <label>Get E-MOC Application Record</label>
        <locationX>536</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Area</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>E_MOC_Application__c</object>
    </recordLookups>
    <startElementReference>Get_E_MOC_Application_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
