force-app/main/default/flows/E_MOC_Auto_Create_Task_in_Top_Space.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Member</name>
        <label>Assign Member</label>
        <locationX>490</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>CollectGroupMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Group_Member.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Group_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Public_Group_Member</name>
        <label>Assign Public Group Member</label>
        <locationX>1106</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>CollectGroupMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Public_Group.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Public_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_URL</name>
        <label>Assign URL</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://thaioil.lightning.force.com/lightning/r/E_MOC_Application__c/{!Record_ID}/view</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables</name>
        <label>Assign variables</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Record_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.E_MOC_Application__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Member</name>
        <label>Copy 1 of Assign Member</label>
        <locationX>1106</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>CollectGroupMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Group_Member.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Group_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Public_Group_Member</name>
        <label>Copy 1 of Assign Public Group Member</label>
        <locationX>490</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>CollectGroupMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Public_Group.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Public_Group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_or_Queue</name>
        <label>Check User or Queue</label>
        <locationX>226</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Get_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_to_ID_starts_with_005</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record_in_Top_Space</targetReference>
            </connector>
            <label>Assign to ID starts with 005</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_User_or_Queue</name>
        <label>Copy 1 of Check User or Queue</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Assign_to_ID_starts_with_005</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_in_Top_Space</targetReference>
            </connector>
            <label>Copy 1 of Assign to ID starts with 005</label>
        </rules>
    </decisions>
    <decisions>
        <name>New</name>
        <label>New?</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_or_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_User_or_Queue</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Change condition in start</description>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>E-MOC-Auto Create Task in Top Space {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC-Auto Create Task in Top Space</label>
    <loops>
        <name>Copy_1_of_Loop_Group_Member</name>
        <label>Copy 1 of Loop Group Member</label>
        <locationX>1018</locationX>
        <locationY>1079</locationY>
        <collectionReference>Copy_1_of_Get_Queue_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Get_Public_Group_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_Public_Group</name>
        <label>Copy 1 of Loop Public Group</label>
        <locationX>402</locationX>
        <locationY>1487</locationY>
        <collectionReference>Get_Public_Group_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Public_Group_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_User</name>
        <label>Copy 1 of Loop User</label>
        <locationX>1018</locationX>
        <locationY>1895</locationY>
        <collectionReference>Copy_1_of_Get_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Update_Record_in_Top_Space</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Group_Member</name>
        <label>Loop Group Member</label>
        <locationX>402</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_Queue_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Public_Group_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Public_Group</name>
        <label>Loop Public Group</label>
        <locationX>1018</locationX>
        <locationY>1487</locationY>
        <collectionReference>Copy_2_of_Get_Public_Group_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Public_Group_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Get_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_User</name>
        <label>Loop User</label>
        <locationX>402</locationX>
        <locationY>1895</locationY>
        <collectionReference>Get_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Create_Record_in_Top_Space</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Record_in_Top_Space</name>
        <label>Copy 1 of Create Record in Top Space</label>
        <locationX>490</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Loop_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>Get_OPP_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>$Record.E_MOC_Application__r.Requestor_Name_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL__c</field>
            <value>
                <elementReference>URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Loop_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OPP_Notification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_in_Top_Space</name>
        <label>Create Record in Top Space</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>Get_OPP_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>$Record.E_MOC_Application__r.Requestor_Name_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL__c</field>
            <value>
                <elementReference>URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>OPP_Notification__c</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Queue</name>
        <label>Copy 1 of Get Queue</label>
        <locationX>1018</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Queue_Member</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Queue_Member</name>
        <label>Copy 1 of Get Queue Member</label>
        <locationX>1018</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_Group_Member</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Queue.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_User</name>
        <label>Copy 1 of Get User</label>
        <locationX>1018</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectGroupMemberId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Public_Group_Member</name>
        <label>Copy 2 of Get Public Group Member</label>
        <locationX>1018</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Public_Group</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectGroupMember</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordLookups>
    <recordLookups>
        <name>Get_OPP_Application</name>
        <label>Get OPP Application</label>
        <locationX>754</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_variables</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>E-MOC Application</stringValue>
            </value>
        </filters>
        <object>OPP_Application__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group_Member</name>
        <label>Get Public Group Member</label>
        <locationX>402</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_Public_Group</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectGroupMember</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Member</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Member</name>
        <label>Get Queue Member</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_Member</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>402</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectGroupMemberId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Record_in_Top_Space</name>
        <label>Copy 1 of Update Record in Top Space</label>
        <locationX>1106</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Copy_1_of_Loop_User</targetReference>
        </connector>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OPP_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReferenceID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Loop_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>Get_OPP_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>$Record.E_MOC_Application__r.Requestor_Name_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL__c</field>
            <value>
                <elementReference>URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Copy_1_of_Loop_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OPP_Notification__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_in_Top_Space</name>
        <label>Update Record in Top Space</label>
        <locationX>666</locationX>
        <locationY>863</locationY>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OPP_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReferenceID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>Get_OPP_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.E_MOC_Application__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>$Record.E_MOC_Application__r.Requestor_Name_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL__c</field>
            <value>
                <elementReference>URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>OPP_Notification__c</object>
    </recordUpdates>
    <startElementReference>Get_OPP_Application</startElementReference>
    <status>Active</status>
    <variables>
        <name>CollectGroupMember</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectGroupMemberId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
