force-app/main/default/flows/FN_Create_Task_TA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Business_Hour</name>
        <label>Check Business Hour</label>
        <locationX>1210</locationX>
        <locationY>1261</locationY>
        <actionName>EMOC_TimelineFlowCalReminderDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_task_to_TA</targetReference>
        </connector>
        <inputParameters>
            <name>reminderDate</name>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Final_Duedate</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Business_Hour_0</name>
        <label>Check Business Hour</label>
        <locationX>501</locationX>
        <locationY>1252</locationY>
        <actionName>EMOC_TimelineFlowCalReminderDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_task_to_TA_0</targetReference>
        </connector>
        <inputParameters>
            <name>reminderDate</name>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Final_Duedate</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_TA</name>
        <label>Send email to TA</label>
        <locationX>947</locationX>
        <locationY>1499</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Next_Reminder_Date_c</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sfdc.r2@roundtwosolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_TA_0</name>
        <label>Send email to TA</label>
        <locationX>184</locationX>
        <locationY>1514</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Next_Reminder_Date_c_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyText_FN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sfdc.r2@roundtwosolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_FN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Date</name>
        <label>Assign Date</label>
        <locationX>1261</locationX>
        <locationY>1125</locationY>
        <assignmentItems>
            <assignToReference>Day</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_TA_Mandatory_Mapping.TA2_Name__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Business_Hour</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_0</name>
        <label>Assign Date</label>
        <locationX>486</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>Day</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline_0.Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_TA_Mandatory_Mapping_0.TA2_Name__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Business_Hour_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_CM_FN</name>
        <label>Check CM / FN</label>
        <locationX>648</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Common_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_E_MOC_Application_Record</targetReference>
            </connector>
            <label>CM</label>
        </rules>
        <rules>
            <name>FN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Functional_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_E_MOC_Application_Record_0</targetReference>
            </connector>
            <label>FN</label>
        </rules>
    </decisions>
    <description>Check Business hour</description>
    <formulas>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Day}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline.Day__c}</expression>
    </formulas>
    <formulas>
        <name>F_Get_Timeline_1</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline_0.Day__c}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>FN Create Task TA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC Create Task TA 2</label>
    <loops>
        <name>Loop_TA_Mandatory_Mapping</name>
        <label>Loop TA Mandatory Mapping</label>
        <locationX>825</locationX>
        <locationY>1036</locationY>
        <collectionReference>Get_E_MOC_TA_Mandatory_Mapping</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_E_MOC_TA_Mandatory_Mapping</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_TA_Mandatory_Mapping_0</name>
        <label>Loop TA Mandatory Mapping</label>
        <locationX>50</locationX>
        <locationY>1033</locationY>
        <collectionReference>Get_E_MOC_TA_Mandatory_Mapping_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_E_MOC_TA_Mandatory_Mapping_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_to_TA</name>
        <label>Create task to TA</label>
        <locationX>1068</locationX>
        <locationY>1283</locationY>
        <connector>
            <targetReference>Send_email_to_TA</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Final_Duedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Gat_TA_Mandatory_Master.User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>TA Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_task_to_TA_0</name>
        <label>Create task to TA</label>
        <locationX>293</locationX>
        <locationY>1278</locationY>
        <connector>
            <targetReference>Send_email_to_TA_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Final_Duedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Gat_TA_Mandatory_Master_0.User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>TA Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Gat_TA_Mandatory_Master</name>
        <label>Gat TA Mandatory Master</label>
        <locationX>1027</locationX>
        <locationY>907</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline</targetReference>
        </connector>
        <filters>
            <field>Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_TA_Mandatory_Mapping.TA2_Indicator__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_TA_Mandatory_Master__c</object>
    </recordLookups>
    <recordLookups>
        <name>Gat_TA_Mandatory_Master_0</name>
        <label>Gat TA Mandatory Master</label>
        <locationX>252</locationX>
        <locationY>902</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timeline_0</targetReference>
        </connector>
        <filters>
            <field>Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_TA_Mandatory_Mapping_0.TA2_Indicator__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_TA_Mandatory_Master__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Application_Record</name>
        <label>Get E-MOC Application Record</label>
        <locationX>827</locationX>
        <locationY>665</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>E_MOC_Application__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_Application_Record_0</name>
        <label>Get E-MOC Application Record</label>
        <locationX>52</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>E_MOC_Application__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_TA_Mandatory_Mapping</name>
        <label>Get E-MOC TA Mandatory Mapping</label>
        <locationX>827</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_TA_Mandatory_Mapping</targetReference>
        </connector>
        <filters>
            <field>E_MOC_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Already_sent_a_noti__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>E_MOC_TA_Mandatory_Mapping__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_E_MOC_TA_Mandatory_Mapping_0</name>
        <label>Get E-MOC TA Mandatory Mapping</label>
        <locationX>52</locationX>
        <locationY>837</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_TA_Mandatory_Mapping_0</targetReference>
        </connector>
        <filters>
            <field>E_MOC_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Already_sent_a_noti__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>E_MOC_TA_Mandatory_Mapping__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>1143</locationX>
        <locationY>783</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_E_MOC_TA_Mandatory_Mapping</targetReference>
        </connector>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_0</name>
        <label>Get Task</label>
        <locationX>368</locationX>
        <locationY>778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_E_MOC_TA_Mandatory_Mapping_0</targetReference>
        </connector>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_Record_0.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline</name>
        <label>Get Timeline</label>
        <locationX>1261</locationX>
        <locationY>907</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Date</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_Record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_Record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Timeline_0</name>
        <label>Get Timeline</label>
        <locationX>486</locationX>
        <locationY>902</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Date_0</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_Record_0.Status_Functional_Override__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_Record_0.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Application_Record_0.RAM_Total__c</elementReference>
            </value>
        </filters>
        <object>E_MOC_Timeline__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Next_Reminder_Date_c</name>
        <label>Next_Reminder_Date__c</label>
        <locationX>826</locationX>
        <locationY>1283</locationY>
        <connector>
            <targetReference>Loop_TA_Mandatory_Mapping</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Next_Reminder_Date_c_0</name>
        <label>Next_Reminder_Date__c</label>
        <locationX>51</locationX>
        <locationY>1278</locationY>
        <connector>
            <targetReference>Loop_TA_Mandatory_Mapping_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Reminder_Date__c</field>
            <value>
                <elementReference>F_Get_Timeline_1</elementReference>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_E_MOC_TA_Mandatory_Mapping</name>
        <label>Update E-MOC TA Mandatory Mapping</label>
        <locationX>1026</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>Gat_TA_Mandatory_Master</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_TA_Mandatory_Mapping.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Already_sent_a_noti__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_TA_Mandatory_Mapping__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_E_MOC_TA_Mandatory_Mapping_0</name>
        <label>Update E-MOC TA Mandatory Mapping</label>
        <locationX>251</locationX>
        <locationY>1040</locationY>
        <connector>
            <targetReference>Gat_TA_Mandatory_Master_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_TA_Mandatory_Mapping_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Already_sent_a_noti__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>E_MOC_TA_Mandatory_Mapping__c</object>
    </recordUpdates>
    <status>Active</status>
    <textTemplates>
        <name>BodyText</name>
        <text>MOC Title : {!Get_E_MOC_Application_Record.E_MOC_Title__c}
Functional Location : {!Get_E_MOC_Application_Record.Functional_Location__r.Name}
FL Description : {!Get_E_MOC_Application_Record.Functional_Location_Description__c}
Category Type : {!Get_E_MOC_Application_Record.Category_Type__c}
Status : {!Get_E_MOC_Application_Record.Status_Common_Workflow__c}
Link: https://thaioil.lightning.force.com/lightning/r/E_MOC_Application__c/{!Get_E_MOC_Application_Record.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>BodyText_FN</name>
        <text>Functional Location : {!Get_E_MOC_Application_Record_0.Functional_Location__r.Name}
FL Description : {!Get_E_MOC_Application_Record_0.Functional_Location_Description__c}
Category Type : {!Get_E_MOC_Application_Record_0.Category_Type__c}
Status : {!Get_E_MOC_Application_Record_0.Status_Common_Workflow__c}
Link: https://thaioil.lightning.force.com/lightning/r/E_MOC_Application__c/{!Get_E_MOC_Application_Record_0.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <text>[E-MOC Application] Please perform technical review and assign TA3 (if required); Common Workflow/ {!Get_E_MOC_Application_Record.Name}/{!Get_E_MOC_Application_Record.Functional_Location__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_FN</name>
        <text>[E-MOC Application] Please Review and Approve Technical term of Functional Override/ {!Get_E_MOC_Application_Record_0.Name}/{!Get_E_MOC_Application_Record_0.Functional_Location__r.Name}</text>
    </textTemplates>
    <variables>
        <name>Day</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Final_Duedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Recipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
