force-app/main/default/flows/ORTLEditActionButton.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assignAction</name>
        <label>assignAction</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>recAction.DueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAction.Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lkNotification.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAction.TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plTaskType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAction.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAction.Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtSection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAction.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lkOwner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAction.TaskTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtTaskTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAction.TaskDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtTaskDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNullSection</name>
        <label>assignNullSection</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>txtSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ORTLNullUserSec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSection</name>
        <label>assignSection</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>txtSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPISUser.SECTIONS__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkSection</name>
        <label>checkSection</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>assignSection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Section != Null</defaultConnectorLabel>
        <rules>
            <name>nullSection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getPISUser.SECTIONS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPISUser.SECTIONS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignNullSection</targetReference>
            </connector>
            <label>Section = Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>valTaskType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TaskType__c</picklistField>
        <picklistObject>ORTLAction__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>ORTL Edit Action Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ORTL Edit Action Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAction</name>
        <label>getAction</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenEdit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ORTLAction__c</object>
    </recordLookups>
    <recordLookups>
        <name>getPISUser</name>
        <label>getPISUser</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSection</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lkOwner.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MAINPOSITION__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PISUsers__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SECTIONS__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateAction</name>
        <label>updateAction</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>screenFinish</targetReference>
        </connector>
        <inputReference>recAction</inputReference>
    </recordUpdates>
    <screens>
        <name>screenEdit</name>
        <label>screenEdit</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getPISUser</targetReference>
        </connector>
        <fields>
            <name>screenEdit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screenEdit_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screenEdit_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenFinish</name>
        <label>screenFinish</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFinish</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Your Action No. &lt;strong&gt;{!getAction.Name}&lt;/strong&gt; has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>getAction</startElementReference>
    <status>Active</status>
    <variables>
        <name>recAction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ORTLAction__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
