force-app/main/default/flows/Subflow_Additional_Recipient.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignIdAndEmail</name>
        <label>AssignIdAndEmail</label>
        <locationX>385</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>varIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecipientCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUser</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkemailandId</name>
        <label>checkemailandId</label>
        <locationX>613</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>LoopUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignIdAndEmail</targetReference>
            </connector>
            <label>check id</label>
        </rules>
    </decisions>
    <interviewLabel>Subflow - Additional Recipient {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Additional Recipient</label>
    <loops>
        <name>LoopUser</name>
        <label>LoopUser</label>
        <locationX>840</locationX>
        <locationY>296</locationY>
        <collectionReference>varUserRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkemailandId</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>LoopUser</startElementReference>
    <status>Active</status>
    <variables>
        <name>varIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecipientCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
