force-app/main/default/flows/Subflow_Custom_Split_Text_to_Collection.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignLastValue</name>
        <label>AssignLastValue</label>
        <locationX>841</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>varTextOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTextInput</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignSplitValue</name>
        <label>AssignSplitValue</label>
        <locationX>1117</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>varTextOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fmlSplitValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TrimRemainingValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TrimRemainingValue</name>
        <label>TrimRemainingValue</label>
        <locationX>1117</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>varTextInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlTriming</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_Input_Remaining</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_Input_Remaining</name>
        <label>Checking Input Remaining</label>
        <locationX>832</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>AssignSplitValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>still found value</defaultConnectorLabel>
        <rules>
            <name>not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlFindValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLastValue</targetReference>
            </connector>
            <label>not found</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlFindValue</name>
        <dataType>Number</dataType>
        <expression>FIND({!varSymbolToSplit}, {!varTextInput})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmlSplitValue</name>
        <dataType>String</dataType>
        <expression>LEFT({!varTextInput}, FIND({!varSymbolToSplit}, {!varTextInput})-1)</expression>
    </formulas>
    <formulas>
        <name>fmlTriming</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!varTextInput}, LEN({!varTextInput}) - FIND({!varSymbolToSplit}, {!varTextInput})))</expression>
    </formulas>
    <interviewLabel>Subflow - Custom SplitText to Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Custom Split Text to Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Checking_Input_Remaining</startElementReference>
    <status>Active</status>
    <variables>
        <name>varSymbolToSplit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextOutputCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
