force-app/main/default/flows/Subflow_Check_Bussiness_Unit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignBussinessUnit</name>
        <label>AssignBussinessUnit</label>
        <locationX>1213</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>varBusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getBuProfile.BusinessUnit__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignBussinessUnit_0</name>
        <label>AssignBussinessUnit</label>
        <locationX>1211</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>varBusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TX</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignBussinessUnitForAllToLABIX</name>
        <label>AssignBussinessUnitForAllToLABIX</label>
        <locationX>844</locationX>
        <locationY>901</locationY>
        <assignmentItems>
            <assignToReference>varBusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LABIX</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignBussinessUnitForAllToTOP</name>
        <label>AssignBussinessUnitForAllToTOP</label>
        <locationX>657</locationX>
        <locationY>901</locationY>
        <assignmentItems>
            <assignToReference>varBusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TOP</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignBussinessUnitForAllToTX</name>
        <label>AssignBussinessUnitForAllToTX</label>
        <locationX>1022</locationX>
        <locationY>901</locationY>
        <assignmentItems>
            <assignToReference>varBusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TX</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DecisionUnitForAllBu</name>
        <label>DecisionUnitForAllBu</label>
        <locationX>832</locationX>
        <locationY>714</locationY>
        <defaultConnector>
            <targetReference>AssignBussinessUnitForAllToTX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TX</defaultConnectorLabel>
        <rules>
            <name>TOP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSalesOrg</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSalesOrg</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1300</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSalesOrg</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1400</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBussinessUnitForAllToTOP</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>LABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSalesOrg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1700</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBussinessUnitForAllToLABIX</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAllBusinessUnit</name>
        <label>isAllBusinessUnit</label>
        <locationX>832</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>AssignBussinessUnit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllBusinessUnit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getBuProfile.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionUnitForAllBu</targetReference>
            </connector>
            <label>AllBusinessUnit</label>
        </rules>
        <rules>
            <name>NO_metadata_cover_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getBuProfile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBussinessUnit_0</targetReference>
            </connector>
            <label>NO metadata (cover case)</label>
        </rules>
    </decisions>
    <interviewLabel>Subflow - Check Bussiness Unit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Check Bussiness Unit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getBuProfile</name>
        <label>getBuProfile</label>
        <locationX>842</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isAllBusinessUnit</targetReference>
        </connector>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProfile.Name</elementReference>
            </value>
        </filters>
        <object>CTRBuProfile__mdt</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getProfile</name>
        <label>getProfile</label>
        <locationX>843</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBuProfile</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProfileId</elementReference>
            </value>
        </filters>
        <object>Profile</object>
    </recordLookups>
    <startElementReference>getProfile</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>TOP</stringValue>
        </value>
    </variables>
    <variables>
        <name>varProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
