force-app/main/default/flows/subflow_check_duplicate_items_product.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_product_match</name>
        <label>assign product match</label>
        <locationX>224</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>varOutputMatchProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCustomerCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_product_match_0</name>
        <label>assign product match</label>
        <locationX>1472</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>varOutputMatchProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSupplierCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBlankCollection</name>
        <label>AssignBlankCollection</label>
        <locationX>844</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>varBlankTextCollection</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopInputProduct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Match_Product</name>
        <label>Check Match Product</label>
        <locationX>836</locationX>
        <locationY>1100</locationY>
        <defaultConnector>
            <targetReference>LoopRelatedItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Product_Changed_And_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputFieldChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopRelatedItem.InterestedProductTypeAsCustomerTOP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Related_Record_Product_Customer</targetReference>
            </connector>
            <label>Customer Product Changed And Match</label>
        </rules>
        <rules>
            <name>Supplier_Product_Changed_And_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputFieldChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputTriggerItemRecord.InterestedProductTypeAsSupplierTOP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Related_Record_Product_Supplier</targetReference>
            </connector>
            <label>Supplier Product Changed And Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckInputRecord</name>
        <label>CheckInputRecord</label>
        <locationX>833</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>input_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputProductChanged</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputTriggerItemRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputFieldChanged</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedItemRecordCollection</targetReference>
            </connector>
            <label>input found</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Customer_Product_Match</name>
        <label>is Customer Product Match</label>
        <locationX>140</locationX>
        <locationY>1050</locationY>
        <defaultConnector>
            <targetReference>LoopCustomerCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match_Customer_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInputProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopCustomerCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_product_match</targetReference>
            </connector>
            <label>match Customer Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_found_Related_Item</name>
        <label>is found Related Item?</label>
        <locationX>834</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>related_item_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedItemRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>split_Input_product</targetReference>
            </connector>
            <label>related item found</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_related_customer_product_found</name>
        <label>is related customer product found</label>
        <locationX>524</locationX>
        <locationY>1052</locationY>
        <defaultConnector>
            <targetReference>LoopRelatedItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_related_customer_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Split_Related_Record_Product_Customer.varTextOutputCollection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varBlankTextCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopCustomerCollection</targetReference>
            </connector>
            <label>found related customer product</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_related_Supplier_product_found_0</name>
        <label>is related Supplier product found</label>
        <locationX>1195</locationX>
        <locationY>1059</locationY>
        <defaultConnector>
            <targetReference>LoopRelatedItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_related_Supplier_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Split_Related_Record_Product_Customer.varTextOutputCollection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varBlankTextCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopSupplierCollection</targetReference>
            </connector>
            <label>found related Supplier product</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Supplier_Product_Match</name>
        <label>is Supplier Product Match</label>
        <locationX>1552</locationX>
        <locationY>1049</locationY>
        <defaultConnector>
            <targetReference>LoopSupplierCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match_Supplier_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInputProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopSupplierCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_product_match_0</targetReference>
            </connector>
            <label>match Supplier Product</label>
        </rules>
    </decisions>
    <interviewLabel>subflow - check duplicate items product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>subflow - check duplicate items product</label>
    <loops>
        <name>LoopCustomerCollection</name>
        <label>LoopCustomerCollection</label>
        <locationX>319</locationX>
        <locationY>1046</locationY>
        <collectionReference>Split_Related_Record_Product_Customer.varTextOutputCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_Customer_Product_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopRelatedItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopInputProduct</name>
        <label>LoopInputProduct</label>
        <locationX>840</locationX>
        <locationY>817</locationY>
        <collectionReference>split_Input_product.varTextOutputCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopRelatedItem</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopRelatedItem</name>
        <label>LoopRelatedItem</label>
        <locationX>842</locationX>
        <locationY>938</locationY>
        <collectionReference>getRelatedItemRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Match_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopInputProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSupplierCollection</name>
        <label>LoopSupplierCollection</label>
        <locationX>1399</locationX>
        <locationY>1050</locationY>
        <collectionReference>Split_Related_Record_Product_Supplier.varTextOutputCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_Supplier_Product_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopRelatedItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedItemRecordCollection</name>
        <label>getRelatedItemRecordCollection</label>
        <locationX>840</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_found_Related_Item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>InputTriggerItemRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputTriggerItemRecord.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CTRRequestFormHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputTriggerItemRecord.CTRRequestFormHeader__c</elementReference>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
    </recordLookups>
    <startElementReference>CheckInputRecord</startElementReference>
    <status>Active</status>
    <subflows>
        <name>split_Input_product</name>
        <label>split Input product</label>
        <locationX>840</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>AssignBlankCollection</targetReference>
        </connector>
        <flowName>Subflow_Custom_Split_Text_to_Collection</flowName>
        <inputAssignments>
            <name>varSymbolToSplit</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTextInput</name>
            <value>
                <elementReference>InputProductChanged</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Split_Related_Record_Product_Customer</name>
        <label>Split Related Record Product Customer</label>
        <locationX>703</locationX>
        <locationY>1239</locationY>
        <connector>
            <targetReference>is_related_customer_product_found</targetReference>
        </connector>
        <flowName>Subflow_Custom_Split_Text_to_Collection</flowName>
        <inputAssignments>
            <name>varSymbolToSplit</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTextInput</name>
            <value>
                <elementReference>LoopRelatedItem.InterestedProductTypeAsCustomerTOP__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Split_Related_Record_Product_Supplier</name>
        <label>Split Related Record Product Supplier</label>
        <locationX>988</locationX>
        <locationY>1266</locationY>
        <connector>
            <targetReference>is_related_Supplier_product_found_0</targetReference>
        </connector>
        <flowName>Subflow_Custom_Split_Text_to_Collection</flowName>
        <inputAssignments>
            <name>varSymbolToSplit</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTextInput</name>
            <value>
                <elementReference>LoopRelatedItem.InterestedProductTypeAsSupplierTOP__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>InputFieldChanged</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputProductChanged</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputTriggerItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormItem__c</objectType>
    </variables>
    <variables>
        <name>varBlankTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutputMatchProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
