force-app/main/default/flows/Update_Status_to_Return_to_Normal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckGroupC</name>
        <label>CheckGroupC</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckGroup</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Status_Functional_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation#1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.MOS_for_maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_E_MOC_Record.Safeguarding_force_signal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord</targetReference>
            </connector>
            <label>CheckGroup</label>
        </rules>
    </decisions>
    <interviewLabel>Update Status to Return to Normal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FN-Update Status to Return to Normal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_E_MOC_Record</name>
        <label>Get E-MOC Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckGroupC</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>E_MOC_Application__c</object>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_E_MOC_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Functional_Override__c</field>
            <value>
                <stringValue>Return to normal condition</stringValue>
            </value>
        </inputAssignments>
        <object>E_MOC_Application__c</object>
    </recordUpdates>
    <startElementReference>Get_E_MOC_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
